@import 'variables/material-colors';

$color-primary: $mdc-light-blue-500;
$color-primary-light: $mdc-light-blue-400;
$color-primary-dark: $mdc-light-blue-600;

$color-alt: $mdc-blue-grey-500;
$color-alt-light: $mdc-blue-grey-400;
$color-alt-dark: $mdc-blue-grey-700;

$color-selector: #fff;

$color-warning: $mdc-orange-500;
$color-danger: $mdc-red-500;
$color-success: $mdc-green-500;
$color-info: $mdc-cyan-500;
$color-royal: $mdc-purple-500;

$color-warning-light: $mdc-orange-400;
$color-danger-light: $mdc-red-400;
$color-success-light: $mdc-green-400;
$color-info-light: $mdc-cyan-400;
$color-royal-light: $mdc-purple-400;

$color-warning-dark: $mdc-orange-600;
$color-danger-dark: $mdc-red-600;
$color-success-dark: $mdc-green-600;
$color-info-dark: $mdc-cyan-600;
$color-royal-dark: $mdc-purple-600;

$color-light-light: $mdc-grey-50;
$color-light: $mdc-grey-100;
$color-light-dark: $mdc-grey-200;
$color-medium-light: $mdc-grey-300;
$color-medium: $mdc-grey-400;
$color-medium-dark: $mdc-grey-500;
$color-dark-light: $mdc-grey-700;
$color-dark: $mdc-grey-800;
$color-dark-dark: $mdc-grey-900;

// Social Colors
$color-twitter: #00aced;
$color-googleplus: #dd4b39;
$color-rss: #ef922f;
$color-facebook: #3b5998;
$color-youtube: #bb0000;
$color-linkedin: #007bb6;
$color-instagram: #e4405f;
$color-pinterest: #cb2027;
$color-wordpress: #4597be;
$color-git: #f54c27;
$color-github: #333;
$color-flickr: #ff0084;
$color-stack-overflow: #bbbbbb;
$color-vine: #00b48a;
$color-dribbble: #f26798;
$color-foursquare: #0072b1;
$color-tumblr: #32506d;
$color-vk: #4c75a3;
$color-reddit: #ff5700;
$color-whatsapp: #25D366;
$color-soundcloud: #ff3300;
$color-dropbox: #007ee5;
$color-vimeo: #1ab7ea;
$color-slack: #3aaf85;
$color-skype: #00AFF0;


// Spacing
$vertical-margin: 20px;
$vertical-margin-lg: 40px;
$vertical-margin-sm: 10px;

$color-list: (light: $color-light, dark: $color-dark, primary: $color-primary, info: $color-info, royal: $color-royal, warning: $color-warning, danger: $color-danger, success: $color-success);
