@import 'variables/material-colors';

body {
    background-color: $mdc-blue-grey-100;

    .sb-site-container {
        max-width: 1200px;
        margin: 0 auto;
        box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14),
        0 1px 18px 0 rgba(0, 0, 0, 0.12),
        0 3px 5px -1px rgba(0, 0, 0, 0.2);
    }
}
