
/* --------------------------------------------------------------------------*/
/* Helper classes
/* --------------------------------------------------------------------------*/

.no-m {
    margin: 0 !important;
}

.no-mt {
    margin-top: 0 !important;
}

.no-mb {
    margin-bottom: 0 !important;
}

.no-ml {
    margin-left: 0 !important;
}

.no-mr {
    margin-right: 0 !important;
}

.no-p {
    padding: 0 !important;
}

.no-pt {
    padding-top: 0 !important;
}

.no-pb {
    padding-bottom: 0 !important;
}

.no-pl {
    padding-left: 0 !important;
}

.no-pr {
    padding-right: 0 !important;
}

.mb-1 {
    margin-bottom: 1rem !important;
}

.mb-2 {
    margin-bottom: 2rem !important;
}

.mb-3 {
    margin-bottom: 3rem !important;
}

.mb-4 {
    margin-bottom: 4rem !important;
}

.mb-6 {
    margin-bottom: 6rem !important;
}

.mt-1 {
    margin-top: 1rem !important;
}

.mt-2 {
    margin-top: 2rem !important;
}

.mt-4 {
    margin-top: 4rem !important;
}

.mt-6 {
    margin-top: 6rem !important;
}

.mr-1 {
    margin-right: 1rem !important;
}

.mr-2 {
    margin-right: 2rem !important;
}

.mr-4 {
    margin-right: 4rem !important;
}

.mr-6 {
    margin-right: 6rem !important;
}

.ml-1 {
    margin-left: 1rem !important;
}

.ml-2 {
    margin-left: 2rem !important;
}

.ml-4 {
    margin-left: 4rem !important;
}

.ml-6 {
    margin-left: 6rem !important;
}

.pl-1 {
    padding-left: 1rem !important;
}

.pr-1 {
    padding-right: 1rem !important;
}


.pt-2 {
    padding-top: 2rem !important;
}

.pb-2 {
    padding-bottom: 2rem !important;
}

.pt-1 {
    padding-top: 1rem !important;
}

.pb-1 {
    padding-bottom: 1rem !important;
}

.pr-2 {
    padding-right: 2rem !important;
}

.pl-2 {
    padding-left: 2rem !important;
}

.pt-4 {
    padding-top: 4rem !important;
}

.pb-4 {
    padding-bottom: 4rem !important;
}

.pr-4 {
    padding-right: 4rem !important;
}

.pl-4 {
    padding-left: 4rem !important;
}

.pt-6 {
    padding-top: 6rem !important;
}

.pb-6 {
    padding-bottom: 6rem !important;
}

.pr-6 {
    padding-right: 6rem !important;
}

.pl-6 {
    padding-left: 6rem !important;
}

.mt--40 {
    margin-top: -40px;
}

.handwriting {
    font-family: 'Indie Flower', cursive;
}

.small-caps {
    font-variant: small-caps;
}

.uppercase {
    text-transform: uppercase;
}

.right-line {
    position: relative;
    z-index: 1;

    overflow: hidden;

    margin: 30px 0;
    &:after {
        position: absolute;
        top: 55%;

        overflow: hidden;

        width: 100%;
        height: 1px;

        content: '\a0';

        border-left: solid 20px #fff;
        background-color: #ddd;
    }
}

.imgborder {
    padding: 5px;

    border: solid 1px #ddd;
}

.alignleft {
    float: left;

    margin: 0 10px 10px 0;
}

.alignright {
    float: right;

    margin: 0 0 10px 10px;
}

.aligncenter {
    display: block;

    margin: 10px auto;
}

.primary-color {
    color: $color-primary;
}

.color-light {
    color: $color-light;
}

.color-primary-light {
    color: $color-primary-light;
}

.color-light-transparent {
    color: rgba(255, 255, 255, .6);
}

.color-medium {
    color: $color-medium;

    strong {
        color: #fff;
    }
}

.no-shadow {
    box-shadow: none !important;
}

.font-smoothing {
    @include font-smoothing;
}

.separate-icons {
    .btn-circle {
        margin: 5px;
    }
}

.text-light {
    font-weight: 200 !important;

    strong {
        font-weight: 300 !important;
    }
}

.text-normal,
.fw-400 {
    font-weight: 400 !important;

    strong {
        font-weight: 500 !important;
    }
}

.text-right {
    text-align: right !important;
}

.text-small {
    font-size: 1.2rem;
}

.mr-05 {
    margin-right: 5px;
}

.mt-05 {
    margin-top: 5px;
}


.fw-300 {
    font-weight: 300 !important;

    strong {
        font-weight: 400;
    }
}

.fw-500 {
    font-weight: 500;
}

.color-white {
    color: #fff !important;
}

.shadow-2dp {
    @include shadow-2dp();
}

.shadow-3dp {
    @include shadow-3dp();
}

.shadow-6dp {
    @include shadow-6dp();
}

.zoom-img {
    overflow: hidden;

    img {
        transition: all ease 0.6s;
    }

    &:hover,
    &:focus {
        & img {
            transform: scale(1.15);
        }
    }
}

.shadow-2dp {
    @include shadow-2dp();
}

.shadow-3dp {
    @include shadow-3dp();
}

.shadow-6dp {
    @include shadow-6dp();
}

.mw-800 {
    max-width: 800px;
}

.font-big {
    font-size: 6rem;
}

@media (min-width: 992px) and (max-width: 1199px) {
    .no-mr-md {
        margin-right: 0 !important;
    }

    .mb-4-md {
        margin-bottom: 4rem !important;
    }
}

.bg-alt {
    background-color: $color-alt;
    color: #fff;
}

.index-1 {
    position: relative;
    z-index: 1 !important;
}

.index-2 {
    position: relative;
    z-index: 2 !important;
}

.bg-transparent {
    background-color: transparent !important;
}

.img-avatar-circle {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: solid 5px #fff;
    @include shadow-3dp;
    margin: 0 auto;
    display: block;
    transform: translateY(40px) rotate(0deg);
    transition: all ease 0.5s;
    position: relative;
    z-index: 1;

    &:hover {
        transform: translateY(40px) rotate(360deg);
        @include shadow-6dp;
    }
}

.ms-tag {
    background-color: $color-alt;
    border-radius: 50px;
    color: #fff;
    padding: 1px 12px;
    font-size: 1.2rem;
    margin: 4px 2px;
    display: inline-block;
    transition: all ease 0.5s;
    font-weight: 500;

    &:hover {
        color: #fff;
        background-color: darken($color-alt, 5%);
    }

    @each $n, $c in $color-list {
        &.ms-tag-#{$n} {
            background-color: $c;

            &:hover {
                background-color: darken($c, 10%);
            }
        }
    }
}

.animate-icon {
    i {
        transition: all ease 0.5s;
    }

    &:hover {
        i {
            transform: translateX(10px);
        }
    }
}

.bs-glyphicons-list {
    list-style-type: none;
    padding-left: 0;

    li {
        display: inline-block;
        text-align: center;
        max-width: 100px;
        margin: 10px 5px;
        vertical-align: top;

        .glyphicon {
            display: block;
            font-size: 3rem;
            margin-bottom: 1rem;
        }
    }
}

.ms-avatar {
    border-radius: 100%;
    width: 100px;
    height: 100px;
    @include shadow-2dp;
    border: solid 3px #fff;
}

.bg-opaque-1 {
    background-color: rgba(0,0,0,.1);
}

.bg-opaque-2 {
    background-color: rgba(0,0,0,.2);
}

.bg-opaque-3 {
    background-color: rgba(0,0,0,.3);
}

.bg-opaque-4 {
    background-color: rgba(0,0,0,.4);
}

.bg-opaque-5 {
    background-color: rgba(0,0,0,.5);
}

.bg-opaque-7 {
    background-color: rgba(0,0,0,.7);
}

.bg-opaque-8 {
    background-color: rgba(0,0,0,.8);
}

.bg-opaque-light-1 {
    background-color: rgba(255,255,255,.1);
}

.bg-opaque-light-2 {
    background-color: rgba(255,255,255,.2);
}

.bg-opaque-light-3 {
    background-color: rgba(255,255,255,.3);
}

.bg-opaque-light-4 {
    background-color: rgba(255,255,255,.4);
}

.bg-opaque-light-5 {
    background-color: rgba(255,255,255,.5);
}

.bg-opaque-light-7 {
    background-color: rgba(255,255,255,.7);
}

.bg-opaque-light-8 {
    background-color: rgba(255,255,255,.8);
}

.intro-hero-full {
    position: relative;
    width: 100%;

    .intro-hero-full-content {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 100%;
        transform: translate(-50%, -50%);
        z-index: 1;
    }
}
