//
// Material Design Typography
// --------------------------------------------------

//** Basic variables
$padding-base: 8px;

//** Base font settings
$font-family-sans-serif:  'Roboto', 'Noto Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-family-serif:       'Roboto Slab', 'Noto Serif', Georgia, 'Times New Roman', Times, serif;
$font-family-monospace:   'Roboto Mono', Menlo, Monaco, Consolas, 'Courier New', monospace;

$line-height-base:        20; // 20
$line-height-computed:    ($line-height-base) + px; // 20px

//** Typographic Scale
$font-size-display-4:       112;
$font-size-display-3:       56;
$font-size-display-2:       45;
$font-size-display-1:       34;
$font-size-headline:        24;
$font-size-title:           20;
$font-size-subhead-2:       16;
$font-size-subhead-1:       16;
$font-size-body-2:          14;
$font-size-body-1:          14;
$font-size-menu:            13;
$font-size-caption:         12;
$font-size-button:          14;

//** Basic Styles
$font-weight-display-4:     300;
$font-weight-display-3:     400;
$font-weight-display-2:     400;
$font-weight-display-1:     400;
$font-weight-headline:      400;
$font-weight-title:         500;
$font-weight-subhead-2:     400;
$font-weight-subhead-1:     400;
$font-weight-body-2:        500;
$font-weight-body-1:        400;
$font-weight-menu:          400;
$font-weight-caption:       400;
$font-weight-button:        500;

//** Line Height
$line-height-display-4:     128;
$line-height-display-3:     84;
$line-height-display-2:     48;
$line-height-display-1:     40;
$line-height-headline:      32;
$line-height-title:         28;
$line-height-subhead-2:     28;
$line-height-subhead-1:     24;
$line-height-body-2:        24;
$line-height-body-1:        20;
$line-height-menu:          20;
$line-height-caption:       20;
$line-height-button:        20;

//** Tracking and kerning
$letter-spacing-display-4:  -10;
$letter-spacing-display-3:  -5;
$letter-spacing-display-2:  0;
$letter-spacing-display-1:  0;
$letter-spacing-headline:   0;
$letter-spacing-title:      5;
$letter-spacing-subhead-2:  10;
$letter-spacing-subhead-1:  10;
$letter-spacing-body-2:     10;
$letter-spacing-body-1:     10;
$letter-spacing-menu:       10;
$letter-spacing-caption:    20;
$letter-spacing-button:     10;

//** Basic colors/Color contrast
$font-color-display-4:      $mdc-black-dark;
$font-color-display-3:      $mdc-black-dark;
$font-color-display-2:      $mdc-black-dark;
$font-color-display-1:      $mdc-black-dark;
$font-color-headline:       $mdc-black-darker;
$font-color-title:          $mdc-black-darker;
$font-color-subhead-2:      $mdc-black-darker;
$font-color-subhead-1:      $mdc-black-darker;
$font-color-body-2:         $mdc-black-darker;
$font-color-body-1:         $mdc-black-darker;
$font-color-caption:        $mdc-black-dark;
$font-color-label:          $mdc-black-darker;
$font-color-menu:           $mdc-black-darker;
$font-color-button:         $mdc-black-darker;

//** Inverse colors
$font-color-inverse-display-4:      $mdc-white-dark;
$font-color-inverse-display-3:      $mdc-white-dark;
$font-color-inverse-display-2:      $mdc-white-dark;
$font-color-inverse-display-1:      $mdc-white-dark;
$font-color-inverse-headline:       $mdc-white-darker;
$font-color-inverse-title:          $mdc-white-darker;
$font-color-inverse-subhead-2:      $mdc-white-darker;
$font-color-inverse-subhead-1:      $mdc-white-darker;
$font-color-inverse-body-2:         $mdc-white-darker;
$font-color-inverse-body-1:         $mdc-white-darker;
$font-color-inverse-caption:        $mdc-white-dark;
$font-color-inverse-label:          $mdc-white-darker;
$font-color-inverse-menu:           $mdc-white-darker;
$font-color-inverse-button:         $mdc-white-darker;
