.intro-fixed {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 0;

    .intro-fixed-content {
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &.intro-fixed-static {
        position: static;

        .intro-fixed-content {
            position: static;
            transform: none;

            h1 {
                margin-top: 0;
            }
        }
    }
}

.intro-full {

    position: relative;
    overflow: hidden;

    .intro-full-content {
        padding-top: 60px;
        position: absolute;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &.intro-full-content-static {
            position: static;
            transform: none;

            h1 {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 767px) {
    .intro-fixed {
        .intro-fixed-content {
            padding-top: 60px;
        }
    }
}

.ms-lead-navbar-bottom {
    height: 80px;
    position: relative;

    .container {
        position: relative;
    }

    .navbar-nav {
        display: block !important;
        float: none !important;
        text-align: center;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;


        li {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            text-align: center;
            float: none;
            //text-transform: uppercase;

            a {
                padding: 30px 15px 31px 15px !important;
                display: inline-block;
                color: rgba(255,255,255,.6);
                transition: all ease 0.3s;
                position: relative;


                &:hover {
                    border-color: $color-primary;
                    color: #fff;
                }
            }

            &.active {
                a {
                    background-color: transparent;
                    color: #fff;

                    &:after {
                        height: 3px;
                    }
                }
            }
        }
    }

    &.navbar-scroll {
        position: fixed;
        top: 0;
        background-color: $color-primary;
        width: 100%;
        left: 0;
        right: 0;
        opacity: 1;
        z-index: 10;
        height: 50px;

        .navbar-nav {
            li {
                a {
                    padding: 15px 15px 16px 15px !important;
                }
            }
        }
    }
}

.ms-lead-navbar {
    position: fixed !important;
    z-index: 30;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: rgba(0,0,0,0.1) !important;
    box-shadow: none;
    color: #fff;
    height: 50px;
    transition: all ease 0.3s;

    .navbar-brand {
        font-weight: 300;
        word-spacing: -4px;
        font-size: 20px;
        padding-top: 9px;
        margin: 0 20px;
        color: $color-light;
        display: none;
        height: 50px;
        white-space: nowrap;

        img {
            display: inline-block;
            margin-right: 10px;
        }

        .ms-title {
            strong {
                display: inline-block;
                font-weight: 400;
            }
        }

        .ms-logo {
            margin-top: -5px;
            margin-right: 10px;
        }
    }

    &.navbar-scroll {
        background-color: $color-primary !important;
        @include shadow-2dp;
    }

    a {
        color: #fff;
    }

    .container {
        position: relative;
    }

    .btn-navbar-menu {
        height: 50px;
        width: 50px;
        float: right;
        position: absolute;
        right: 0;
        top: 0;
        line-height: 50px;
        text-align: center;
        font-size: 2.1rem;
    }


    .navbar-nav {
        margin: 0;
        display: table;
        float: right;
        margin-right: 21px;

        li {
            display: inline-block;
            list-style-type: none;
            margin: 0;
            //text-transform: uppercase;

            a {
                padding: 15px 15px 16px 15px !important;
                display: inline-block;
                color: $color-light-dark;
                transition: all ease 0.3s;
                position: relative;

                &:after {
                    content: "";
                    display: block;
                    position: absolute;
                    left: 0;
                    right: 0;
                    width: 100%;
                    height: 0px;
                    bottom: 1px;
                    background-color: #fff;
                    transition: all ease 0.3s;
                }

                &:hover {
                    border-color: $color-primary;
                    color: #fff;

                    &:after {
                        height: 3px;
                    }
                }
            }

            &.active {
                a {
                    background-color: transparent;
                    color: #fff;

                    &:after {
                        height: 3px;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .ms-lead-navbar {
        .navbar-nav {
            li {
                a {
                    padding: 15px 12px 16px 12px !important;
                }
            }
        }
    }
}
