.ms-footer {
    padding: 1.2rem 0;
    text-align: center;
    background-color: darken($color-alt-dark, 5%);
    color: $color-medium;
    box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, $mdb-shadow-key-penumbra-opacity),
    inset 0 3px 1px -2px rgba(0, 0, 0, $mdb-shadow-key-umbra-opacity),
    inset 0 1px 5px 0 rgba(0, 0, 0, $mdb-shadow-ambient-shadow-opacity);


    p {
        &:last-child {
            margin-bottom: 0;
        }
    }
}

.ms-footbar {
    background-color: $color-alt;
    color: $color-light-dark;
    position: relative;
    //padding: 2rem 0;
    margin-top: 4rem;

    &:after {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        top: -10px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, $mdb-shadow-key-penumbra-opacity),
        0 3px 1px -2px rgba(0, 0, 0, $mdb-shadow-key-umbra-opacity),
        0 1px 5px 0 rgba(0, 0, 0, $mdb-shadow-ambient-shadow-opacity);
        height: 10px;
        z-index: 1;
    }

    &:before {
        content: "";
        display: block;
        position: absolute;
        width: 100%;
        top: -15px;
        height: 15px;
        z-index: 2;
        background-color: $color-light;
    }

    a {
        color: #fff;
        transition: all ease 0.3s;

        &:hover,
        &:focus {
            color: $color-warning-light;
        }
    }

    .ms-footbar-block {
        margin: 2rem 0;

        .ms-footbar-title {
            margin: 0 0 1.5rem 0;
        }
    }
}

.three_cols {
    width: 100%;
    overflow: hidden;

    li {
        float: left;
        width: 33.333%;

        a  {
            display: block;
            padding: 2px 0;

            i {
                margin-right: 10px;
                width: 15px;
                text-align: center;
                color: $color-info-light;
            }

            &:hover {
                i {
                    transition: all ease 0.5s;
                    color: $color-warning-light;
                    transform: rotateY(360deg);

                }
            }
        }
    }
}

.ms-footer-alt-color {
    background-color: $color-alt-dark;
}

.ms-input-subscribe {

    width: 100%;
    input {
        color: #fff;
        background-image: linear-gradient(#fff, #fff), linear-gradient(rgba(255, 255, 255, 0.7), rgba(255, 255, 255, 0.7)) !important;
    }
    label {
        color: rgba(255, 255, 255, 0.7) !important;

        i {
            margin: 0 5px 0 5px;
        }
    }
}

.is-focused {
    .ms-input-subscribe {
        label {
            color: rgba(255, 255, 255, 1) !important;
        }
    }
}

.ms-subscribre-btn {
    background-color: rgba(0,0,0,0.2);
    border: none;
    display: block;
    width: 100%;
    border-radius: 50px;
    padding: 1rem 2rem;
    transition: all ease 0.3s;
    text-transform: uppercase;

    &:after {
        font-family: 'Material-Design-Iconic-Font';
        content: "\f15a";
        margin-left: 10px;
        transition: all ease 0.3s;
    }


    &:hover,
    &:focus {
        background-color: rgba(0,0,0,0.3);

        &:after {
            content: "\f159";
            display: inline-block;
            //transform: translateX(10px);
            margin-left: 20px;
        }
    }

    &:active {
        box-shadow: inset 0 2px 2px 0 rgba(0, 0, 0, $mdb-shadow-key-penumbra-opacity),
        inset 0 3px 1px -2px rgba(0, 0, 0, $mdb-shadow-key-umbra-opacity),
        inset 0 1px 5px 0 rgba(0, 0, 0, $mdb-shadow-ambient-shadow-opacity);
        background-color: rgba(0,0,0,0.4);
    }
}

.ms-footer-media {
    .media {
        margin-bottom: 4.5rem;

        &:last-child {
            margin-bottom: 0;
        }

        img {
            border-radius: 50%;
            margin-right: 1rem;
            border: solid 1px $color-alt;
        }

        .media-body {
            .media-heading {
            font-size: 1.5rem;
                line-height: 2.5rem;
            }
        }
    }

    .media-footer  {
        font-size: 1.2rem;
        color: $color-medium;

        span {
            margin-right: 1rem;

            i {
                margin-left: .1rem;
                margin-right: .5rem;
            }
        }
    }
}

.ms-footbar-social {
    a {
        margin: 0 0 1rem 1rem;
        background-color: $color-alt-dark;
        color: $color-light !important;

        &:hover {
            i {
                transition: all ease 0.4s;
                transform: rotate(360deg);
            }
        }
    }
}

.color-info-light {
    color: lighten($color-info-light, 5%);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.color-warning-light {
    color: lighten($color-warning-light, 7%);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.color-danger-light {
    color: lighten($color-danger-light, 12%);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.color-royal-light {
    color: lighten($color-royal-light, 20%);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.color-success-light {
    color: lighten($color-success-light, 5%);
    text-shadow: 2px 2px 1px rgba(0,0,0,0.2);
}

.ms-footer-text-right {
    text-align: right;
}

@media (max-width: 991px) {
    .ms-footer-alt-color {
        background-color: transparent;
        //margin: 4rem 0;
    }


}

@media (max-width: 767px) {
    .ms-footer-alt-color {
        //max-width: 550px;
        margin: 5rem 0;
    }

    .ms-footer-text-right {
        text-align: center;

        .ms-footbar-social {
            a {
                margin-left: 0;
                margin-right: 1rem;
            }
        }
    }
}
