.ms-hero {
    margin-top: -40px;
    padding: 3rem 0 0 0;

    &.ms-hero-black {
        background-image: url("../img/black_wall.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        color: #fff;
        //min-height: 400px;
    }

    &.ms-hero-material {
        color: $color-light;
        background-color: darken($color-primary, 40%);
        min-height: 450px;

        position: relative;
        width: 100%;
        overflow: hidden;
        z-index: 0;

        @keyframes heroBackOne {
            0% {
                height: 0%;
            }

            100% {
                height: 590%;
            }
        }

        @keyframes heroBackTwo {
            0% {
                height: 0%;
            }

            100% {
                height: 290%;
            }
        }

        @keyframes heroBackThree {
            0% {
                height: 0%;
            }

            100% {
                height: 470%;
            }
        }

        &:before {
                position: absolute;
                display: block;
                content: "";
                background-color: darken($color-primary, 30%);
                //height: 20%;
                //width: 20%;
                height: 590%;
                width: 75%;
                bottom: -249%;
                left: -46%;
                transform: rotate(-48deg);
                z-index: 1;
                box-shadow: 29px -26px 43px -1px rgba(0,0,0,.5);
                animation-name: heroBackOne;
                animation-duration: 0.5s;
                animation-delay: 0.25s;
                animation-fill-mode: backwards;
            }

        .ms-hero-bg {
            display: block;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            z-index: 2;

            &:before {
                position: absolute;
                display: block;
                content: "";
                background-color: darken($color-primary, 20%);
                //height: 20%;
                //width: 20%;
                height: 290%;
                width: 71%;
                bottom: -140%;
                left: -43%;
                transform: rotate(-33deg);
                z-index: 3;
                box-shadow: 28px 10px 43px -1px rgba(0,0,0,0.5);
                animation-name: heroBackTwo;
                animation-duration: 0.5s;
                animation-delay: 0.5s;
                animation-fill-mode: backwards;
            }

            &:after {
                position: absolute;
                display: block;
                content: "";
                background-color: darken($color-primary, 15%);
                //height: 20%;
                //width: 20%;
                height: 470%;
                width: 46%;
                bottom: -232%;
                right: 0%;
                transform: rotate(52deg);
                z-index: 4;
                box-shadow: -33px -22px 43px -1px rgba(0,0,0,0.53);
                animation-name: heroBackThree;
                animation-duration: 0.5s;
                animation-delay: 0.35s;
                animation-fill-mode: backwards;
            }
        }

        .container {
            z-index: 5;
            position: relative;
        }

        .ms-hero-img {
            padding-left: 0rem;
            //vertical-align: bottom;
            padding-top: 0rem;
            position: relative;
            margin: 4rem 0 0 4rem;


            .carousel {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: hidden;

                .carousel-indicators {
                    position: absolute;
                    bottom: 130px;
                    left: auto;
                    right: 40px;

                    li {
                        height: 12px;
                        width: 12px;
                        border-radius: 100%;
                        background-color: $color-dark;

                        &.active {
                            background-color: $color-primary;
                        }
                    }
                }
            }

            img {
            }

            .ms-hero-img-slider {
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0px;
                left: 0px;

            }
        }

        .carousel {

            .carousel-indicators {
                position: static;
                width: auto;
                display: inline-block;
                margin: 0;

                li {
                    vertical-align: top;
                    display: inline-block;
                    background-color: $color-alt-light;
                    border: none;
                    border: 0;
                    height: 3px;
                    width: 14px;
                    margin: 2px;
                    margin-top: 10px;
                    border-radius: 2px;
                    cursor: pointer;

                    &.active {
                        top: 0;
                        background-color: #fff;
                    }
                }
            }

            .carousel-controls {
                position: absolute;
                left: 0;
                bottom: 40px;
                //text-align: center;
                width: 160px;

                a {
                    display: inline-block;
                    position: static;
                    height: 20px;
                    width: 20px;
                    background: none;
                    font-size: 15px;
                    background-color: #fff;
                    color: $color-dark-light;
                    text-shadow: none;
                    border-radius: 100%;
                    opacity: .7;
                    //vertical-align: 20px;
                    text-align: center;
                    cursor: pointer;
                    transition: all ease 0.5s;
                    margin-right: 1rem;

                    &:hover {
                        opacity: 1;
                    }

                    i {
                        vertical-align: top;
                        line-height: 20px;
                        //margin: 0;
                        //padding: 0 !important;
                    }

                    &.left {
                        //margin-right: 1rem;
                    }

                    &.right {
                        margin-right: 2rem;
                        //margin-left: 1rem;
                    }
                }
            }

            .carousel-inner {
                overflow: visible;
                .item {
                    .carousel-caption {
                        position: static;
                        text-align: left;
                    }
                }
            }
        }

        .ms-hero-material-text-container {
            margin: 0 auto;
            .ms-hero-material-title {
                text-align: center;
                background-color: rgba(0, 0, 0, 0.4);
                @include shadow-2dp();
                //position: absolute;
                //left: 0;
                padding: 1.6rem;
                margin-left: -10000px;
                padding-left: 10000px;
                z-index: 6;
                margin-bottom: 4rem;
                //animation: slideIn;
                //animation-duration: 1s;
                //animation-delay: 0.5s;

                h1 {
                    margin: 0 0 1.8rem 0;
                    font-size: 3rem;
                    font-weight: 200;
                    text-transform: capitalize;

                    strong {
                        font-weight: 300;
                    }
                }

                h2 {
                    color: lighten($color-primary, 15%);
                    text-shadow: 2px 2px 0px rgba(0, 0, 0, 1);
                    margin: 0;
                    font-size: 2rem;
                }
            }

            .ms-hero-material-list {
                list-style-type: none;
                padding: 0;

                li {
                    display: table;
                    margin-bottom: 4rem;

                    .ms-list-icon {
                        display: table-cell;
                        vertical-align: middle;

                        .ms-icon {
                            margin: 0 2rem 0 0;
                        }
                    }

                    .ms-list-text {
                        display: table-cell;
                        vertical-align: middle;
                        font-size: 1.8rem;
                        line-height: 3rem;
                    }
                }
            }
        }
    }
}

@keyframes moveBack {
    0% {
        background-position: center center;
    }

    50% {
        background-position: center 20%;
    }

    100% {
        background-position: center center;
    }
}

.wrap {
    padding: 6rem 0;

    &.wrap-mountain {
        background-color: $color-dark;
        color: $color-light-light;
        background-image: url("../img/back_mountain.jpg");
        background-position: center center;
        background-size: cover;
        position: relative;
        animation: moveBack;
        animation-duration: 30s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;

        &:after {
            display: block;
            content: "";
            position: absolute;
            z-index: 0;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            width: 100%;
            background-color: fade-out(darken($color-primary, 28%), 0.2);

        }

        .container {
            position: relative;
            z-index: 1;
        }
    }

    &.wrap-danger {

        background-color: $color-danger;
        color: fff;

        h1, h2, h3, h4, h5, h6 {
            color: #fff;
        }
    }
}



@media (max-width: 767px) {
    .carousel-controls {
        position: static !important;
        margin: 0 auto;
        display: block;
        width: 100% !important;
        text-align: center;

    }

    .ms-hero-material-buttons {
        text-align: center;

        a {
            margin: 10px 0 !important;
            display: block;
        }
    }
}

@media (max-width: 1199px) {
    .ms-hero-img {
        margin: 10rem auto 0 auto !important;
    }

    .carousel-indicators-hero-img {
        right: 30px !important;
        bottom: 90px !important;
    }
}

@media (max-width: 991px) {
    .carousel-indicators-hero-img {
        right: 60px !important;
        bottom: 170px !important;
    }

    .ms-hero-img {
        margin: 0 auto 2rem auto !important;
    }
}

@media (max-width: 767px) {
    .carousel-indicators-hero-img {
        display: none !important;
    }
}

.ms-hero-page {
    margin: -40px 0 0 0;
    padding: 40px 0;
}

.ms-hero-page-bottom {
    margin: -40px 0 0 0;
    padding: 40px 0 0 0;
}

.ms-hero-page-override {
    margin: -40px 0 0 0;
    padding: 30px 0 140px 0;
}

.hero-img-bottom {
    img  {
        margin: 0 auto;
    }
}

@media (min-width: 768px) {
    .hero-img-bottom {
        overflow: hidden;
        width: 100%;
        height: 100%;
        position: relative;

        img {
            position: absolute;
            bottom: 0;
            max-width: 100%;
            max-height: 100%;
            left: 50%;
            transform: translateX(-50%);
            //max-height: 450px;
        }
    }
}

.hero-img-col {
    overflow: hidden;
}

.ms-hero-img-city {
    background-image: url('../img/skyline.jpg');
    background-size: cover;
    background-position: center center;
}

.ms-hero-img-city2 {
    background-image: url('../img/skyline2.jpg');
    background-size: cover;
    background-position: center center;
}


.ms-hero-img-airplane {
    background-image: url('../img/backAirplane.jpg');
    background-size: cover;
    background-position: center center;
}

.ms-hero-img-team {
    background-image: url('../img/team2.jpg');
    background-size: cover;
    background-position: center center;
}

.ms-hero-img-mountain {
    background-image: url('../img/mountain.jpg');
    background-size: cover;
    background-position: center center;
}

.ms-hero-img-coffee {
    background-image: url('../img/coffee.jpg');
    background-size: cover;
    background-position: center center;
}

.ms-hero-img-meeting {
    background-image: url('../img/meeting.jpg');
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.ms-hero-img-keyboard {
    background-image: url('../img/keyboard.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.ms-hero-img-beach {
    background-image: url('../img/beach.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.ms-hero-img-road {
    background-image: url('../img/road.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.ms-hero-img-wall {
    background-image: url('../img/black_wall.png');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
}

.ms-hero-img-room {
    background-image: url('../img/room.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
}

.ms-bg-fixed {
    background-attachment: fixed;
}

@each $n, $c in $color-list {
    .ms-hero-bg-#{$n} {
        position: relative;

        &:after {
            display: block;
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background-color: fade-out(darken($c, 25), 0.15);
            z-index: 0;
        }

        .container {
            position: relative;
            z-index: 1;
        }
    }
}

.ms-hero-bg-dark-light {
    position: relative;
    color: #fff;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(#444, 0.05);
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.ms-hero-bg-dark-transparent {
    position: relative;
    color: #fff;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.5);
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}


.ms-hero-bg-light-light {
    position: relative;
    color: #fff;

    &:after {
        display: block;
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        background-color: fade-out(#fff, 0.7);
        z-index: 0;
    }

    .container {
        position: relative;
        z-index: 1;
    }
}

.card-top {
    margin-top: -100px;
}

.center-block {
    display: block;
    margin: 0 auto;
}

.ms-site-title-lg {
    font-weight: 300;
    font-size: 40px;

    span {
        font-weight: 400;
    }
}

.ms-avatar-hero {
    width: 160px;
    height: 160px;
    border-radius: 50%;
    border: solid 3px #fff;
    @include shadow-6dp;
}

.card-header-100 {
    height: 100px;

    .item {
        color: #fff;
        text-align: center;
        font-size: 1.6rem;
        height: 100px;
        padding-top: 22px;
        display: block;
        font-weight: 300;

        span {
            font-weight: 400;
            padding-bottom: 10px;
            font-size: 2rem;
            display: block;
        }
    }
}

.back-fixed {
    overflow-y: auto;

    &:after {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
    }
}


.overflow-hidden {
    overflow: hidden;
    width: 100%
}

.img-browser-container {
    //overflow: hidden;
    position: relative;
    max-width: 800px;
    margin: 0 auto;

    .img-browser {
        width: 80%;
        border-bottom: solid 1px $color-light-dark;
        @include shadow-z-5();
    }

    .img-browser-left,
    .img-browser-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .img-browser-left {
        //left: -300px;
        max-width: 80%;
    }

    .img-browser-right {
        //right: -300px;
        max-width: 80%;
    }
}

.img-phone-container {
    position: relative;
    display: inline-block;

    .img-phone-left,
    .img-phone-right {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
    }

    .img-phone-left {

    }

    .img-phone-right {
    }
}

.typed-title {
    line-height: 5rem;
}

.ms-hero-video {
    overflow: hidden;
}
