.price-table {
    border-radius: 2px;
    box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.24);
    background-color: #fff;
    padding: 0;
    transition: all ease 0.5s;
    position: relative;
    z-index: 1;

    &:hover {
        background-color: $color-light-light;

        .price-table-body {
            &:after {
                top: 0;
            }
        }
    }

    &.prominent {
        transform: translateY(-10px);
        position: relative;
        z-index: 2;
        @include shadow-3dp();

        .price-table-body {
            padding-bottom: 40px;

            .btn {
                transform: translateY(15px);
            }
        }
    }

    header {
        background-color: $color-primary;
        display: block;
        text-align: center;
        color: #fff;

        .price-table-category {
            display: block;
            background-color: rgba(0,0,0, 0.2);
            padding: 1rem 0;
        }

        h3 {
            font-weight: 400;
            padding: 20px 0;
            //line-height: 0;
            margin: 0;
            font-size: 4rem;

            sup {
                font-size: 2rem;
                margin-right: .5rem;
            }

            sub {
                font-size: 1.6rem;
            }
        }
    }

    .price-table-body {
        padding: 2rem;
        transition: all ease 0.3s;

        position: relative;
        overflow: hidden;

        &:after {
            transition: all ease 0.3s;
            display: block;
            content: "";
            position: absolute;
            height: 100%;
            width: 100%;
            top: 100%;
            bottom: 0;
            left: 0;
            right: 0;
            z-index: -1;
        }

        .price-table-list {
            list-style-type: none;
            padding-left: 0;
            font-size: 1.5rem;

            li {
                margin: 0;
                padding: 8px 0;
                border-bottom: dotted 1px $color-medium-light;

                i {
                    margin-right: 15px;
                    //color: $color-primary;
                }
            }
        }
    }

    @each $n, $c in $color-list {
        &.price-table-#{$n} {
            border-bottom: solid 3px $c;

            header {
                background-color: $c;
            }

            .price-table-body {
                &:after {
                    background-color: $c;
                }
            }

            .price-table-list i {
                color: $c;
            }

            &:hover {
                .price-table-body {
                    color: #fff;

                    .price-table-list {
                        li {
                            border-color: lighten($c, 18%);

                            i {
                                color: #fff;
                            }
                        }
                    }

                    .btn-raised {
                        background-color: #fff;
                        color: $c;
                    }
                }
            }
        }
    }
}

@media (max-width: 991px) {
    .price-table {
        margin-bottom: 2rem;
        max-width: 500px;
        margin: 2rem auto;
    }
    .prominent {
        transform: translateY(0px) !important;
        position: static !important;
        @include shadow-2dp();

        .price-table-body {
            padding-bottom: 20px !important;

            .btn {
                transform: translateY(0px) !important;
            }
        }
    }
}

/* Pricing Mega Table */

.pricing-table-container {
    background-color: #fff;
    @include shadow-2dp;
}

.pricing-table {

}

.pricing-table-content {
    list-style-type: none;
    padding: 0;
    font-size: .9em;
    margin: 0;
}

.pricing-table-content li {
    padding: 10px 10px;
    margin: 0;
}

.border-fix-pricing {
}

.pricing-table-description {
}

.pricing-desc-title {
    font-size: 24px;
    text-align: center;
    background-color: $color-primary;
    color: #fff;
    margin: 0;
    padding: 21px 5px 20px 5px;
    height: 122px;
}

.pricing-table-head {
    background-color: $color-primary;
    color: #fff;

    h2 {
        font-size: 1.3em;
        text-align: center;
        background-color: rgba(0,0,0,0.1);
        color: #fff;
        margin: 0;
        font-weight: 400;
        height: 70px;
        padding-top: 15px;

        span {
            font-size: 12px;
            display: block;
            padding-top: 5px;
        }
    }

    .price {
        margin: 0;
        font-size: 24px;
        font-weight: 400;
        height: 52px;
        line-height: 52px;
        text-align: center;

        i {
            font-style: normal;
            font-size: 32px;
        }
    }
}


.pricing-table-content {
    text-align: center;
}

.pricing-table-description .pricing-table-content {
    text-align: left;
}

.pricing-table-content li:nth-child(2n+1) {
    background-color: rgba(0,0,0,0.03);
}

.pricing-table-description i {
    margin: 0 15px 0 5px;
    color: $color-primary;
    font-size: 1.1em;
}

.pricing-table-footer {
}

.pricing-table-content .fa-check {
    color: $color-success;
}

.pricing-table-content .fa-times {
    color: $color-danger;
}


@media (min-width: 992px) {
    .pricing-col {
        margin: 0;
        padding: 0;
        transition: all ease 0.5s;

        &:hover {
            background-color: rgba(0,0,0,0.05);
        }
    }
}



@media (max-width: 991px) {
    .pricing-table-container {
        background-color: transparent;
        box-shadow: none;
    }


    .pricing-table-content span {
        display: block;
    }

    .pricing-table {
        background-color: #fff;
        @include shadow-2dp;
        margin-bottom: 4rem;
    }
}
