.ms-slidebar {
    background-color: #fff;
    width: 300px;
    overflow: hidden;
    //overflow-y: auto; /* has to be scroll, not auto */
    //-webkit-overflow-scrolling: touch;

    .sb-slidebar-container  {
        height:100%;
        overflow:auto;
        -webkit-overflow-scrolling:touch;

        &::-webkit-scrollbar-track
        {
        	-webkit-box-shadow: none;
        	background-color: transparent;
        }

        &::-webkit-scrollbar
        {
            width: 4px;
        	height: 4px;
            //right: 20px;
        	background-color: transparent;
            position: absolute !important;
        }

        &::-webkit-scrollbar-thumb
        {
        	background-color: $color-medium-dark;
            border-radius: 100px;
        }
    }

    .ms-slidebar-block {
        padding: 0 20px;

        .ms-slidebar-block-title {
            font-weight: 400;
            margin-bottom: 20px;
        }

        .ms-slidebar-social {
            display: flex;
            justify-content: space-between;
            margin-bottom: 20px;
        }
    }

    .ms-slidebar-header {
        min-height: 150px;
        background-image: url('../img/bg-slidebar.png');
        position: relative;

        .ms-slidebar-login {
            display: block;
            display: table;
            width: 100%;

            a {
                color: #fff;
                text-align: center;
                display: table-cell;
                width: 50%;
                padding: 10px 20px;

                i {
                    margin-right: 10px;
                }
            }
        }

        .ms-slidebar-title {
            position: absolute;
            background-color: rgba(0, 0, 0, 0.5);
            display: block;
            bottom: 0;
            width: 100%;
            vertical-align: middle;
            //padding: 10px 20px;
            height: 50px;
            overflow: hidden;

            .ms-slidebar-t {
                //display: inline-block;
                float: left;
                margin-left: 20px;
                line-height: 50px;

            }

            h3 {
                color: #fff;
                font-size: 20px;
                margin: 0;
                word-spacing: -4px;
                display: inline-block;
                vertical-align: middle;
                margin-left: 10px;

                span {
                    font-weight: 400;
                }
            }

            .search-form {
                vertical-align: top;
                display: inline-block;
                position: relative;
                height: 50px;
                min-width: 50px;
                padding: 0;
                margin: 0;
                transition: width ease 1s;
                z-index: 0;
                float: right;

                #search-submit {
                    position: relative;
                    left: -5000px;
                    width: 0;
                    padding: 0;
                    border: 0;
                    height: 0;
                }

                label {
                    width: 50px;
                    height: 50px;
                    text-align: center;
                    line-height: 50px;
                    font-size: 20px;
                    color: #fff;
                    cursor: pointer;
                    position: absolute;
                    left: 0;
                    top: 0;
                    z-index: 3;
                    transition: transform ease .5s;
                    transition-delay: .2s;

                    &:before {
                    }

                    &:hover {
                        //color: $color-primary;

                        &:before {
                            //border-radius: 0;
                            height: 50px;
                            width: 50px;
                            top: 0px;
                            left: 0px;
                        }
                    }
                }

                .search-input {
                    height: 50px;
                    border: 0;
                    width: 0px;
                    padding: 0;
                    background-color: transparent;
                    display: inline-block;
                    transition: width ease 0.5s;
                    vertical-align: top;
                    //margin-left: -50px;
                    padding-left: 50px;
                    border-radius: $color-dark-light;
                    //font-weight: 400;
                    color: #fff;

                    &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                      color: rgba(255, 255, 255, .7);
                    }
                    &::-moz-placeholder { /* Firefox 19+ */
                      color: rgba(255, 255, 255, .7);
                    }
                    &:-ms-input-placeholder { /* IE 10+ */
                      color: rgba(255, 255, 255, .7);
                    }
                    &:-moz-placeholder { /* Firefox 18- */
                      color: rgba(0, 0, 0, .3);
                    }

                    &:-webkit-autofill {
                        -webkit-text-fill-color: #fff !important;
                    }

                    &:focus {
                        width: 300px;
                        border-bottom: solid 3px $color-primary;
                        border-radius: 0;
                        & + label {
                            transform: ScaleX(-1);
                            color: $color-primary;
                            &:before {
                                transition: none;
                                display: none;
                            }
                        }
                    }
                }
            }
        }
    }

    .ms-slidebar-menu {
        list-style-type: none;
        padding: 0;

        & > li {
            margin: 0;
            box-shadow: none;

            & > a {
                display: block;
                padding: 12px 20px;
                font-size: 16px;
                font-weight: 400;
                color: $color-primary;
                background-color: $color-light-dark;

                &:after {
                    font-family: 'Material-Design-Iconic-Font';
                    font-size: 1.2em;

                    float: right;

                    content: '\f273';

                    transition: all ease 0.3s;
                }

                &.collapsed {
                    background-color: #fff;
                    color: $color-dark-light;

                    &:after {
                        content: '\f278';
                        transform: rotate(180deg);
                    }
                }

                &.link {
                    background-color: #fff;
                    color: $color-dark-light;

                    &:after {
                        content: "\f2fb";
                    }
                }

                &:hover {
                    background-color: $color-light;
                    color: $color-primary;
                }

                & > i {
                    margin-right: 15px;
                }
            }

            & > ul {
                list-style-type: none;
                padding: 0;


                li {
                    & > a {
                        display: block;
                        padding: 12px 20px;
                        font-size: 16px;
                        font-weight: 400;
                        color: $color-dark-light;
                        background-color: $color-light-light;

                        &:hover {
                            background-color: $color-light;
                            color: $color-primary;
                        }

                        & > i {
                            margin-right: 15px;
                        }
                    }

                    &:last-child {
                        border-bottom: solid 1px $color-light-dark;
                    }
                }
            }
        }
    }



    &.sb-left {
        box-shadow: 2px 0px 3px 0px rgba(0,0,0,0.21);
    }

    &.sb-right {
        box-shadow: -2px 0px 3px 0px rgba(0,0,0,0.21);
    }

    &:hover {
        &::-webkit-scrollbar {
            //display: absolute;
        }
    }
}
