.table-striped-primary > tbody > tr:nth-child(odd) > td,
.table-striped-primary > tbody > tr:nth-child(odd) > th {
    background-color: $color-primary;
    color: #fff;
}

.table {
    tr {
        transition: all ease 0.3s;

        td,
        th {
            padding: 14px !important;
            border-color: $color-medium-light !important;
        }

        &:hover {
            background-color: $color-light-light;
        }

        &.success {
            td {
                background-color: lighten($color-success, 40%) !important;
            }
        }
        &.info {
            td {
                background-color: lighten($color-info, 50%) !important;
            }
        }
        &.warning {
            td {
                background-color: lighten($color-warning, 45%) !important;
            }
        }
        &.danger {
            td {
                background-color: lighten($color-danger, 35%) !important;
            }
        }
        &.royal {
            td {
                background-color: lighten($color-royal, 50%) !important;
            }
        }
        &.primary {
            td {
                background-color: lighten($color-primary, 35%) !important;
            }
        }
    }

    &.table-no-border {
        border: none !important;
        tr {
            border: none !important;

            td,
            th {
                border: none !important;
            }
        }
    }
}

.card {
    table {
        margin-bottom: 0;
    }
}

@media (max-width: 767px) {
    .table {
        tr {
            td,
            th {
                padding: 8px !important;
            }
        }
    }
}

.vertical-center > tbody > tr > td {
     vertical-align: middle;
}