<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="card animated materialUp animation-delay-5"">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Repellat sequi id reiciendis ipsum placeat accusantium debitis reprehenderit quia in atque</h1>
                    <div class="mb-4">
                        <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                        <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">April 15, 2015</span></span>
                        <span class="ml-1"><i class="zmdi zmdi-comments color-royal mr-05"></i> 25</span>
                    </div>
                    <img src="<%= assets %>/img/demo/postG3.jpg" alt="" class="img-responsive mb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio delectus <strong>eveniet quas exercitationem explicabo</strong> dolore quibusdam voluptatum saepe consequatur nostrum ducimus, repellendus molestiae natus ipsa, suscipit nihil nisi dolorem sit, sed earum enim quos deserunt. Ipsam, deleniti magni ullam incidunt dolores sit libero rerum reprehenderit velit? Id <a href="#">veniam cum mollitia</a> minima porro quae dicta deserunt eligendi excepturi totam. Voluptatem illum rem, exercitationem. Neque illo magnam deserunt perspiciatis explicabo tempora culpa molestias, pariatur, nostrum a, reprehenderit.</p>
                    <blockquote class="blockquote-big">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    <p>Nihil autem, consectetur mollitia est neque aperiam expedita reprehenderit quia in atque. Perferendis nulla asperiores dolores veritatis blanditiis. Quia architecto distinctio natus ad asperiores explicabo cum aliquid officiis, similique, quidem voluptatem odio illum possimus mollitia. Tempore optio soluta iusto maxime, cupiditate aut, assumenda facilis atque enim dicta, esse mollitia itaque voluptatem doloremque doloribus similique ad consequuntur asperiores. Ducimus reiciendis voluptatum fugit praesentium, labore nobis unde quia ullam quidem dolore et cumque. Est ratione similique rem.</p>
                    <h3 class="color-primary">Cupiditate necessitatibus inventore facilis</h3>
                    <p>Deleniti, ut. Reiciendis cumque, autem quas, est rem nam inventore numquam, voluptatum eius vero repellat aliquam. <strong>Ut incidunt ab veniam fugiat beatae sequi tempora fuga</strong>, impedit unde inventore dignissimos! Beatae omnis amet tempora similique dolores error officia aliquam et cupiditate necessitatibus inventore facilis natus optio adipisci doloribus nulla voluptate sint fuga eum, dolorum aperiam quasi. Earum nemo ab ratione quia placeat voluptatem eos magni officia illo fugit consequatur, nihil aliquam nostrum esse officiis! Provident, a.</p>
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="" class="imgborder ml-2 mb-2 pull-right">
                    <p>Dolor animi enim tempora. Nostrum velit iure aut dicta non at, rem ea ipsum quia! Eum magni earum accusamus dolores, accusantium, necessitatibus debitis natus expedita iure. Modi repellendus excepturi hic veniam et autem asperiores optio non dolore corrupti distinctio earum perferendis porro velit aperiam exercitationem explicabo dolores quaerat inventore sapiente vitae harum, doloribus. Nulla, inventore. Non totam sed ducimus iusto, excepturi consectetur, facere maxime quisquam, vitae eius iste ullam veritatis dolor enim repudiandae reprehenderit asperiores!</p>
                    <p>Suscipit reprehenderit, delectus fugit, eum architecto dolore. Necessitatibus nisi, inventore magnam esse <span class="color-royal">obcaecati qui facilis nulla consequatur</span> culpa eum reprehenderit, quia! Earum debitis voluptas tempore praesentium saepe, vitae qui mollitia voluptates, perferendis voluptatibus consectetur autem similique ea, sunt explicabo. In perspiciatis recusandae tenetur quaerat quos a. Et doloremque illo vel aliquid id laboriosam maiores voluptatem modi, fugiat explicabo perferendis, quo vitae consequatur totam cumque inventore earum aliquam nam eius impedit. Et quam quisquam, ex incidunt?</p>
                    <blockquote cite="">
                        Non totam sed ducimus iusto, excepturi consectetur, facere maxime quisquam, vitae eius iste ullam veritatis dolor enim repudiandae
                    </blockquote>
                    <p>Distinctio dolor nulla cum tenetur sapiente pariatur doloremque officia id provident. Repellat sequi id reiciendis ipsum placeat accusantium, debitis in labore a unde. Similique commodi tempore eligendi exercitationem veritatis quaerat voluptatem tenetur, quo autem deleniti recusandae, sit quas blanditiis, temporibus numquam. Nisi repellat perferendis blanditiis praesentium incidunt necessitatibus, eveniet aut libero, ipsa neque recusandae facere adipisci et itaque? Ducimus molestiae ex voluptates itaque adipisci, et tempore aspernatur magnam incidunt quam, eveniet nobis modi asperiores cum.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
