<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container text-center mb-6">
    <<h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Blog</h1>
    <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">Follow our blog and discover the latest content and trends in the market. In addition you will discover the best <span class="colorStar">tricks</span> and <span class="colorStar">discounts</span>.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <article class="card card-primary wow zoomInRight animation-delay-5 mb-4">
                <div class="card-block card-block-big">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post4.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem in, ipsum. Ducimus culpa rerum in illo, enim quas voluptas, aliquid similique repudiandae amet car voluptatum suscipit, cum nulla hic possimus ad illum.</p>
                            <p>iste deserunt officia tempore  laboriosam eos exercitationem excepturi? Porro animi mollitia molestias voluptatem recusandae, eius incidunt dolores, inventore esse, doloribus illum omnis ratione ducimus. Iure deleniti fuga voluptatibus fugit voluptates ab.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">April 15, 2015</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card card-primary wow zoomInRight animation-delay-5 mb-4">
                <div class="card-block card-block-big">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post5.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem in, ipsum. Ducimus culpa rerum in illo, enim quas voluptas, aliquid similique repudiandae amet car voluptatum suscipit, cum nulla hic possimus ad illum.</p>
                            <p>iste deserunt officia tempore  laboriosam eos exercitationem excepturi? Porro animi mollitia molestias voluptatem recusandae, eius incidunt dolores, inventore esse, doloribus illum omnis ratione ducimus. Iure deleniti fuga voluptatibus fugit voluptates ab.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-warning">Graphics</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">January 27, 2016</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card card-primary wow zoomInRight animation-delay-5 mb-4">
                <div class="card-block card-block-big">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post2.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem in, ipsum. Ducimus culpa rerum in illo, enim quas voluptas, aliquid similique repudiandae amet car voluptatum suscipit, cum nulla hic possimus ad illum.</p>
                            <p>iste deserunt officia tempore  laboriosam eos exercitationem excepturi? Porro animi mollitia molestias voluptatem recusandae, eius incidunt dolores, inventore esse, doloribus illum omnis ratione ducimus. Iure deleniti fuga voluptatibus fugit voluptates ab.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-royal">Productivity</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">Aufust 18, 2015</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card card-primary wow zoomInRight animation-delay-5 mb-4">
                <div class="card-block card-block-big">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post3.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem in, ipsum. Ducimus culpa rerum in illo, enim quas voluptas, aliquid similique repudiandae amet car voluptatum suscipit, cum nulla hic possimus ad illum.</p>
                            <p>iste deserunt officia tempore  laboriosam eos exercitationem excepturi? Porro animi mollitia molestias voluptatem recusandae, eius incidunt dolores, inventore esse, doloribus illum omnis ratione ducimus. Iure deleniti fuga voluptatibus fugit voluptates ab.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-warning">Graphics</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">January 27, 2016</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card card-primary wow zoomInRight animation-delay-5 mb-4">
                <div class="card-block card-block-big">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post1.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6 mb-4">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor voluptatem in, ipsum. Ducimus culpa rerum in illo, enim quas voluptas, aliquid similique repudiandae amet car voluptatum suscipit, cum nulla hic possimus ad illum.</p>
                            <p>iste deserunt officia tempore  laboriosam eos exercitationem excepturi? Porro animi mollitia molestias voluptatem recusandae, eius incidunt dolores, inventore esse, doloribus illum omnis ratione ducimus. Iure deleniti fuga voluptatibus fugit voluptates ab.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-success">Multimedia</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">January 27, 2016</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
