<!-- build:include layout/header.html --><!-- /build -->

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card animated fadeInLeftTiny animation-delay-5">
                <div class="card-block card-block-big">
                    <h1 class="no-mt">Repellat sequi id reiciendis ipsum placeat accusantium debitis</h1>
                    <div class="mb-4">
                        <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                        <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">April 15, 2015</span></span>
                        <span class="ml-1"><i class="zmdi zmdi-comments color-royal mr-05"></i> 25</span>
                    </div>
                    <img src="<%= assets %>/img/demo/post4.jpg" alt="" class="img-responsive mb-4">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Optio delectus <strong>eveniet quas exercitationem explicabo</strong> dolore quibusdam voluptatum saepe consequatur nostrum ducimus, repellendus molestiae natus ipsa, suscipit nihil nisi dolorem sit, sed earum enim quos deserunt. Ipsam, deleniti magni ullam incidunt dolores sit libero rerum reprehenderit velit? Id <a href="#">veniam cum mollitia</a> minima porro quae dicta deserunt eligendi excepturi totam. Voluptatem illum rem, exercitationem. Neque illo magnam deserunt perspiciatis explicabo tempora culpa molestias, pariatur, nostrum a, reprehenderit.</p>
                    <blockquote class="blockquote-big">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                    <p>Nihil autem, consectetur mollitia est neque aperiam expedita reprehenderit quia in atque. Perferendis nulla asperiores dolores veritatis blanditiis. Quia architecto distinctio natus ad asperiores explicabo cum aliquid officiis, similique, quidem voluptatem odio illum possimus mollitia. Tempore optio soluta iusto maxime, cupiditate aut, assumenda facilis atque enim dicta, esse mollitia itaque voluptatem doloremque doloribus similique ad consequuntur asperiores. Ducimus reiciendis voluptatum fugit praesentium, labore nobis unde quia ullam quidem dolore et cumque. Est ratione similique rem.</p>
                    <h3 class="color-primary">Cupiditate necessitatibus inventore facilis</h3>
                    <p>Deleniti, ut. Reiciendis cumque, autem quas, est rem nam inventore numquam, voluptatum eius vero repellat aliquam. <strong>Ut incidunt ab veniam fugiat beatae sequi tempora fuga</strong>, impedit unde inventore dignissimos! Beatae omnis amet tempora similique dolores error officia aliquam et cupiditate necessitatibus inventore facilis natus optio adipisci doloribus nulla voluptate sint fuga eum, dolorum aperiam quasi. Earum nemo ab ratione quia placeat voluptatem eos magni officia illo fugit consequatur, nihil aliquam nostrum esse officiis! Provident, a.</p>
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="" class="imgborder ml-2 mb-2 pull-right">
                    <p>Dolor animi enim tempora. Nostrum velit iure aut dicta non at, rem ea ipsum quia! Eum magni earum accusamus dolores, accusantium, necessitatibus debitis natus expedita iure. Modi repellendus excepturi hic veniam et autem asperiores optio non dolore corrupti distinctio earum perferendis porro velit aperiam exercitationem explicabo dolores quaerat inventore sapiente vitae harum, doloribus. Nulla, inventore. Non totam sed ducimus iusto, excepturi consectetur, facere maxime quisquam, vitae eius iste ullam veritatis dolor enim repudiandae reprehenderit asperiores!</p>
                    <p>Suscipit reprehenderit, delectus fugit, eum architecto dolore. Necessitatibus nisi, inventore magnam esse <span class="color-royal">obcaecati qui facilis nulla consequatur</span> culpa eum reprehenderit, quia! Earum debitis voluptas tempore praesentium saepe, vitae qui mollitia voluptates, perferendis voluptatibus consectetur autem similique ea, sunt explicabo. In perspiciatis recusandae tenetur quaerat quos a. Et doloremque illo vel aliquid id laboriosam maiores voluptatem modi, fugiat explicabo perferendis, quo vitae consequatur totam cumque inventore earum aliquam nam eius impedit. Et quam quisquam, ex incidunt?</p>
                    <blockquote cite="">
                        Non totam sed ducimus iusto, excepturi consectetur, facere maxime quisquam, vitae eius iste ullam veritatis dolor enim repudiandae
                    </blockquote>
                    <p>Distinctio dolor nulla cum tenetur sapiente pariatur doloremque officia id provident. Repellat sequi id reiciendis ipsum placeat accusantium, debitis in labore a unde. Similique commodi tempore eligendi exercitationem veritatis quaerat voluptatem tenetur, quo autem deleniti recusandae, sit quas blanditiis, temporibus numquam. Nisi repellat perferendis blanditiis praesentium incidunt necessitatibus, eveniet aut libero, ipsa neque recusandae facere adipisci et itaque? Ducimus molestiae ex voluptates itaque adipisci, et tempore aspernatur magnam incidunt quam, eveniet nobis modi asperiores cum.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card animated fadeInUp animation-delay-7">
                <div class="ms-hero-bg-info ms-hero-img-mountain">
                    <h3 class="color-white index-1 text-center no-m pt-4">Victoria Smith</h3>
                    <div class="color-medium index-1 text-center np-m">@vic_smith</div>
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h3 class="color-primary">About me</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-google"><i class="zmdi zmdi-google"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="card card-primary animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-apps"></i> Navigation</h3>
                </div>
                <div class="card-tabs">
                    <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                        <li role="presentation" class="active"><a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-star"></i></a></li>
                        <li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-folder"></i></a></li>
                        <li role="presentation"><a href="#archives" aria-controls="archives" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-time"></i></a></li>
                        <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-tag-more"></i></a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="favorite">
                        <div class="card-block">
                            <div class="ms-media-list">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">Lorem ipsum dolor sit amet in consectetur adipisicing</a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-success mr-05"></i> <a href="javascript:void(0)">Design</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">Nemo enim ipsam voluptatem quia voluptas sit aspernatur</a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-danger mr-05"></i> <a href="javascript:void(0)">Productivity</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">inventore veritatis et vitae quasi architecto beatae </a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-royal-light mr-05"></i> <a href="javascript:void(0)">Resources</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="categories">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-info zmdi zmdi-cocktail"></i>Design <span class="badge badge-info">25</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-warning zmdi zmdi-collection-image"></i> Graphics <span class="badge badge-warning">14</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-danger zmdi zmdi-case-check"></i> Productivity <span class="badge badge-danger">7</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-royal zmdi zmdi-folder-star-alt"></i>Resources <span class="badge badge-royal">67</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-success zmdi zmdi-play-circle-outline"></i>Multimedia <span class="badge badge-success">32</span></a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="archives">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> January 2016 <span class="badge">25</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> February 2016 <span class="badge">14</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> March 2016 <span class="badge">9</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> April 2016 <span class="badge">12</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> June 2016 <span class="badge">65</span></a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tags">
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Design</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Productivity</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Web</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Resources</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Multimedia</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">HTML5</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">CSS3</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Javascript</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Jquery</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Bootstrap</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Angular</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Gulp</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Atom</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Fonts</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Pictures</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Developers</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Code</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">SASS</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Less</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-success animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-play-circle-outline"></i> Feature Video</h3>
                </div>
                <div data-type="vimeo" data-video-id="187935649"></div>
            </div>

            <div class="card card-primary animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-widgets"></i> Text Widget</h3>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsam non eaque est architecto doloribus, labore nesciunt laudantium, ex id ea, cum facilis similique tenetur fugit nemo id minima possimus.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
