<!-- build:include layout/header.html --><!-- /build -->

<div class="container">
    <div class="row">
        <div class="col-md-8">

            <article class="card wow fadeInLeft animation-delay-5 mb-4">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post4.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">April 15, 2015</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card wow fadeInLeft animation-delay-5 mb-4">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post5.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-warning">Graphics</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">January 27, 2016</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card wow fadeInLeft animation-delay-5 mb-4">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post2.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-royal">Productivity</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">Aufust 18, 2015</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card wow fadeInLeft animation-delay-5 mb-4">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post3.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-warning">Graphics</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">January 27, 2016</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <article class="card wow fadeInLeft animation-delay-5 mb-4">
                <div class="card-block">
                    <div class="row">
                        <div class="col-lg-6">
                            <img src="<%= assets %>/img/demo/post1.jpg" alt="" class="img-responsive mb-4">
                        </div>
                        <div class="col-lg-6">
                            <h3 class="no-mt"><a href="javascript:void(0)">Earum delectus libero ipsa temporibus in minus</a></h3>
                            <p class="mb-4">Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudianda beatae magni es repudiandae beatae magni magnam autem natuse inse on voluptates elit sit molestias.</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-8">
                            <img src="<%= assets %>/img/demo/avatar50.jpg" alt="..." class="img-circle mr-1"> by <a href="javascript:void(0)">Victoria</a> in <a href="javascript:void(0)" class="ms-tag ms-tag-success">Multimedia</a>
                            <span class="ml-1 hidden-xs"><i class="zmdi zmdi-time mr-05 color-info"></i> <span class="color-medium-dark">January 27, 2016</span></span>
                        </div>
                        <div class="col-lg-4 text-right">
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-block animate-icon">Read More <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                        </div>
                    </div>
                </div>
            </article>

            <nav aria-label="Page navigation">
                <ul class="pagination pagination-plain">
                    <li>
                        <a href="javascript:void(0)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="active"><a href="javascript:void(0)">1</a></li>
                    <li><a href="javascript:void(0)">2</a></li>
                    <li><a href="javascript:void(0)">3</a></li>
                    <li><a href="javascript:void(0)">4</a></li>
                    <li>
                        <a href="javascript:void(0)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="col-md-4">
            <div class="card animated fadeInUp animation-delay-7">
                <div class="ms-hero-bg-info ms-hero-img-mountain">
                    <h3 class="color-white index-1 text-center no-m pt-4">Victoria Smith</h3>
                    <div class="color-medium index-1 text-center np-m">@vic_smith</div>
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h3 class="color-primary">About me</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-google"><i class="zmdi zmdi-google"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="card card-primary animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-apps"></i> Navigation</h3>
                </div>
                <div class="card-tabs">
                    <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                        <li role="presentation" class="active"><a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-star"></i></a></li>
                        <li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-folder"></i></a></li>
                        <li role="presentation"><a href="#archives" aria-controls="archives" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-time"></i></a></li>
                        <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-tag-more"></i></a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="favorite">
                        <div class="card-block">
                            <div class="ms-media-list">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">Lorem ipsum dolor sit amet in consectetur adipisicing</a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-success mr-05"></i> <a href="javascript:void(0)">Design</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">Nemo enim ipsam voluptatem quia voluptas sit aspernatur</a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-danger mr-05"></i> <a href="javascript:void(0)">Productivity</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">inventore veritatis et vitae quasi architecto beatae </a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-royal-light mr-05"></i> <a href="javascript:void(0)">Resources</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="categories">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-info zmdi zmdi-cocktail"></i>Design <span class="badge badge-info">25</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-warning zmdi zmdi-collection-image"></i> Graphics <span class="badge badge-warning">14</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-danger zmdi zmdi-case-check"></i> Productivity <span class="badge badge-danger">7</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-royal zmdi zmdi-folder-star-alt"></i>Resources <span class="badge badge-royal">67</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-success zmdi zmdi-play-circle-outline"></i>Multimedia <span class="badge badge-success">32</span></a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="archives">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> January 2016 <span class="badge">25</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> February 2016 <span class="badge">14</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> March 2016 <span class="badge">9</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> April 2016 <span class="badge">12</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> June 2016 <span class="badge">65</span></a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tags">
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Design</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Productivity</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Web</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Resources</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Multimedia</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">HTML5</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">CSS3</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Javascript</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Jquery</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Bootstrap</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Angular</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Gulp</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Atom</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Fonts</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Pictures</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Developers</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Code</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">SASS</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Less</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card card-success animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-play-circle-outline"></i> Feature Video</h3>
                </div>
                <div data-type="vimeo" data-video-id="187935649"></div>
            </div>

            <div class="card card-primary animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-widgets"></i> Text Widget</h3>
                </div>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugiat ipsam non eaque est architecto doloribus, labore nesciunt laudantium, ex id ea, cum facilis similique tenetur fugit nemo id minima possimus.</p>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
