<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-thumbnails.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Thumbnails Components</h1>

                    <div class="alert alert-light alert-info">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
                        <i class="fa fa-info"></i> You can also find thumbnails <a href="component-composite-cards.html">inside cards</a>.
                    </div>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Basic Thumbnails</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <a href="javascript:void(0)" class="thumbnail withripple">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port2.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-6">
                                <a href="javascript:void(0)" class="thumbnail withripple color-light">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port3.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <h3>With Ripple Colors</h3>

                        <div class="row">
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="thumbnail withripple color-danger">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port4.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="thumbnail withripple color-warning">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port5.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="thumbnail withripple color-royal">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port6.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="thumbnail withripple color-info">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port1.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="thumbnail withripple color-success">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port7.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                            <div class="col-md-4">
                                <a href="javascript:void(0)" class="thumbnail withripple color-dark">
                                    <div class="thumbnail-container">
                                        <img src="<%= assets %>/img/demo/port8.jpg" alt="..." class="img-responsive">
                                    </div>
                                </a>
                            </div>
                        </div>

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead1">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code1" aria-expanded="false" aria-controls="code1">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead1">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-light&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-danger&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-warning&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-royal&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-info&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-success&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;

&lt;a href=&quot;#&quot; class=&quot;thumbnail withripple color-dark&quot;&gt;
    &lt;div class=&quot;thumbnail-container&quot;&gt;
        &lt;img src=&quot;...&quot; alt=&quot;...&quot; class=&quot;img-responsive&quot;&gt;
    &lt;/div&gt;
&lt;/a&gt;
</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Custom content</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="<%= assets %>/img/demo/port9.jpg" alt="...">
                                    <div class="caption">
                                        <h3 class="color-primary">Thumbnail label</h3>
                                        <p>Cras justo odio egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati inventore praesentium natus iure nam suscipit exercitationem facere nemo.</p>
                                        <div class="text-center"><a href="javascript:void(0)" class="btn btn-primary btn-sm" role="button"><i class="zmdi zmdi-account"></i> Button</a> <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-raised" role="button"><i class="zmdi zmdi-star"></i> Button</a></div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="thumbnail">
                                    <img src="<%= assets %>/img/demo/port10.jpg" alt="...">
                                    <div class="caption">
                                        <h3 class="color-success">Thumbnail label</h3>
                                        <p>Cras justo odio egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati inventore praesentium natus iure nam suscipit exercitationem facere nemo.</p>
                                        <div class="text-center"><a href="javascript:void(0)" class="btn btn-success btn-sm btn-raised" role="button"><i class="zmdi zmdi-star"></i> Button</a></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Thumbnails with hover caption</h2>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Vertical</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail">
                                        <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Horizontal</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-horizontal">
                                        <img src="<%= assets %>/img/demo/port12.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Caption Title</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i><span class="badge badge-danger">12</span></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i><span class="badge badge-warning">6</span</a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised ml-1 btn-circle-white color-success"><i class="zmdi zmdi-download"></i><span class="badge badge-success">5682</span></a>

                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Diagonal</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-diagonal">
                                        <img src="<%= assets %>/img/demo/port13.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Center</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-center">
                                        <img src="<%= assets %>/img/demo/port14.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <div class="mb-2">
                                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                                </div>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Top</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-top">
                                        <img src="<%= assets %>/img/demo/port15.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Bottom</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-bottom">
                                        <img src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Caption Title</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-download"></i></a>

                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Left</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-left">
                                        <img src="<%= assets %>/img/demo/port19.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Right</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-right">
                                        <img src="<%= assets %>/img/demo/port17.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Warning</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-center ms-thumbnail-warning">
                                        <img src="<%= assets %>/img/demo/port18.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-warning"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Danger</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-right ms-thumbnail-danger">
                                        <img src="<%= assets %>/img/demo/port16.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Caption Title</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-download"></i></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Info</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-info">
                                        <img src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title color-warning">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-warning"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Royal</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-bottom ms-thumbnail-royal">
                                        <img src="<%= assets %>/img/demo/port20.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Caption Title</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-download"></i></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Success</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-left ms-thumbnail-success">
                                        <img src="<%= assets %>/img/demo/port24.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Dark</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-dark">
                                        <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title">Caption Title</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-download"></i></a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Light</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-horizontal ms-thumbnail-light">
                                        <img src="<%= assets %>/img/demo/port21.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-eye"></i> View more</a>
                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                            <div class="col-sm-6 mb-2">
                                <h3 class="text-center">Light</h3>
                                <div class="ms-thumbnail-container">
                                    <figure class="ms-thumbnail ms-thumbnail-light">
                                        <img src="<%= assets %>/img/demo/port22.jpg" alt="" class="img-responsive">
                                        <figcaption class="ms-thumbnail-caption text-center">
                                            <div class="ms-thumbnail-caption-content">
                                                <h3 class="ms-thumbnail-caption-title color-royal">Caption Title</h3>
                                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-danger"><i class="zmdi zmdi-favorite"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-warning"><i class="zmdi zmdi-star"></i></a>
                                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-success"><i class="zmdi zmdi-download"></i></a>

                                            </div>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead3">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code3" aria-expanded="false" aria-controls="code3">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead3">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;h3 class=&quot;text-center&quot;&gt;Vertical&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port11.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Horizontal&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-horizontal&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port12.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Diagonal&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-diagonal&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port13.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Center&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-center&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port14.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Top&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-top&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port15.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Bottom&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-bottom&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port1.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Left&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-left&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port19.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Right&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-right&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port17.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Warning&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-center ms-thumbnail-warning&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port18.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

&lt;h3 class=&quot;text-center&quot;&gt;Royal&lt;/h3&gt;
&lt;div class=&quot;ms-thumbnail-container&quot;&gt;
    &lt;figure class=&quot;ms-thumbnail ms-thumbnail-center ms-thumbnail-royal&quot;&gt;
        &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/port18.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;figcaption class=&quot;ms-thumbnail-caption text-center&quot;&gt;
            &lt;div class=&quot;ms-thumbnail-caption-content&quot;&gt;
                &lt;h3 class=&quot;ms-thumbnail-caption-title&quot;&gt;...&lt;/h3&gt;
                ...
            &lt;/div&gt;
        &lt;/figcaption&gt;
    &lt;/figure&gt;
&lt;/div&gt;

...</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
