<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-carousels.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Carousels</h1>
                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Basic Carousel</h2>

                        <div class="card">
                            <div id="carousel-example-generic" class="ms-carousel carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators">
                                    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                                    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="<%= assets %>/img/demo/car1.png" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="<%= assets %>/img/demo/car2.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="<%= assets %>/img/demo/paris.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a href="#carousel-example-generic" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
                                <a href="#carousel-example-generic" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
                            </div>
                        </div>

                        <hr class="dotted">

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card card-primary">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div id="carousel-example-generic2" class="ms-carousel carousel slide" data-ride="carousel">
                                        <!-- Indicators -->
                                        <ol class="carousel-indicators">
                                            <li data-target="#carousel-example-generic2" data-slide-to="0" class="active"></li>
                                            <li data-target="#carousel-example-generic2" data-slide-to="1"></li>
                                            <li data-target="#carousel-example-generic2" data-slide-to="2"></li>
                                        </ol>

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="<%= assets %>/img/demo/car1.png" alt="...">
                                            </div>
                                            <div class="item">
                                                <img src="<%= assets %>/img/demo/car2.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img src="<%= assets %>/img/demo/paris.jpg" alt="...">
                                            </div>
                                        </div>

                                        <!-- Controls -->
                                        <a href="#carousel-example-generic2" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-white color-primary left carousel-control" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
                                        <a href="#carousel-example-generic2" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-white color-primary right carousel-control" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
                                    </div>
                                    <div class="card-block text-center">
                                        <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit. Praesentium non velit at natus ut dolores iusto totam doloremque perspiciatis. Quidem.</p>
                                        <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-warning-inverse">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div id="carousel-example-generic3" class="ms-carousel carousel slide" data-ride="carousel">

                                        <!-- Wrapper for slides -->
                                        <div class="carousel-inner" role="listbox">
                                            <div class="item active">
                                                <img src="<%= assets %>/img/demo/car2.jpg" alt="...">
                                            </div>
                                            <div class="item">
                                                <img src="<%= assets %>/img/demo/car1.png" alt="...">
                                            </div>
                                            <div class="item">
                                                <img src="<%= assets %>/img/demo/paris.jpg" alt="...">
                                            </div>
                                        </div>

                                        <!-- Controls -->
                                        <a href="#carousel-example-generic3" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-warning left carousel-control" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
                                        <a href="#carousel-example-generic3" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-warning right carousel-control" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
                                    </div>
                                    <div class="card-block text-center">
                                        <h4 class="">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit. Praesentium non velit at natus ut dolores iusto totam doloremque perspiciatis. Quidem.</p>
                                        <a href="javascript:void(0)" class="btn btn-white"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-raised color-warning"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead1">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code1" aria-expanded="false" aria-controls="code1">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead1">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;div id=&quot;carousel-example-generic&quot; class=&quot;ms-carousel carousel slide&quot; data-ride=&quot;carousel&quot;&gt;
    &lt;!-- Indicators --&gt;
    &lt;ol class=&quot;carousel-indicators&quot;&gt;
        &lt;li data-target=&quot;#carousel-example-generic&quot; data-slide-to=&quot;0&quot; class=&quot;active&quot;&gt;&lt;/li&gt;
        &lt;li data-target=&quot;#carousel-example-generic&quot; data-slide-to=&quot;1&quot;&gt;&lt;/li&gt;
        &lt;li data-target=&quot;#carousel-example-generic&quot; data-slide-to=&quot;2&quot;&gt;&lt;/li&gt;
    &lt;/ol&gt;

    &lt;!-- Wrapper for slides --&gt;
    &lt;div class=&quot;carousel-inner&quot; role=&quot;listbox&quot;&gt;
        &lt;div class=&quot;item active&quot;&gt;
            &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car1.png&quot; alt=&quot;...&quot;&gt;
            &lt;div class=&quot;carousel-caption&quot;&gt;
                &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;item&quot;&gt;
            &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car2.jpg&quot; alt=&quot;...&quot;&gt;
            &lt;div class=&quot;carousel-caption&quot;&gt;
                &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
        &lt;div class=&quot;item&quot;&gt;
            &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/paris.jpg&quot; alt=&quot;...&quot;&gt;
            &lt;div class=&quot;carousel-caption&quot;&gt;
                &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;

    &lt;!-- Controls --&gt;
    &lt;a href=&quot;#carousel-example-generic&quot; class=&quot;btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control&quot; role=&quot;button&quot; data-slide=&quot;prev&quot;&gt;&lt;i class=&quot;zmdi zmdi-chevron-left&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;a href=&quot;#carousel-example-generic&quot; class=&quot;btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control&quot; role=&quot;button&quot; data-slide=&quot;next&quot;&gt;&lt;i class=&quot;zmdi zmdi-chevron-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Thumbnails Indicators</h2>
                        <div class="card">
                            <div id="carousel-example-generic4" class="ms-carousel ms-carousel-thumb carousel slide" data-ride="carousel">
                                <!-- Indicators -->
                                <ol class="carousel-indicators carousel-indicators-tumbs">
                                    <li data-target="#carousel-example-generic4" data-slide-to="0" class="active">
                                        <img src="<%= assets %>/img/demo/car1-thumb.png" alt="">
                                    </li>
                                    <li data-target="#carousel-example-generic4" data-slide-to="1">
                                        <img src="<%= assets %>/img/demo/car2-thumb.jpg" alt="">
                                    </li>
                                    <li data-target="#carousel-example-generic4" data-slide-to="2">
                                        <img src="<%= assets %>/img/demo/paris-thumb.png" alt="">
                                    </li>
                                </ol>

                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="<%= assets %>/img/demo/car1.png" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="<%= assets %>/img/demo/car2.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="<%= assets %>/img/demo/paris.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead2">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code2" aria-expanded="false" aria-controls="code2">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead2">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;div class=&quot;card&quot;&gt;
    &lt;div id=&quot;carousel-example-generic4&quot; class=&quot;ms-carousel ms-carousel-thumb carousel slide&quot; data-ride=&quot;carousel&quot;&gt;
        &lt;!-- Indicators --&gt;
        &lt;ol class=&quot;carousel-indicators carousel-indicators-tumbs&quot;&gt;
            &lt;li data-target=&quot;#carousel-example-generic4&quot; data-slide-to=&quot;0&quot; class=&quot;active&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car1-thumb.png&quot; alt=&quot;&quot;&gt;
            &lt;/li&gt;
            &lt;li data-target=&quot;#carousel-example-generic4&quot; data-slide-to=&quot;1&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car2-thumb.jpg&quot; alt=&quot;&quot;&gt;
            &lt;/li&gt;
            &lt;li data-target=&quot;#carousel-example-generic4&quot; data-slide-to=&quot;2&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/paris-thumb.png&quot; alt=&quot;&quot;&gt;
            &lt;/li&gt;
        &lt;/ol&gt;

        &lt;!-- Wrapper for slides --&gt;
        &lt;div class=&quot;carousel-inner&quot; role=&quot;listbox&quot;&gt;
            &lt;div class=&quot;item active&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car1.png&quot; alt=&quot;...&quot;&gt;
                &lt;div class=&quot;carousel-caption&quot;&gt;
                    &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;item&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car2.jpg&quot; alt=&quot;...&quot;&gt;
                &lt;div class=&quot;carousel-caption&quot;&gt;
                    &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;item&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/paris.jpg&quot; alt=&quot;...&quot;&gt;
                &lt;div class=&quot;carousel-caption&quot;&gt;
                    &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;
</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Thumbnails Indicators Outside</h2>
                        <div id="carousel-example-generic5" class="ms-carousel ms-carousel-thumb carousel slide" data-ride="carousel">
                            <div class="card card-relative">
                                <!-- Wrapper for slides -->
                                <div class="carousel-inner" role="listbox">
                                    <div class="item active">
                                        <img src="<%= assets %>/img/demo/car2.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="<%= assets %>/img/demo/car1.png" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                    <div class="item">
                                        <img src="<%= assets %>/img/demo/paris.jpg" alt="...">
                                        <div class="carousel-caption">
                                            <h3>Lorem ipsum dolor</h3>
                                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        </div>
                                    </div>
                                </div>

                                <!-- Controls -->
                                <a href="#carousel-example-generic5" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
                                <a href="#carousel-example-generic5" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
                            </div>
                            <!-- Indicators -->
                            <ol class="carousel-indicators carousel-indicators-tumbs carousel-indicators-tumbs-outside">
                                <li data-target="#carousel-example-generic5" data-slide-to="0" class="active">
                                    <img src="<%= assets %>/img/demo/car2-thumb.jpg" alt="">
                                </li>
                                <li data-target="#carousel-example-generic5" data-slide-to="1">
                                    <img src="<%= assets %>/img/demo/car1-thumb.png" alt="">
                                </li>
                                <li data-target="#carousel-example-generic5" data-slide-to="2">
                                    <img src="<%= assets %>/img/demo/paris-thumb.png" alt="">
                                </li>
                            </ol>
                        </div>
                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead3">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code3" aria-expanded="false" aria-controls="code3">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead3">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;div id=&quot;carousel-example-generic5&quot; class=&quot;ms-carousel ms-carousel-thumb carousel slide&quot; data-ride=&quot;carousel&quot;&gt;
    &lt;div class=&quot;card card-relative&quot;&gt;
        &lt;!-- Wrapper for slides --&gt;
        &lt;div class=&quot;carousel-inner&quot; role=&quot;listbox&quot;&gt;
            &lt;div class=&quot;item active&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car2.jpg&quot; alt=&quot;...&quot;&gt;
                &lt;div class=&quot;carousel-caption&quot;&gt;
                    &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;item&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car1.png&quot; alt=&quot;...&quot;&gt;
                &lt;div class=&quot;carousel-caption&quot;&gt;
                    &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
            &lt;div class=&quot;item&quot;&gt;
                &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/paris.jpg&quot; alt=&quot;...&quot;&gt;
                &lt;div class=&quot;carousel-caption&quot;&gt;
                    &lt;h3&gt;Lorem ipsum dolor&lt;/h3&gt;
                    &lt;p&gt;Lorem ipsum dolor sit amet, consectetur adipisicing elit.&lt;/p&gt;
                &lt;/div&gt;
            &lt;/div&gt;
        &lt;/div&gt;

        &lt;!-- Controls --&gt;
        &lt;a href=&quot;#carousel-example-generic5&quot; class=&quot;btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control&quot; role=&quot;button&quot; data-slide=&quot;prev&quot;&gt;&lt;i class=&quot;zmdi zmdi-chevron-left&quot;&gt;&lt;/i&gt;&lt;/a&gt;
        &lt;a href=&quot;#carousel-example-generic5&quot; class=&quot;btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control&quot; role=&quot;button&quot; data-slide=&quot;next&quot;&gt;&lt;i class=&quot;zmdi zmdi-chevron-right&quot;&gt;&lt;/i&gt;&lt;/a&gt;
    &lt;/div&gt;
    &lt;!-- Indicators --&gt;
    &lt;ol class=&quot;carousel-indicators carousel-indicators-tumbs carousel-indicators-tumbs-outside&quot;&gt;
        &lt;li data-target=&quot;#carousel-example-generic5&quot; data-slide-to=&quot;0&quot; class=&quot;active&quot;&gt;
            &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car2-thumb.jpg&quot; alt=&quot;&quot;&gt;
        &lt;/li&gt;
        &lt;li data-target=&quot;#carousel-example-generic5&quot; data-slide-to=&quot;1&quot;&gt;
            &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/car1-thumb.png&quot; alt=&quot;&quot;&gt;
        &lt;/li&gt;
        &lt;li data-target=&quot;#carousel-example-generic5&quot; data-slide-to=&quot;2&quot;&gt;
            &lt;img src=&quot;&lt;%= assets %&gt;/img/demo/paris-thumb.png&quot; alt=&quot;&quot;&gt;
        &lt;/li&gt;
    &lt;/ol&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Owl Carousel</h2>
                        <div class="owl-dots"></div>
                        <div class="owl-carousel owl-theme">
                            <div class="card card-primary animation-delay-5">
                                <img class="owl-lazy" data-src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-responsive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
                                </div>
                            </div>
                            <div class="card card-info animation-delay-6">
                                <img class="owl-lazy" data-src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
                                </div>
                            </div>
                            <div class="card card-danger animation-delay-7">
                                <img class="owl-lazy" data-src="<%= assets %>/img/demo/port3.jpg" alt="" class="img-responsive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
                                </div>
                            </div>
                            <div class="card card-royal animation-delay-5">
                                <img class="owl-lazy" data-src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
                                </div>
                            </div>
                            <div class="card card-warning animation-delay-6">
                                <img class="owl-lazy" data-src="<%= assets %>/img/demo/port5.jpg" alt="" class="img-responsive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
                                </div>
                            </div>
                            <div class="card card-success animation-delay-7">
                                <img class="owl-lazy" data-src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-responsive">
                                <div class="card-block">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-info panel-code">
                            <div class="panel-heading panel-code-heading" role="tab" id="codeHead4">
                                <h4 class="panel-title panel-code-title">
                                    <a class="collapsed withripple" role="button" data-toggle="collapse" href="#code4" aria-expanded="false" aria-controls="code4">
                                        <i class="zmdi zmdi-code"></i> Show Code
                                    </a>
                                </h4>
                            </div>
                            <div id="code4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="codeHead4">
                                <div class="panel-code-body">
<pre><code class="language-markup line-numbers">&lt;div class=&quot;owl-dots&quot;&gt;&lt;/div&gt;
&lt;div class=&quot;owl-carousel owl-theme&quot;&gt;
    &lt;div class=&quot;card card-primary animation-delay-5&quot;&gt;
        &lt;img class=&quot;owl-lazy&quot; data-src=&quot;&lt;%= assets %&gt;/img/demo/port1.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;div class=&quot;card-block&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card card-info animation-delay-6&quot;&gt;
        &lt;img class=&quot;owl-lazy&quot; data-src=&quot;&lt;%= assets %&gt;/img/demo/port2.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;div class=&quot;card-block&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card card-danger animation-delay-7&quot;&gt;
        &lt;img class=&quot;owl-lazy&quot; data-src=&quot;&lt;%= assets %&gt;/img/demo/port3.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;div class=&quot;card-block&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card card-royal animation-delay-5&quot;&gt;
        &lt;img class=&quot;owl-lazy&quot; data-src=&quot;&lt;%= assets %&gt;/img/demo/port4.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;div class=&quot;card-block&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card card-warning animation-delay-6&quot;&gt;
        &lt;img class=&quot;owl-lazy&quot; data-src=&quot;&lt;%= assets %&gt;/img/demo/port5.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;div class=&quot;card-block&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
        &lt;/div&gt;
    &lt;/div&gt;
    &lt;div class=&quot;card card-success animation-delay-7&quot;&gt;
        &lt;img class=&quot;owl-lazy&quot; data-src=&quot;&lt;%= assets %&gt;/img/demo/port6.jpg&quot; alt=&quot;&quot; class=&quot;img-responsive&quot;&gt;
        &lt;div class=&quot;card-block&quot;&gt;
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quasi cumque, vero odit, distinctio provident dolorem ullam laboriosam! Nisi asperiores unde error, reiciendis numquam! Numquam corporis incidunt doloremque repellat reiciendis, sit.
        &lt;/div&gt;
    &lt;/div&gt;
&lt;/div&gt;</code></pre>
                                </div>
                            </div>
                        </div> <!-- panel-code -->
                    </section>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/component-carousels.js"></script>

</body>
</html>
