<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-composite-cards.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Composite Cards</h1>
                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Cards with Images</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <h3 class="text-center">Basic image</h3>
                                <div class="card">
                                    <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                    <div class="card-block text-center">
                                        <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit. Praesentium non velit at natus ut dolores iusto totam doloremque perspiciatis. Quidem.</p>
                                        <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">Link, Zoom &amp; Ripple</h3>
                                <div class="card">
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <h4 class="color-success">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit. Praesentium non velit at natus ut dolores iusto totam doloremque perspiciatis. Quidem.</p>
                                        <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">With Color</h3>
                                <div class="card card-info">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <h4 class="color-info">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-map"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3 class="text-center">With Inverse Color</h3>
                                <div class="card card-warning-inverse">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <h4 class="">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-white color-warning btn-raised"><i class="zmdi zmdi-wrench"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div> <!-- row -->

                        <div class="row">
                            <div class="col-xs-12">
                                <h3 class="text-center">Cards with colums</h3>
                                <div class="card">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <img src="<%= assets %>/img/demo/m2.jpg" alt="" class="img-responsive">
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card-block text-center">
                                                <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                                <a href="javascript:void(0)" class="btn btn-raised btn-royal btn-raised"><i class="zmdi zmdi-wrench"></i> Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>

                        <hr class="dashed">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card card-danger">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <div class="card-header">
                                                <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-push-6">
                                            <div class="withripple zoom-img">
                                                <a href="javascript:void(0);">
                                                    <img src="<%= assets %>/img/demo/m3.jpg" alt="" class="img-responsive">
                                                </a>
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-pull-6">
                                            <div class="card-block text-center">
                                                <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                                <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-email"></i> Button</a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-airplane"></i> Button</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <hr class="dashed">

                        <div class="row">
                            <div class="col-xs-12">
                                <div class="card card-primary">
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <div class="card-block">
                                                <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-lg-6">
                                            <div class="card-block text-center">
                                                <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                                <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-email"></i> Button</a>
                                                <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-airplane"></i> Button</a>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <div class="col-lg-6 col-lg-push-6">
                                            <div class="card-block">
                                                <img src="<%= assets %>/img/demo/m2.jpg" alt="" class="img-responsive">
                                            </div>
                                        </div>
                                        <div class="col-lg-6 col-lg-pull-6">
                                            <div class="card-block text-center">
                                                <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                                <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-email"></i> Button</a>
                                                <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-airplane"></i> Button</a>
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="alert alert-success alert-light alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
                            <i class="zmdi zmdi-info"></i> These are just a few examples. The options are limitless.
                        </div>
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Card with Tabs</h2>

                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-tabs">
                                        <ul class="nav nav-tabs shadow-2dp" role="tablist">
                                            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-home"></i> <span class="hidden-xs">Home</span></a></li>
                                            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-male"></i> <span class="hidden-xs">Profile</span></a></li>
                                            <li role="presentation"><a href="#messages" aria-controls="messages" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-email"></i> <span class="hidden-xs">Mail</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="home">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo velit magnam reiciendis, molestiae tenetur ducimus quo, corporis rem quisquam molestias aperiam soluta non officiis odio impedit odit vitae excepturi ab.
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, earum error delectus optio amet, facere saepe adipisci eos, explicabo dolorem nulla iusto ex dignissimos suscipit. Mollitia error vitae maiores porro.
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="messages">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor provident inventore, ab, repudiandae dolorem veritatis magnam, odio iure porro illum quibusdam! Eligendi vitae beatae, molestiae facere magnam eos sit debitis.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card">
                                    <div class="card-tabs">
                                        <ul class="nav nav-tabs nav-tabs-full nav-tabs-3 shadow-2dp" role="tablist">
                                            <li role="presentation" class="active"><a href="#home2" aria-controls="home2" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-home"></i> <span class="hidden-xs">Home</span></a></li>
                                            <li role="presentation"><a href="#profile2" aria-controls="profile2" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-account"></i> <span class="hidden-xs">Profile</span></a></li>
                                            <li role="presentation"><a href="#messages2" aria-controls="messages3" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-star"></i> <span class="hidden-xs">Favorite</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="home2">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo velit magnam reiciendis, molestiae tenetur ducimus quo, corporis rem quisquam molestias aperiam soluta non officiis odio impedit odit vitae excepturi ab.
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile2">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure, earum error delectus optio amet, facere saepe adipisci eos, explicabo dolorem nulla iusto ex dignissimos suscipit. Mollitia error vitae maiores porro.
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="messages2">
                                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolor provident inventore, ab, repudiandae dolorem veritatis magnam, odio iure porro illum quibusdam! Eligendi vitae beatae, molestiae facere magnam eos sit debitis.
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-royal">
                                    <div class="card-header">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div class="card-tabs">
                                        <ul class="nav nav-tabs nav-tabs-transparent indicator-royal nav-tabs-full nav-tabs-3" role="tablist">
                                            <li role="presentation" class="active"><a href="#home3" aria-controls="home3" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-home"></i> <span class="hidden-xs">Home</span></a></li>
                                            <li role="presentation"><a href="#profile3" aria-controls="profile" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-male"></i> <span class="hidden-xs">Profile</span></a></li>
                                            <li role="presentation"><a href="#messages3" aria-controls="messages3" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-email"></i> <span class="hidden-xs">Mail</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="home3">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit magnam, consectetur unde, deserunt voluptatum earum beatae architecto pariatur excepturi commodi, natus nostrum ullam fugit eum est? Adipisci ad, neque veniam.</p>
                                                <p>Quod aperiam asperiores, pariatur excepturi perferendis sunt beatae doloribus explicabo, veniam numquam, autem nihil culpa sapiente blanditiis, est repellendus totam velit nisi aliquid a optio? Iste placeat necessitatibus qui eius.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile3">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita ratione eum, praesentium labore nemo molestiae non, quasi similique enim natus. Maiores dolor architecto facilis cum cupiditate aliquam culpa natus!</p>
                                                <p>Eos sapiente natus inventore quaerat, obcaecati explicabo delectus ipsa iste sit deserunt, blanditiis temporibus. Unde mollitia officiis eum. Ut autem voluptatibus maiores amet at magnam fuga doloremque! Explicabo, qui, eaque.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="messages3">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia sit neque aperiam perferendis. Consequuntur fugiat dolorum ratione neque veniam dignissimos doloribus cupiditate beatae explicabo cumque possimus earum optio, autem!</p>
                                                <p>Ducimus adipisci vitae deleniti nostrum fugit ullam aliquam labore illum est soluta? Pariatur adipisci maiores, temporibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card card-primary">
                                    <div class="card-header text-center">
                                        <h3 class="card-title"><i class="zmdi zmdi-graduation-cap"></i> Card Title</h3>
                                    </div>
                                    <div class="card-tabs">
                                        <ul class="nav nav-tabs nav-tabs-full indicator-dark nav-tabs-inverse nav-tabs-3" role="tablist">
                                            <li role="presentation" class="active"><a href="#home4" aria-controls="home4" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-home"></i> <span class="hidden-xs">Home</span></a></li>
                                            <li role="presentation"><a href="#profile4" aria-controls="profile4" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-male"></i> <span class="hidden-xs">Profile</span></a></li>
                                            <li role="presentation"><a href="#messages4" aria-controls="messages4" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-email"></i> <span class="hidden-xs">Mail</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="card-block">
                                        <div class="tab-content">
                                            <div role="tabpanel" class="tab-pane fade active in" id="home4">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit magnam, consectetur unde, deserunt voluptatum earum beatae architecto pariatur excepturi commodi, natus nostrum ullam fugit eum est? Adipisci ad, neque veniam.</p>
                                                <p>Quod aperiam asperiores, pariatur excepturi perferendis sunt beatae doloribus explicabo, veniam numquam, autem nihil culpa sapiente blanditiis, est repellendus totam velit nisi aliquid a optio? Iste placeat necessitatibus qui eius.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="profile4">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse expedita ratione eum, praesentium labore nemo molestiae non, quasi similique enim natus. Maiores dolor architecto facilis cum cupiditate aliquam culpa natus!</p>
                                                <p>Eos sapiente natus inventore quaerat, obcaecati explicabo delectus ipsa iste sit deserunt, blanditiis temporibus. Unde mollitia officiis eum. Ut autem voluptatibus maiores amet at magnam fuga doloremque! Explicabo, qui, eaque.</p>
                                            </div>
                                            <div role="tabpanel" class="tab-pane fade" id="messages4">
                                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eligendi officia sit neque aperiam perferendis. Consequuntur fugiat dolorum ratione neque veniam dignissimos doloribus cupiditate beatae explicabo cumque possimus earum optio, autem!</p>
                                                <p>Ducimus adipisci vitae deleniti nostrum fugit ullam aliquam labore illum est soluta? Pariatur adipisci maiores, temporibus.</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Cards with Material Icon</h2>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="card">
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-primary btn-circle-raised btn-card-float wow zoomInDown"><i class="zmdi zmdi-star"></i></a>
                                        <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="card card-warning">
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-warning btn-circle-raised btn-card-float wow zoomInDown"><i class="zmdi zmdi-star"></i></a>
                                        <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <h3>Left</h3>
                                <div class="card card-royal">
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float left wow zoomInDown"><i class="zmdi zmdi-star"></i></a>
                                        <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <h3>Right</h3>
                                <div class="card card-success">
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown"><i class="zmdi zmdi-star"></i></a>
                                        <h4 class="color-success">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                                        <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="text-center">Two Float Buttons</h3>
                                <div class="card card-info-inverse">
                                    <div class="withripple zoom-img">
                                        <a href="javascript:void(0);">
                                            <img src="<%= assets %>/img/back_mountain.jpg" alt="" class="img-responsive">
                                        </a>
                                    </div>
                                    <div class="card-block text-center">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-lg btn-circle-white color-warning btn-circle-raised btn-card-float left wow zoomInDown"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-lg btn-circle-white color-danger btn-circle-raised btn-card-float right wow zoomInDown"><i class="zmdi zmdi-favorite"></i></a>
                                        <h4 class="">Lorem ipsum dolor sit</h4>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                                        <a href="javascript:void(0)" class="btn btn-white color-success btn-raised"><i class="zmdi zmdi-airplane"></i>Other</a>
                                        <a href="javascript:void(0)" class="btn btn-white color-info btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
