<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container container-full">
    <div class="ms-paper">
        <div class="row">
            <!-- build:componentsMenu component-charts-line.html --><!-- /build -->
            <div class="col-md-9 ms-paper-content-container">
                <div class="ms-paper-content">
                    <h1>Line Charts</h1>
                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Basic Line Chart</h2>
                        <canvas id="myChart"></canvas>
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">Real Time</h2>
                        <canvas id="myChart2"></canvas>

                        <h3>Inside Card</h3>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="card card-primary">
                                    <div class="bg-primary">
                                        <canvas id="myChart3"></canvas>
                                    </div>
                                    <div class="card-block text-center">
                                        <h3 class="color-primary ">Lorem ipsum dolor sit</h3>
                                        <p>Rerum reiciendis soluta pariatur vitae, exercitationem dolorem nulla. Omnis blanditiis deleniti aliquid nemo odit quod ex laudantium itaque sed.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-primary"><i class="zmdi zmdi-chart"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="card card-warning">
                                    <div class="bg-warning">
                                        <canvas id="myChart4"></canvas>
                                    </div>
                                    <div class="card-block text-center">
                                        <h3 class="color-warning ">Lorem ipsum dolor sit</h3>
                                        <p>Rerum reiciendis soluta pariatur vitae, exercitationem dolorem nulla. Omnis blanditiis deleniti aliquid nemo odit quod ex laudantium itaque sed.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-warning"><i class="zmdi zmdi-chart"></i> Button</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>

                    <section class="ms-component-section">
                        <h2 class="section-title no-margin-top">More Options</h2>
                        <canvas id="myChart5"></canvas>
                    </section>

                    <div class="alert alert-royal alert-light">
                        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><i class="zmdi zmdi-close"></i></button>
                        <strong>Info:</strong> Material Style use the <a href="http://www.chartjs.org/">chart.js</a> library to create charts. Read the documentation to adapt the graphics to your project.
                    </div>
                </div> <!-- ms-paper-content -->
            </div> <!-- col-md-9 -->
        </div> <!-- row -->
    </div> <!-- ms-paper -->
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/charts-line.js"></script>

</body>
</html>
