<!-- build:include layout/header/head-revolution.html --><!-- /build -->

<!-- build:include:demo layout/header/configurator.html --><!-- /build -->
<!-- build:include:dist,navbar,demo layout/preload.html --><!-- /build -->

<div class="sb-site-container">
    <!-- build:include:dist,demo,dev layout/header/header.html --><!-- /build -->
    <!-- build:include layout/header/navbar.html --><!-- /build -->


<div id="rev_slider_1049_1_wrapper" class="rev_slider_wrapper ms-hero-rev fullwidthbanner-container" data-alias="web-product-light-hero120" data-source="gallery" style="margin:0px auto;background-color:transparent;padding:0px;margin-top:0px;margin-bottom:0px;">
<!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
	<div id="rev_slider_1049_1" class="rev_slider fullwidthabanner" style="display:none;" data-version="5.3.0.2">
		<ul>	<!-- SLIDE  -->
			<li data-index="rs-2934" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1500"  data-rotate="0"  data-saveperformance="off"  data-title="Intro" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
				<!-- MAIN IMAGE -->
				<img src="<%= assets %>/plugins/revolution/assets/images/express_bglight.jpg"  alt=""  data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" data-bgparallax="5" class="rev-slidebg" data-no-retina>
				<!-- LAYERS -->

				<!-- LAYER NR. 1 -->
				<div class="tp-caption tp-resizeme rs-parallaxlevel-1"
					 id="slide-2934-layer-1"
					data-x="['right','right','center','center']" data-hoffset="['-254','-453','70','60']"
					data-y="['middle','middle','middle','bottom']" data-voffset="['50','50','211','25']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="image"
					data-responsive_offset="on"

					data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2500,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 5;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/macbookpro.png" alt="" data-ww="['1000px','1000px','500px','350px']" data-hh="['600px','600px','300px','210px']" width="1000" height="600" data-no-retina> </div>

				<!-- LAYER NR. 2 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-1"
					 id="slide-2934-layer-2"
					data-x="['left','left','center','center']" data-hoffset="['828','865','70','60']"
					data-y="['top','top','top','bottom']" data-voffset="['216','216','580','63']"
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="image"
					data-responsive_offset="on"

					data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":3350,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 6;text-transform:left;border-width:0px;"><img src="<%= assets %>/img/demo/express_macbook_content1.jpg" alt="" data-ww="['653px','653px','330px','230px']" data-hh="['408px','408px','206px','144px']" width="653" height="408" data-no-retina> </div>

				<!-- LAYER NR. 3 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
					 id="slide-2934-layer-3"
					data-x="['left','left','center','center']" data-hoffset="['593','633','-110','-60']"
					data-y="['top','top','top','bottom']" data-voffset="['203','203','590','20']"
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="image"
					data-responsive_offset="on"

					data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":2750,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 7;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/ipad.png" alt="" data-ww="['430px','430px','200px','170px']" data-hh="['540px','540px','251px','213px']" width="430" height="540" data-no-retina> </div>

				<!-- LAYER NR. 4 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-2"
					 id="slide-2934-layer-4"
					data-x="['left','left','left','center']" data-hoffset="['663','703','212','-60']"
					data-y="['top','top','top','bottom']" data-voffset="['291','291','632','50']"
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="image"
					data-responsive_offset="on"

					data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":3700,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 8;text-transform:left;border-width:0px;"><img src="<%= assets %>/img/demo/express_ipad_content1.jpg" alt="" data-ww="['290px','290px','135px','115px']" data-hh="['374px','374px','174px','148px']" width="290" height="374" data-no-retina> </div>

				<!-- LAYER NR. 5 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
					 id="slide-2934-layer-5"
					data-x="['left','left','left','left']" data-hoffset="['530','553','127','58']"
					data-y="['top','top','top','top']" data-voffset="['298','297','622','529']"
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="image"
					data-responsive_offset="on"

					data-frames='[{"from":"x:right;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 9;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/ihpone.png" alt="" data-ww="['260px','260px','130px','100px']" data-hh="['450px','450px','225px','173px']" width="260" height="450" data-no-retina> </div>

				<!-- LAYER NR. 6 -->
				<div class="tp-caption   tp-resizeme rs-parallaxlevel-3"
					 id="slide-2934-layer-6"
					data-x="['left','left','left','left']" data-hoffset="['576','598','150','75']"
					data-y="['top','top','top','top']" data-voffset="['380','379','663','560']"
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="image"
					data-responsive_offset="on"

					data-frames='[{"from":"z:0;rX:0deg;rY:0;rZ:0;sX:1.5;sY:1.5;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":3950,"ease":"Power3.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 10;text-transform:left;border-width:0px;"><img src="<%= assets %>/img/demo/express_iphone_content1.jpg" alt="" data-ww="['170px','170px','85px','66px']" data-hh="['286px','286px','143px','111px']" width="170" height="286" data-no-retina> </div>

				<!-- LAYER NR. 7 -->
				<div class="tp-caption WebProduct-Title   tp-resizeme"
					id="slide-2934-layer-7"
					data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
					data-y="['middle','middle','top','top']" data-voffset="['-110','-110','137','100']"
					data-fontsize="['50','50','50','50']"
					data-lineheight="['50','50','50','50']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="text"
					data-responsive_offset="on"

					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1000,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 11; white-space: nowrap;text-transform:left;">Material<strong style="font-size:50px">Style</strong> </div>

				<!-- LAYER NR. 8 -->
				<div class="tp-caption WebProduct-SubTitle   tp-resizeme"
					id="slide-2934-layer-10"
					data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
					data-y="['middle','middle','top','top']" data-voffset="['-50','-50','220','180']"
					data-fontsize="['15','15','15','13']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="text"
					data-responsive_offset="on"

					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1250,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 12; white-space: nowrap;text-transform:left;letter-spacing:2px;font-weight:500;">Bootstrap / HTML &amp; CSS / JQUERY </div>

				<!-- LAYER NR. 9 -->
				<div class="tp-caption WebProduct-Content   tp-resizeme"
					 id="slide-2934-layer-9"
					data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
					data-y="['middle','middle','top','top']" data-voffset="['0','30','265','220']"
					data-fontsize="['16','16','16','14']"
					data-lineheight="['24','24','24','22']"
					data-width="['448','406','334','277']"
					data-height="['none','none','76','68']"
					data-whitespace="normal"

					data-type="text"
					data-responsive_offset="on"

					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1500,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 13; min-width: 448px; max-width: 448px; white-space: normal;text-transform:left;">Our portfolio includes some of the most prominent clients.<br/>You can be a part now!
				</div>

				<!-- LAYER NR. 10 -->
				<div class="tp-caption btn btn-raised btn-primary btn-lg"
					 id="slide-2934-layer-8"
					data-x="['left','left','left','left']" data-hoffset="['30','30','200','80']"
					data-y="['middle','middle','top','top']" data-voffset="['80','120','350','300']"
					data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="button"
					data-actions='[{"event":"click","action":"scrollbelow","offset":"-50px","delay":""}]'
					data-responsive_offset="on"
					data-responsive="off"
					data-frames='[{"from":"x:-50px;opacity:0;","speed":1000,"to":"o:1;","delay":1750,"ease":"Power2.easeOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"},{"frame":"hover","speed":"300","ease":"Linear.easeNone","to":"o:1;rX:0;rY:0;rZ:0;z:0;"}]'><i class="zmdi zmdi-square-down"></i> GET STARTED TODAY </div>
			</li>
		</ul>
		<div style="" class="tp-static-layers">
			<!-- LAYER NR. 11 -->
			<div class="tp-caption -   tp-static-layer"
					 id="slider-1049-layer-1"
					data-x="['right','right','right','right']" data-hoffset="['30','30','30','30']"
					data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
								data-width="none"
					data-height="none"
					data-whitespace="nowrap"

					data-type="text"
					data-actions='[{"event":"click","action":"toggleclass","layer":"slider-1049-layer-1","delay":"0","classname":"open"},{"event":"click","action":"togglelayer","layerstatus":"hidden","layer":"slider-1049-layer-3","delay":"0"},{"event":"click","action":"togglelayer","layerstatus":"hidden","layer":"slider-1049-layer-4","delay":"0"},{"event":"click","action":"togglelayer","layerstatus":"hidden","layer":"slider-1049-layer-5","delay":"0"},{"event":"click","action":"togglelayer","layerstatus":"hidden","layer":"slider-1049-layer-6","delay":"0"}]'
					data-basealign="slide"
					data-responsive_offset="off"
					data-responsive="off"
					data-startslide="-1"
					data-endslide="-1"
					data-frames='[{"from":"opacity:0;","speed":1000,"to":"o:1;","delay":500,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"auto:auto;","ease":"nothing"}]'
					data-textAlign="['left','left','left','left']"
					data-paddingtop="[0,0,0,0]"
					data-paddingright="[0,0,0,0]"
					data-paddingbottom="[0,0,0,0]"
					data-paddingleft="[0,0,0,0]"

					style="z-index: 15; white-space: nowrap; font-size: 20px; line-height: 22px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-transform:left;border-width:0px;">
			</div>
		</div>
		<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>
	</div>
</div><!-- END REVOLUTION SLIDER -->

<div class="container mt-4">
    <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
    <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Lorem ipsum dolor sit amet, <span class="color-primary">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
	<div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-8">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-royal"><i class="zmdi zmdi-airplane"></i></span>
            <h4 class="color-royal">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-royal btn-raised">Action here</a>
        </div>
    </div>
    <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-4">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-lamp"></i></span>
            <h4 class="color-warning">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a>
        </div>
    </div>
	<div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-10">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cake"></i></span>
            <h4 class="color-info">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Action here</a>
        </div>
    </div>
	<div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-6">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger"><i class="zmdi zmdi-coffee"></i></span>
            <h4 class="color-danger">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-danger btn-raised">Action here</a>
        </div>
    </div>
</div> <!-- container -->

<div class="wrap ms-hero-img-coffee ms-hero-bg-success ms-bg-fixed color-dark mt-6">
    <div class="container">
        <h1 class="color-white text-center mb-4">Some numerical data</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-royal card-block text-center wow zoomInUp animation-delay-2">
                    <h2 class="counter">450</h2>
                    <i class="fa fa-4x fa-coffee color-royal"></i>
                    <p class="mt-2 no-mb lead small-caps">cups of coffee</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-warning card-block text-center wow zoomInUp animation-delay-5">
                    <h2 class="counter">64</h2>
                    <i class="fa fa-4x fa-briefcase color-warning"></i>
                    <p class="mt-2 no-mb lead small-caps">projects done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-danger card-block text-center wow zoomInUp animation-delay-4">
                    <h2 class="counter">600</h2>
                    <i class="fa fa-4x fa-comments-o color-danger"></i>
                    <p class="mt-2 no-mb lead small-caps">comments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-info card-block text-center wow zoomInUp animation-delay-3">
                    <h2 class="counter">3500</h2>
                    <i class="fa fa-4x fa-group color-info"></i>
                    <p class="mt-2 no-mb lead small-caps">happy clients</p>
                </div>
            </div>
        </div>
        <div class="text-center color-white mw-800 center-block mt-4">
            <p class="lead lead-lg">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge. We are backed by 20 years of research.</p>
            <a href="javascript:void(0)" class="btn btn-lg btn-raised btn-white color-success wow flipInX animation-delay-8"><i class="fa fa-space-shuttle"></i> I have a project</a>
        </div>
    </div>
</div>

<section class="mt-6">
    <div class="container">
        <div class="text-center">
        	<h1 class="color-primary">Latest Works</h1>
			<p class="lead lead-lg color-medium">Get inspired with our best work</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrap wrap-mountain mt-6">
    <div class="container">
        <h2 class="text-center text-light mb-6 wow fadeInDown animation-delay-5">Material Design is a <strong>new way</strong> to create designs</h2>
        <div class="row">
            <div class="col-md-6 col-md-push-6 mb-4  center-block">
                <img src="<%= assets %>/img/demo/mock.png" alt="" class="img-responsive center-block wow zoomIn animation-delay-12 ">
            </div>
            <div class="col-md-6 col-md-pull-6 pr-6">
                <p class="wow fadeInLeft animation-delay-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint officiis odio tempora natus, sed voluptas facilis ullam suscipit. Ducimus quas, eius ut, dolores mollitia sapiente doloremque aliquid sequi eaque.</p>
                <p class="wow fadeInLeft animation-delay-7">Adipisicing elit. Sapiente porro voluptatem rerum modi quibusdam accusantium nihil facere cupiditate quam! Ipsa.</p>
                <p class="wow fadeInLeft animation-delay-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi voluptatem, similique corrupti necessitatibus nihil error, nemo delectus voluptates deserunt ducimus quaerat molestiae labore id repellat exercitationem asperiores neque quibusdam.</p>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised mr-1 wow flipInX animation-delay-14"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                    <a href="javascript:void(0)" class="btn btn-info btn-raised wow flipInX animation-delay-16"><i class="zmdi zmdi-case"></i> Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-6">
    <h1 class="font-light">Technology that brings teams together</h1>
    <p class="lead color-primary">— Intelligent apps that help you do your best work.
    </p>
    <div class="panel panel-light panel-flat">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-5" role="tablist">
            <li class="wow fadeInDown animation-delay-6" role="presentation"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-windows"></i> <span class="hidden-xs">Windows</span></a></li>
            <li class="wow fadeInDown animation-delay-4 active" role="presentation"><a href="#macos" aria-controls="macos" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-apple"></i> <span class="hidden-xs">MacOS</span></a></li>
            <li class="wow fadeInDown animation-delay-2" role="presentation"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab" class="withoutripple"><i class="fa fa-linux"></i> <span class="hidden-xs">Linux</span></a></li>
            <li class="wow fadeInDown animation-delay-4" role="presentation"><a href="#android" aria-controls="android" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-android"></i> <span class="hidden-xs">Android</span></a></li>
            <li class="wow fadeInDown animation-delay-6" role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-smartphone-iphone"></i> <span class="hidden-xs">IOS</span></a></li>
        </ul>
        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content mt-4">
                <div role="tabpanel" class="tab-pane fade" id="windows">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img src="<%= assets %>/img/demo/mock4.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active in fade" id="macos">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="<%= assets %>/img/demo/mock2.png" alt="" class="img-responsive wow animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-normal wow animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md  wow animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md wow animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised wow animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 wow animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="linux">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img src="<%= assets %>/img/demo/mock5.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="android">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="<%= assets %>/img/demo/mock6.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md  animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ios">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img src="<%= assets %>/img/demo/mock3.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- panel -->
</div> <!-- container -->

<section class="mt-6">
    <div class="container">
        <h1 class="color-primary text-center" text-center>Our Team</h1>
        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-danger wow zoomInUp">
                <div class="ms-hero-bg-danger ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-danger">Victoria Smith</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-info wow zoomInUp">
                <div class="ms-hero-bg-info ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-info">Charlie Durant</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-warning wow zoomInUp">
                <div class="ms-hero-bg-warning ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-warning">Joan Fawert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts-revolution.html --><!-- /build -->

<script type="text/javascript">
	var tpj = jQuery;

	var revapi1049;
	tpj(document).ready(function() {
		if (tpj("#rev_slider_1049_1").revolution == undefined) {
			revslider_showDoubleJqueryError("#rev_slider_1049_1");
		} else {
			revapi1049 = tpj("#rev_slider_1049_1").show().revolution({
				sliderType: "hero",
				jsFileLocation: "<%= assets %>/plugins/revolution/revolution/js/",
				sgliderLayout: "fullwidth",
				dottedOverlay: "none",
				delay: 9000,
				navigation: {},
				responsiveLevels: [1240, 1024, 778, 480],
				visibilityLevels: [1240, 1024, 778, 480],
				gridwidth: [1400, 1240, 778, 480],
				gridheight: [768, 768, 960, 720],
				lazyType: "none",
				parallax: {
					type: "mouse+scroll",
					origo: "slidercenter",
					speed: 2000,
					levels: [1, 2, 3, 20, 25, 30, 35, 40, 45, 50, 46, 47, 48, 49, 50, 55],
					type: "mouse+scroll",
					disable_onmobile: "on"
				},
				shadow: 0,
				spinner: "spinner2",
				autoHeight: "off",
				disableProgressBar: "on",
				hideThumbsOnMobile: "off",
				hideSliderAtLimit: 0,
				hideCaptionAtLimit: 0,
				hideAllCaptionAtLilmit: 0,
				debugMode: false,
				fallbacks: {
					simplifyAll: "off",
					disableFocusListener: false,
				}
			});
		}
	}); /*ready*/
</script>

</body>
</html>
