<!-- build:include layout/header/head.html --><!-- /build -->
<!-- build:include:demo layout/header/configurator.html --><!-- /build -->
<!-- build:include:dist,navbar,demo layout/preload.html --><!-- /build -->

<div class="sb-site-container">

<nav class="navbar ms-lead-navbar navbar-mode" id="navbar-lead">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- <img src="<%= assets %>/img/demo/logo-navbar.png" alt=""> -->
                <span class="ms-logo ms-logo-white ms-logo-sm">M</span>
                <span class="ms-title">Material <strong>Style</strong></span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li><a data-scroll href="#home">Home</a></li>
                <li><a data-scroll href="#services">Services</a></li>
                <li><a data-scroll href="#portfolio">Portfolio</a></li>
                <li><a data-scroll href="#pricing">Pricing</a></li>
                <li><a data-scroll href="#about">About us</a></li>
                <li><a data-scroll href="#team">Team</a></li>
                <li><a data-scroll href="#contact">Contact</a></li>
            </ul>
        </div> <!-- navbar-collapse collapse -->
        <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu"><i class="zmdi zmdi-menu"></i></a>
    </div> <!-- container -->
</nav>


<div class="intro-fixed ms-hero-img-airplane ms-hero-bg-royal color-white" id="home">
    <div class="intro-fixed-content index-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="text-center mb-4">
                        <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
                        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Material<span>Style</span></h1>
                        <p class="hidden-sm lead lead-lg color-white center-block mt-2 mb-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Discover our projects and the <span class="color-warning">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.</p>
                        <a href="javascript:void(0);" class="animated zoomInUp animation-delay-9 btn btn-raised btn-primary btn-xlg"><i class="zmdi zmdi-airplane"></i> Button</a>
                        <a href="javascript:void(0);" class="animated zoomInUp animation-delay-11 btn btn-raised btn-warning btn-xlg"><i class="zmdi zmdi-nature"></i> Button</a>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card index-1 animated zoomInRight animation-delay-7">
                        <div class="card-block-big color-dark">
                            <h1 class="color-primary">Subscribe Now</h1>
                            <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti tempore hic iusto culpa ut quas maxime laboriosam ex tenetur impedit.</p>
                            <h2 class="color-primary">Let me know</h2>
                            <form>
                                <div class="form-group label-floating mt-2 mb-1">
                                    <div class="input-group center-block">
                                        <label class="control-label" for="ms-subscribe"><i class="zmdi zmdi-email"></i> Email Adress</label>
                                        <input type="email" id="ms-subscribe" class="form-control">
                                    </div>
                                </div>
                                <button class="btn btn-raised btn-primary btn-block withoutripple" type="button"><i class="zmdi zmdi-email"></i> Subscribe</button>
                            </form>
                            <div class="text-center mt-4">
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised mt-1 mr-1 no-mr-md btn-google"><i class="zmdi zmdi-google"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                                <a href="javascript:void(0)" class="btn-circle btn-circle-raised mt-1 mr-1 no-mr-md btn-linkedin"><i class="zmdi zmdi-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-center mb-2 mt-4 hidden-sm">
                <a id="go-intro-fixed-next" href="javascript:void(0)" class=" btn-circle btn-circle-raised btn-circle-white animated zoomInUp animation-delay-12"><i class="zmdi zmdi-long-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
</div>

<div class="bg-light index-1 intro-fixed-next pt-6">
    <div class="container" id="intro-next">
        <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
        <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Lorem ipsum dolor sit amet, <span class="color-primary">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-info animated zoomInUp animation-delay-5">
                    <div class="bg-info">
                        <img src="<%= assets %>/img/demo/m1.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-info">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-danger animated zoomInUp animation-delay-6">
                    <div class="bg-danger">
                        <img src="<%= assets %>/img/demo/m2.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-danger">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-warning animated zoomInUp animation-delay-7">
                    <div class="bg-warning">
                        <img src="<%= assets %>/img/demo/m3.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-warning">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-success animated zoomInUp animation-delay-8">
                    <div class="bg-success">
                        <img src="<%= assets %>/img/demo/m4.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-success">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- container -->

    <section id="services" class="mt-6">
        <div class="wrap ms-hero-img-city2 ms-hero-bg-dark-light color-white ms-bg-fixed">
            <div class="container">
                <div class="text-center mb-4">
                    <h1 class="color-warning wow zoomInDown">Services</h1>
                    <h3 class="wow zoomInDown">Knows the <span class="text-normal">Material Style</span> and surprise yourself</h3>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <h3 class="wow fadeInUp animation-delay-2">Description</h3>
                        <p class="wow fadeInUp animation-delay-3">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
                        <p class="wow fadeInUp animation-delay-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus <a href="#" class="color-warning">quibusdam odio eius eligendi</a> tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
                    </div>
                    <div class="col-md-6">
                        <div class="panel-group ms-collapse color-dark" id="accordion2" role="tablist" aria-multiselectable="true">
                            <div class="panel panel-info wow fadeInUp animation-delay-2">
                                <div class="panel-heading" role="tab" id="headingOne2">
                                    <h4 class="panel-title">
                                        <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                            <i class="fa fa-lightbulb-o"></i> Talent and creativity
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                                    <div class="panel-body in">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam.</p>
                                        <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info wow fadeInUp animation-delay-5">
                                <div class="panel-heading" role="tab" id="headingTwo2">
                                    <h4 class="panel-title">
                                        <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                            <i class="fa fa-desktop"></i> Design and code
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus.</p>
                                        <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam.</p>
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-info wow fadeInUp animation-delay-7">
                                <div class="panel-heading" role="tab" id="headingThree3">
                                    <h4 class="panel-title">
                                        <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                            <i class="fa fa-user"></i> Quality and Support
                                        </a>
                                    </h4>
                                </div>
                                <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                                    <div class="panel-body">
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates.</p>
                                        <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="mt-6 color-dark">
                    <h2 class="color-white text-center mb-4 wow fadeInUp animation-delay-2">Some numerical data</h2>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-royal card-block text-center wow zoomInUp animation-delay-2">
                                <h2 class="counter">450</h2>
                                <i class="color-royal fa fa-4x fa-coffee"></i>
                                <p class="mt-2 no-mb lead small-caps">cups of coffee</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-success card-block text-center wow zoomInUp animation-delay-5">
                                <h2 class="counter">64</h2>
                                <i class="color-success fa fa-4x fa-briefcase"></i>
                                <p class="mt-2 no-mb lead small-caps">projects done</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-danger card-block text-center wow zoomInUp animation-delay-4">
                                <h2 class="counter">600</h2>
                                <i class="color-danger fa fa-4x fa-comments-o"></i>
                                <p class="mt-2 no-mb lead small-caps">comments</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6">
                            <div class="card card-warning card-block text-center wow zoomInUp animation-delay-3">
                                <h2 class="counter">3500</h2>
                                <i class="color-warning fa fa-4x fa-group"></i>
                                <p class="mt-2 no-mb lead small-caps">happy clients</p>
                            </div>
                        </div>
                    </div>
                    <div class="text-center color-white mw-800 center-block mt-4">
                        <p class="lead lead-lg wow fadeInUp animation-delay-2">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge. We are backed by 20 years of research.</p>
                        <a href="javascript:void(0)" class="btn btn-raised btn-xlg btn-info wow flipInX animation-delay-5"><i class="fa fa-space-shuttle"></i> I have a project</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="portfolio" class="">
        <div class="wrap bg-danger">
            <div class="container index-1">
                <div class="text-center color-white mb-4 mw-800 center-block">
                    <h1 class="wow fadeInUp animation-delay-2">Latest Works</h1>
                    <p class="lead color-light wow fadeInUp animation-delay-2">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and <span class="color-white">knowledge</span>. We are backed by 20 years of research.</p>
                </div>
                <div class="row">
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="ms-thumbnail-container wow fadeInUp">
                            <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-dark">
                                <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="ms-thumbnail-container wow fadeInUp">
                            <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-dark">
                                <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="ms-thumbnail-container wow fadeInUp">
                            <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-dark">
                                <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="ms-thumbnail-container wow fadeInUp">
                            <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-dark">
                                <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="ms-thumbnail-container wow fadeInUp">
                            <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-dark">
                                <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                    <div class="col-md-4 col-sm-6 mb-4">
                        <div class="ms-thumbnail-container wow fadeInUp">
                            <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-dark">
                                <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                                <figcaption class="ms-thumbnail-caption text-center">
                                    <div class="ms-thumbnail-caption-content">
                                        <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                        <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                                    </div>
                                </figcaption>
                            </figure>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="pricing">
        <div class="wrap ms-hero-img-mountain ms-hero-bg-info ms-bg-fixed">
            <div class="container">
                <div class="text-center mb-4">
                    <h2 class="uppercase color-white wow fadeInDown animation-delay-2">See our subscription plans</h2>
                    <p class="lead uppercase color-light wow fadeInDown animation-delay-2">Surprise with our unique features</p>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-sm-6 price-table price-table-info animated zoomInUp animation-delay-6">
                        <header class="price-table-header">
                            <span class="price-table-category">Personal</span>
                            <h3><sup>$</sup>9.99 <sub>/mo.</sub></h3>
                        </header>
                        <div class="price-table-body">
                            <ul class="price-table-list">
                                <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                                <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                                <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis.</li>
                                <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                                <li><i class="zmdi zmdi-star"></i> Atque molestiae in tua blanditis.</li>
                            </ul>
                            <div class="text-center">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 price-table prominent price-table-success animated zoomInUp animation-delay-8">
                        <header class="price-table-header">
                            <span class="price-table-category">Professional</span>
                            <h3><sup>$</sup>19.99 <sub>/mo.</sub></h3>
                        </header>
                        <div class="price-table-body">
                            <ul class="price-table-list">
                                <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                                <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                                <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis.</li>
                                <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                                <li><i class="zmdi zmdi-star"></i> Atque molestiae in tua blanditis.</li>
                            </ul>
                            <div class="text-center">
                                <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 price-table price-table-danger animated zoomInUp animation-delay-8">
                        <header class="price-table-header">
                            <span class="price-table-category">Business</span>
                            <h3><sup>$</sup>49.99 <sub>/mo.</sub></h3>
                        </header>
                        <div class="price-table-body">
                            <ul class="price-table-list">
                                <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                                <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                                <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis.</li>
                                <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                                <li><i class="zmdi zmdi-star"></i> Atque molestiae in tua blanditis.</li>
                            </ul>
                            <div class="text-center">
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-sm-6 price-table price-table-warning animated zoomInUp animation-delay-9">
                        <header class="price-table-header">
                            <span class="price-table-category">Business</span>
                            <h3><sup>$</sup>99.99 <sub>/mo.</sub></h3>
                        </header>
                        <div class="price-table-body">
                            <ul class="price-table-list">
                                <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                                <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                                <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis.</li>
                                <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                                <li><i class="zmdi zmdi-star"></i> Atque molestiae in tua blanditis.</li>
                            </ul>
                            <div class="text-center">
                                <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--container -->
        </div>
    </section>
    <section id="about">
        <div class="container pt-6">
            <h2 class="right-line">About Us</h2>
            <div class="row">
                <div class="col-md-6">
                    <h3 class="color-primary wow fadeInUp animation-delay-2">Description</h3>
                    <p class="wow fadeInUp animation-delay-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
                    <p class="wow fadeInUp animation-delay-2">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus quibusdam odio eius eligendi tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
                </div>
                <div class="col-md-6">
                    <h3 class="color-primary wow fadeInUp animation-delay-2">Knowledge</h3>
                    <div class="progress progress-lg wow fadeInUp animation-delay-6">
                        <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                            HTML 5 &amp; CSS 3
                        </div>
                    </div>
                    <div class="progress progress-lg wow fadeInUp animation-delay-8">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            Javascript &amp; Jquery
                        </div>
                    </div>
                    <div class="progress progress-lg wow fadeInUp animation-delay-10">
                        <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                            PHP 5 &amp; MYSQL 5
                        </div>
                    </div>
                    <div class="progress progress-lg wow fadeInUp animation-delay-12">
                        <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                            C/C++
                        </div>
                    </div>
                    <div class="progress progress-lg wow fadeInUp animation-delay-14">
                        <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                            Python
                        </div>
                    </div>
                    <div class="progress progress-lg wow fadeInUp animation-delay-16">
                        <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                            Node.js
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="team">
        <div class="container pt-6">
            <h1 class="color-primary text-center wow fadeInUp animation-delay-2">Our Team</h1>
            <div class="row">
                <div class="col-md-4 col-sm-6">
                    <div class="card mt-4 card-danger wow zoomInUp animation-delay-7">
                        <div class="ms-hero-bg-danger ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-danger">Victoria Smith</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mt-4 card-info wow zoomInUp animation-delay-7">
                        <div class="ms-hero-bg-info ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-info">Charlie Durant</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
                        <div class="ms-hero-bg-warning ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-warning">Joan Fawert</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mt-4 card-royal wow zoomInUp animation-delay-7">
                        <div class="ms-hero-bg-royal ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-royal">Sophie Marks</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
                        <div class="ms-hero-bg-success ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-success">Cris Polner</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>

                <div class="col-md-4 col-sm-6">
                    <div class="card mt-4 card-primary wow zoomInUp animation-delay-7">
                        <div class="ms-hero-bg-primary ms-hero-img-city">
                            <img src="<%= assets %>/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-6 text-center">
                            <h3 class="color-primary">Julia Robert</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section id="contact" class="mt-6">
        <div class="wrap ms-hero-bg-royal ms-hero-img-keyboard ms-bg-fixed">
            <div class="container">
                <h1 class="text-center color-white mb-4 wow fadeInUp animation-delay-2">Contact Us</h1>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="card card-primary animated zoomInUp animation-delay-5">
                            <div class="card-block">
                                <form class="form-horizontal">
                                    <fieldset>
                                        <div class="form-group">
                                            <label for="inputName" class="col-md-2 control-label">Name</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="inputName" placeholder="Name">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail" class="col-md-2 control-label">Email</label>
                                            <div class="col-md-9">
                                                <input type="email" class="form-control" id="inputEmail" placeholder="Email">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputSubject" class="col-md-2 control-label">Subject</label>
                                            <div class="col-md-9">
                                                <input type="text" class="form-control" id="inputSubject" placeholder="Subject">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="textArea" class="col-md-2 control-label">Message</label>
                                            <div class="col-md-9">
                                                <textarea class="form-control" rows="5" id="textArea" placeholder="Your message..."></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <div class="col-md-9 col-md-offset-2">
                                                <button type="submit" class="btn btn-raised btn-primary">Submit</button>
                                                <button type="button" class="btn btn-danger">Cancel</button>
                                            </div>
                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!-- container -->
        </div>
        <iframe width="100%" height="340" src="https://maps.google.com/maps?f=q&source=s_q&hl=en&geocode=&q=central%2Bpark&ie=UTF8&z=12&t=m&iwloc=near&output=embed"></iframe>
    </section>

    <!-- build:include layout/footer/foot.html --><!-- /build -->
</div>


</div> <!-- sb-site-container -->

    <!-- build:include layout/slidebar-lead.html --><!-- /build -->
    <!-- build:include layout/footer/scripts.html --><!-- /build -->
    <script src="<%= assets %>/js/lead.js"></script>

</body>
</html>
