<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page ms-hero-img-coffee ms-hero-bg-dark no-pb overflow-hidden ms-bg-fixed">
    <div class="container">
        <div class="text-center color-white">
            <span class="ms-logo ms-logo-whit animated bounceInDown animation-delay-5">M</span>
            <h1 class="animated bounceInDown animation-delay-6">Awesome App</h1>
            <p class="lead lead-lg animated bounceInDown animation-delay-7">Create amazing things</p>
        </div>
        <div class="img-browser-container mt-6">
            <img src="<%=assets%>/img/demo/safariBig1.png" alt="" class="img-responsive center-block index-1 img-browser animated slideInUp">
            <img src="<%=assets%>/img/demo/safariBig3.png" alt="" class="img-responsive center-block img-browser img-browser-left img-browser-left">
            <img src="<%=assets%>/img/demo/safariBig2.png" alt="" class="img-responsive center-block img-browser img-browser-right img-browser-right">
        </div>
    </div>
</div>

<div class="ms-hero-img-beach ms-hero-bg-info ms-bg-fixed pt-2 pb-2">
    <div class="container">
        <div class="text-center mb-4">
            <h1 class="text-center color-white wow fadeInUp animation-delay-4">Download Now</h1>
            <p class="lead color-light mw-800 center-block wow fadeInUp animation-delay-4">Reiciendis aspernatur doloremque modi repudiandae, deserunt mollitia labore eligendi nam optio enim soluta totam in.</p>
        </div>
        <div class="text-center ms-margin">
            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-2"><div class="btn-container"><i class="fa fa-html5"></i> <span>Aviable as</span><br> <strong>Web App</strong></div></a>
            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-3"><div class="btn-container"><i class="fa fa-windows"></i> <span>Download for</span><br> <strong>Windows</strong></div></a>
            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-2"><div class="btn-container"><i class="fa fa-apple"></i> <span>Download for</span><br> <strong>MacOS</strong></div></a>
            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-3"><div class="btn-container"><i class="fa fa-android"></i> <span>Aviable in </span><br> <strong>Play Store</strong></div></a>
            <a href="javascript:void(0)" class="btn btn-primary btn-raised btn-app wow zoomInUp animation-delay-2"><div class="btn-container"><i class="fa fa-apple"></i> <span>Aviable in </span><br> <strong>App Store</strong></div></a>
        </div>
    </div>
</div>

<div class="bg-success pt-2 pb-2">
    <div class="container">
        <div class="row">
            <div class="col-md-5 text-center mt-6">
                <div class="img-phone-container">
                    <img class="img-responsive wow zoomInDown animation-delay-3 index-1" src="<%= assets %>/img/demo/pixel1.png">
                    <img class="img-responsive wow img-phone-left" src="<%= assets %>/img/demo/pixel3.png">
                    <img class="img-responsive wow img-phone-right" src="<%= assets %>/img/demo/pixel2.png">
                </div>
            </div>
            <div class="col-md-7 mt-4">
                <div class="color-white ml-4">
                    <h2 class="wow bounceInRight">Feature List</h2>
                    <ul class="list-unstyled hand-list">
                        <li class="wow bounceInRight animation-delay-2">
                            <h3 class="handwriting no-mt no-mb">Ideas for your product</h3>
                            <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                        </li>
                        <li class="wow bounceInRight animation-delay-4">
                            <h3 class="handwriting no-mt no-mb">Type here annotations</h3>
                            <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                        </li>
                        <li class="wow bounceInRight animation-delay-6">
                            <h3 class="handwriting no-mt no-mb">An informal approach to design</h3>
                            <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                        </li>
                    </ul>
                    <a href="javascript:void(0)" class="btn btn-lg btn-raised btn-white color-success wow bounceIn animation-delay-7">Know More</a>
                    <a href="javascript:void(0)" class="btn btn-lg btn-raised btn-royal wow bounceIn animation-delay-7">Get Now</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-6">
    <div class="text-center">
        <h1 class="color-primary">Fantastic Features</h1>
        <p class="lead">Discover the features that make our application unique.</p>
    </div>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-info">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-info btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-warning">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-royal"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-royal">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-royal btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-danger"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-danger">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-danger btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-success">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-success btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-info">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-info btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-warning">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card ms-feature wow flipInX animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-xxlg"><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="color-primary">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
                    <a href="javascript:void(0)" class="btn btn-primary btn-raised">Action here</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<div class="container mt-6">
    <div class="text-center mb-4">
        <h2 class="uppercase color-primary">See our subscription plans</h2>
        <p class="lead uppercase">Surprise with our unique features</p>
    </div>
    <div class="row">
        <div class="col-md-4 price-table price-table-info wow zoomInUp animation-delay-2">
            <header class="price-table-header">
                <span class="price-table-category">Personal</span>
                <h3><sup>$</sup>99 <sub>/mo.</sub></h3>
            </header>
            <div class="price-table-body">
                <ul class="price-table-list">
                    <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                    <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                    <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis cumque.</li>
                    <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                    <li><i class="zmdi zmdi-star"></i> Atque molestiae, blanditiis ratione.</li>
                </ul>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 price-table price-table-success prominent wow zoomInDown animation-delay-2">
            <header class="price-table-header">
                <span class="price-table-category">Professional</span>
                <h3><sup>$</sup>99 <sub>/mo.</sub></h3>
            </header>
            <div class="price-table-body">
                <ul class="price-table-list">
                    <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                    <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                    <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis cumque.</li>
                    <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                    <li><i class="zmdi zmdi-star"></i> Atque molestiae, blanditiis ratione.</li>
                </ul>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                </div>
            </div>
        </div>
        <div class="col-md-4 price-table price-table-warning wow zoomInUp animation-delay-2">
            <header class="price-table-header">
                <span class="price-table-category">Business</span>
                <h3><sup>$</sup>99 <sub>/mo.</sub></h3>
            </header>
            <div class="price-table-body">
                <ul class="price-table-list">
                    <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                    <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                    <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis cumque.</li>
                    <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                    <li><i class="zmdi zmdi-star"></i> Atque molestiae, blanditiis ratione.</li>
                </ul>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                </div>
            </div>
        </div>
    </div>
</div> <!--container -->

<!-- build:include layout/footer.html --><!-- /build -->
