<!-- build:include layout/header/head-revolution.html --><!-- /build -->

<!-- build:include:demo layout/header/configurator.html --><!-- /build -->
<!-- build:include:dist,navbar,demo layout/preload.html --><!-- /build -->

<div class="sb-site-container">
    <!-- build:include:dist,demo,dev layout/header/header.html --><!-- /build -->
    <!-- build:include layout/header/navbar.html --><!-- /build -->


	<div id="rev_slider_1081_1_wrapper" class="rev_slider_wrapper ms-hero-rev fullscreen-container" data-alias="sleek-landing-page" data-source="gallery" style="background-color:transparent;padding:0px;">
	<!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
		<div id="rev_slider_1081_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
	<ul>	<!-- SLIDE  -->

		<li data-index="rs-3060" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="<%= assets %>/plugins/revolution/assets/images/"  data-rotate="0"  data-saveperformance="off"  data-title="Solution" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
			<!-- MAIN IMAGE -->
			<img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" style='background-color:#2aa2b0' alt=""  data-lazyload="<%= assets %>/plugins/revolution/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
			<!-- LAYERS -->

			<!-- LAYER NR. 1 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-1"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 5; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">INNOVATIVE </div>

			<!-- LAYER NR. 2 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-2"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['169','169','132','101']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":650,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 6; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">RESPONSIVE </div>

			<!-- LAYER NR. 3 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-3"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['308','308','235','172']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":800,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 7; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">VERSATILE </div>

			<!-- LAYER NR. 4 -->
			<div class="tp-caption SleekLanding-Title   tp-resizeme"
				 id="slide-3060-layer-7"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
							data-fontsize="['35','35','35','25']"
				data-lineheight="['40','40','40','30']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 8; white-space: nowrap; font-weight: 700;text-transform:left;">A Brand New<br/>
	Solution. </div>

			<!-- LAYER NR. 5 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-8"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','-4']"
							data-width="['320','320','320','200']"
				data-height="none"
				data-whitespace="normal"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 9; min-width: 320px; max-width: 320px; white-space: normal; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00); font-family:Lato; text-transform:left; border-width:0px;">We take things to a totally new level with this
	highly usable and affordable app.<br/>
	You will love what you see once you do! </div>

			<!-- LAYER NR. 6 -->
			<div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper  tp-resizeme"
				 id="slide-3060-layer-9"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
							data-width="230"
				data-height="50"
				data-whitespace="nowrap"

				data-type="shape"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 10;font-family:Arial;text-transform:left;"> </div>


			<!-- LAYER NR. 7 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-155"
				 data-x="['left','left','left','left']" data-hoffset="['600','400','150','150']"
				 data-y="['top','top','top','top']" data-voffset="['50','200','300','350']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:45deg;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":1100,"to":"y:top;rZ:-45deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 13;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['760px','760px','760px','380px']" data-hh="['1000px','1000px','1000px','500px']" width="760" height="1000" data-lazyload="<%= assets %>/plugins/revolution/assets/images/coffee_cup1.png" data-no-retina> </div>

			<!-- LAYER NR. 8 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-14"
				 data-x="['left','left','left','left']" data-hoffset="['-300','-100','-200','-200']"
				 data-y="['top','top','top','top']" data-voffset="['345','427','763','621']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:-40deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 12;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['600px','600px','600px','300px']" data-hh="['140px','140px','140px','70px']" width="600" height="140" data-lazyload="<%= assets %>/plugins/revolution/assets/images/wood_pencil.png" data-no-retina> </div>

			<!-- LAYER NR. 9 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-16"
				 data-x="['left','left','left','left']" data-hoffset="['-13','-50','13','24']"
				 data-y="['top','top','top','top']" data-voffset="['552','564','690','589']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:45deg;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":1100,"to":"y:top;rZ:-45deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 13;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['340px','340px','340px','200px']" data-hh="['180px','180px','180px','106px']" width="340" height="180" data-lazyload="<%= assets %>/plugins/revolution/assets/images/eraser_pink.png" data-no-retina> </div>

			<!-- LAYER NR. 10 -->
			<div class="tp-caption SleekLanding-SmallTitle   tp-resizeme"
				 id="slide-3060-layer-10"
				 data-x="['left','left','left','left']" data-hoffset="['721','601','441','251']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 14; white-space: nowrap;text-transform:left;">GET OUR APP </div>

			<!-- LAYER NR. 11 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-11"
				 data-x="['left','left','left','left']" data-hoffset="['853','733','573','383']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 15; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;"><i class="fa fa-apple"></i> </div>

			<!-- LAYER NR. 12 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-12"
				 data-x="['left','left','left','left']" data-hoffset="['888','768','608','418']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 16; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;"><i class="fa fa-android"></i> </div>

			<!-- LAYER NR. 13 -->
			<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
				 id="slide-3060-layer-18"
				 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-37','-37','-27','-27']"
							data-width="['209','209','207','207']"
				data-height="['369','369','367','367']"
				data-whitespace="nowrap"

				data-type="shape"
				data-responsive_offset="on"

				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 17;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

			<!-- LAYER NR. 14 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3060-layer-17"
				 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-37','-38','-27','-27']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 18;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['207px','207px','207','207px']" data-hh="['367px','367px','367','367px']" width="207" height="367" data-lazyload="<%= assets %>/img/demo/iphone_1.jpg" data-no-retina> </div>
		</li>
		<!-- SLIDE  -->
		<li data-index="rs-3061" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="<%= assets %>/plugins/revolution/assets/images/"  data-rotate="0"  data-saveperformance="off"  data-title="Diversity" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
			<!-- MAIN IMAGE -->
			<img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" style='background-color:#4f5057' alt=""  data-lazyload="<%= assets %>/plugins/revolution/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
			<!-- LAYERS -->

			<!-- LAYER NR. 15 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-1"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 19; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">TONS OF </div>

			<!-- LAYER NR. 16 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-2"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['169','169','132','101']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":650,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 20; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">TEMPLATES </div>

			<!-- LAYER NR. 17 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-3"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['308','308','235','172']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":800,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 21; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">INCLUDED </div>

			<!-- LAYER NR. 18 -->
			<div class="tp-caption SleekLanding-Title   tp-resizeme"
				 id="slide-3061-layer-7"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
							data-fontsize="['35','35','35','25']"
				data-lineheight="['40','40','40','30']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 22; white-space: nowrap; font-weight: 700;text-transform:left;">Huge<br/>
	Diversity. </div>

			<!-- LAYER NR. 19 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-8"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','-4']"
							data-width="['320','320','320','200']"
				data-height="none"
				data-whitespace="normal"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 23; min-width: 320px; max-width: 320px; white-space: normal; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lato;text-transform:left;border-width:0px;">If you purchase a copy of Slider Revolution you will recieve unrestricted access to over<br/><span class="tp-fat">50</span> Ready-to-go Templates! </div>

			<!-- LAYER NR. 20 -->
			<div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper  tp-resizeme"
				 id="slide-3061-layer-9"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
							data-width="230"
				data-height="50"
				data-whitespace="nowrap"

				data-type="shape"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 24;font-family:Arial;text-transform:left;"> </div>

			<!-- LAYER NR. 21 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-15"
				 data-x="['left','left','left','left']" data-hoffset="['870','700','500','212']"
				 data-y="['top','top','top','top']" data-voffset="['-50','-100','600','456']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;rZ:55;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:45deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 25;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['800px','800px','400px','400px']" data-hh="['800px','800px','400px','400px']" width="800" height="800" data-lazyload="<%= assets %>/plugins/revolution/assets/images/paper.png" data-no-retina> </div>

			<!-- LAYER NR. 22 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-14"
				 data-x="['left','left','left','left']" data-hoffset="['-450','-500','-150','-200']"
				 data-y="['top','top','top','top']" data-voffset="['120','120','600','500']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:-40deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 26;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['750px','750','375px','375px']" data-hh="['640px','640','320px','320px']" width="750" height="640" data-lazyload="<%= assets %>/plugins/revolution/assets/images/plant.png" data-no-retina> </div>

			<!-- LAYER NR. 23 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-19"
				 data-x="['right','right','right','right']" data-hoffset="['-133','-142','161','51']"
				 data-y="['top','bottom','bottom','bottom']" data-voffset="['527','134','95','40']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;rZ:349;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:390deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 27;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['400px','400px','200px','200px']" data-hh="['140px','140px','70px','70px']" width="400" height="140" data-lazyload="<%= assets %>/plugins/revolution/assets/images/glasses.png" data-no-retina> </div>

			<!-- LAYER NR. 25 -->
			<div class="tp-caption SleekLanding-SmallTitle   tp-resizeme"
				 id="slide-3061-layer-10"
				 data-x="['left','left','left','left']" data-hoffset="['721','601','441','251']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 29; white-space: nowrap;text-transform:left;">GET OUR APP </div>

			<!-- LAYER NR. 26 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-11"
				 data-x="['left','left','left','left']" data-hoffset="['853','733','573','383']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 30; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;"><i class="fa fa-apple"></i> </div>

			<!-- LAYER NR. 27 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-12"
				 data-x="['left','left','left','left']" data-hoffset="['888','768','608','418']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 31; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;"><i class="fa fa-android"></i> </div>

			<!-- LAYER NR. 28 -->
			<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
				 id="slide-3061-layer-18"
				 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-37','-38','-27','-27']"
							data-width="['207','209','207','207']"
				data-height="['367','369','367','367']"
				data-whitespace="nowrap"

				data-type="shape"
				data-responsive_offset="on"

				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 32;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

			<!-- LAYER NR. 29 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3061-layer-17"
				 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-37','-38','-27','-27']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 33;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['207','207','207','207px']" data-hh="['367','367','367','367px']" width="207" height="367" data-lazyload="<%= assets %>/img/demo/iphone_2.jpg" data-no-retina> </div>
		</li>
		<!-- SLIDE  -->
		<li data-index="rs-3062" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="default" data-easeout="default" data-masterspeed="1000"  data-thumb="<%= assets %>/plugins/revolution/assets/images/"  data-rotate="0"  data-saveperformance="off"  data-title="Diversity" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
			<!-- MAIN IMAGE -->
			<img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" style='background-color:#dddddd' alt=""  data-lazyload="<%= assets %>/plugins/revolution/assets/images/transparent.png" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
			<!-- LAYERS -->

			<!-- LAYER NR. 30 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-1"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['30','30','30','30']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":600,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 34; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">SUPREME </div>

			<!-- LAYER NR. 31 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-2"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['169','169','132','101']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":700,"ease":"Power4.easeOut"},{"delay":"wait","speed":650,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 35; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">GOODIES </div>

			<!-- LAYER NR. 32 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-3"
				 data-x="['left','left','left','left']" data-hoffset="['45','45','45','20']"
				 data-y="['top','top','top','top']" data-voffset="['308','308','235','172']"
							data-fontsize="['150','150','100','70']"
				data-lineheight="['150','150','100','70']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-basealign="slide"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;","speed":1500,"to":"o:1;","delay":800,"ease":"Power4.easeOut"},{"delay":"wait","speed":800,"to":"y:top;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 36; white-space: nowrap; font-size: 150px; line-height: 150px; font-weight: 900; color: rgba(0, 0, 0, 0.05);font-family:Lato;text-transform:left;border-width:0px;">FREE </div>

			<!-- LAYER NR. 33 -->
			<div class="tp-caption SleekLanding-Title   tp-resizeme"
				 id="slide-3062-layer-7"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-99','-99','-99','-119']"
							data-fontsize="['35','35','35','25']"
				data-lineheight="['40','40','40','30']"
				data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 37; white-space: nowrap; font-weight: 700; color: rgba(34, 34, 34, 1.00);text-transform:left;">Premium<br/>
	Add-Ons. </div>

			<!-- LAYER NR. 34 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-8"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['1','1','1','-4']"
							data-width="['320','320','320','200']"
				data-height="none"
				data-whitespace="normal"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 38; min-width: 320px; max-width: 320px; white-space: normal; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(68, 68, 68, 1.00);font-family:Lato;text-transform:left;border-width:0px;">Slider Revolution sports super awesome add-ons that enable truly next level features.<br/>
	Take your website to the next level! </div>

			<!-- LAYER NR. 35 -->
			<div class="tp-caption SleekLanding-ButtonBG tp-shape tp-shapewrapper  tp-resizeme"
				 id="slide-3062-layer-9"
				 data-x="['left','left','left','left']" data-hoffset="['700','580','420','230']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
							data-width="230"
				data-height="50"
				data-whitespace="nowrap"

				data-type="shape"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 39;font-family:Arial;text-transform:left;background-color:rgba(255, 255, 255, 0.20);"> </div>

			<!-- LAYER NR. 36 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-15"
				 data-x="['left','left','left','left']" data-hoffset="['750','500','400','200']"
				 data-y="['top','top','top','top']" data-voffset="['400','530','800','650']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:-90deg;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:45deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 40;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['520px','520','260','260px']" data-hh="['380px','380','190px','190px']" width="520" height="380" data-lazyload="<%= assets %>/plugins/revolution/assets/images/ball.png" data-no-retina> </div>

			<!-- LAYER NR. 37 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-14"
				 data-x="['left','left','left','left']" data-hoffset="['950','750','550','250']"
				 data-y="['top','top','top','top']" data-voffset="['31','10','25','10']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:90deg;","speed":1500,"to":"o:1;","delay":900,"ease":"Power4.easeOut"},{"delay":"wait","speed":1000,"to":"y:top;rZ:-40deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 41;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['230px','230','165px','165']" data-hh="['290px','290','208px','208']" width="230" height="290" data-lazyload="<%= assets %>/plugins/revolution/assets/images/usb.png" data-no-retina> </div>

			<!-- LAYER NR. 38 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-16"
				 data-x="['left','left','left','left']" data-hoffset="['-299','-413','-53','-172']"
				 data-y="['top','top','top','top']" data-voffset="['120','150','600','500']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:bottom;rZ:45deg;","speed":1500,"to":"o:1;","delay":1100,"ease":"Power4.easeOut"},{"delay":"wait","speed":1100,"to":"y:top;rZ:-45deg;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 42;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['800px','800','400px','400px']" data-hh="['910px','910','455px','455']" width="800" height="910" data-lazyload="<%= assets %>/plugins/revolution/assets/images/headphones.png" data-no-retina> </div>

			<!-- LAYER NR. 39 -->
			<div class="tp-caption SleekLanding-SmallTitle   tp-resizeme"
				 id="slide-3062-layer-10"
				 data-x="['left','left','left','left']" data-hoffset="['721','601','441','251']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1150,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 43; white-space: nowrap; color: rgba(34, 34, 34, 1.00);text-transform:left;">GET OUR APP </div>

			<!-- LAYER NR. 40 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-11"
				 data-x="['left','left','left','left']" data-hoffset="['853','733','573','383']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['106','106','106','106']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1200,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 44; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;"><i class="fa fa-apple"></i> </div>

			<!-- LAYER NR. 41 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-12"
				 data-x="['left','left','left','left']" data-hoffset="['888','768','608','418']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['105','105','105','105']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":1250,"ease":"Power4.easeOut"},{"delay":"wait","speed":500,"to":"y:-50px;opacity:0;","ease":"Power2.easeIn"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 45; white-space: nowrap; font-size: 30px; line-height: 30px; font-weight: 400; color: rgba(0, 0, 0, 0.25);text-transform:left;border-width:0px;cursor:pointer;"><i class="fa fa-android"></i> </div>

			<!-- LAYER NR. 42 -->
			<div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
				 id="slide-3062-layer-18"
				 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-37','-37','-27','-27']"
							data-width="['209','209','207','207']"
				data-height="['369','369','367','367']"
				data-whitespace="nowrap"

				data-type="shape"
				data-responsive_offset="on"

				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":1500,"to":"opacity:0;","ease":"Power4.easeIn"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 46;text-transform:left;background-color:rgba(51, 51, 51, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

			<!-- LAYER NR. 43 -->
			<div class="tp-caption   tp-resizeme"
				 id="slide-3062-layer-17"
				 data-x="['center','center','center','center']" data-hoffset="['-104','-104','-134','-164']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['-37','-38','-27','-27']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;s:inherit;e:inherit;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeInOut"},{"delay":"wait","speed":1000,"to":"y:[-100%];","mask":"x:0;y:0;s:inherit;e:inherit;","ease":"Power3.easeInOut"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 47;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['207','207px','207','207px']" data-hh="['367','367px','367','367px']" width="207" height="367" data-lazyload="<%= assets %>/img/demo/iphone_3.jpg" data-no-retina> </div>
		</li>
	</ul>
	<div style="" class="tp-static-layers">



			<!-- LAYER NR. 45 -->
			<div class="tp-caption SleekLanding-BottomText   tp-resizeme tp-static-layer"
				 id="slider-1081-layer-2"
				 data-x="['left','left','center','center']" data-hoffset="['20','20','0','-457']"
				 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','170','90']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"
				data-visibility="['on','on','on','off']"

				data-type="text"
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 49; white-space: nowrap;text-transform:left;">A Slider Revolution for <span class="tp-fat">Material Style</span> Premium Template </div>

			<!-- LAYER NR. 46 -->
			<div class="tp-caption   tp-resizeme tp-static-layer"
				 id="slider-1081-layer-3"
				 data-x="['right','right','center','center']" data-hoffset="['150','150','0','0']"
				 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','130','130']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 50; white-space: nowrap; font-size: 15px; line-height: 24px; font-weight: 400; color: rgba(255, 255, 255, 1.00);font-family:Lato;text-transform:left;border-width:0px;">Get in touch via Social Media </div>

			<!-- LAYER NR. 47 -->
			<a class="tp-caption SleekLanding-Social   tp-resizeme tp-static-layer"
	 href="javascript:void(0)" target="_blank"			 id="slider-1081-layer-4"
				 data-x="['right','right','center','center']" data-hoffset="['105','105','-40','-40']"
				 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['27','27','90','90']"
							data-width="30"
				data-height="30"
				data-whitespace="nowrap"

				data-type="text"
				data-actions=''
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 0.25);"}]'
				data-textAlign="['center','center','center','center']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 51; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap;text-transform:left;cursor:pointer;"><i class="fa fa-facebook-f"></i> </a>

			<!-- LAYER NR. 48 -->
			<a class="tp-caption SleekLanding-Social   tp-resizeme tp-static-layer"
	 href="javascript:void(0)" target="_blank"			 id="slider-1081-layer-5"
				 data-x="['right','right','center','center']" data-hoffset="['65','65','0','0']"
				 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['27','27','90','90']"
							data-width="30"
				data-height="30"
				data-whitespace="nowrap"

				data-type="text"
				data-actions=''
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 0.25);"}]'
				data-textAlign="['center','center','center','center']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 52; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap;text-transform:left;cursor:pointer;"><i class="fa fa-twitter"></i> </a>

			<!-- LAYER NR. 49 -->
			<a class="tp-caption SleekLanding-Social   tp-resizeme tp-static-layer"
	 href="javascript:void(0)" target="_blank"			 id="slider-1081-layer-6"
				 data-x="['right','right','center','center']" data-hoffset="['20','20','40','40']"
				 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['27','27','90','90']"
							data-width="30"
				data-height="30"
				data-whitespace="nowrap"

				data-type="text"
				data-actions=''
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"200","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(0, 0, 0, 0.25);"}]'
				data-textAlign="['center','center','center','center']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 53; min-width: 30px; max-width: 30px; max-width: 30px; max-width: 30px; white-space: nowrap;text-transform:left;cursor:pointer;"><i class="fa fa-google-plus"></i> </a>

			<!-- LAYER NR. 50 -->
			<div class="tp-caption   tp-resizeme tp-static-layer"
				 id="slider-1081-layer-7"
				 data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
				 data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="text"

				data-actions='[{"event":"click","action":"scrollbelow","offset":"-50px","delay":""}]'
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 54; white-space: nowrap; font-size: 36px; line-height: 30px; font-weight: 400; color: rgba(255, 255, 255, 1.00);text-transform:left;border-width:0px;cursor:pointer;">
	<div class="rs-looped rs-slideloop"  data-easing="Power2.easeInOut" data-speed="1" data-xs="0" data-xe="0" data-ys="-5" data-ye="5"><i class="zmdi zmdi-chevron-down"></i> </div></div>

			<!-- LAYER NR. 51 -->
			<div class="tp-caption   tp-resizeme tp-static-layer"
				 id="slider-1081-layer-8"
				 data-x="['center','center','center','center']" data-hoffset="['-151','-151','-181','-211']"
				 data-y="['middle','middle','middle','middle']" data-voffset="['6','6','17','17']"
							data-width="none"
				data-height="none"
				data-whitespace="nowrap"

				data-type="image"
				data-responsive_offset="on"

				data-startslide="0"
				data-endslide="2"
				data-frames='[{"from":"opacity:0;","speed":500,"to":"o:1;","delay":500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
				data-textAlign="['left','left','left','left']"
				data-paddingtop="[0,0,0,0]"
				data-paddingright="[0,0,0,0]"
				data-paddingbottom="[0,0,0,0]"
				data-paddingleft="[0,0,0,0]"

				style="z-index: 55;text-transform:left;border-width:0px;"><img src="<%= assets %>/plugins/revolution/assets/images/dummy.png" alt="" data-ww="['350px','350px','350','350px']" data-hh="['650px','650px','650','650px']" width="350" height="650" data-lazyload="<%= assets %>/plugins/revolution/assets/images/iphone_cutout.png" data-no-retina> </div>
	</div>
	<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div>	</div>
	</div><!-- END REVOLUTION SLIDER -->

<div class="container mt-4">
    <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
    <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Lorem ipsum dolor sit amet, <span class="color-primary">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
	<div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-8">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-royal"><i class="zmdi zmdi-airplane"></i></span>
            <h4 class="color-royal">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-royal btn-raised">Action here</a>
        </div>
    </div>
    <div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-4">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-lamp"></i></span>
            <h4 class="color-warning">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a>
        </div>
    </div>
	<div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-10">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg color-info"><i class="zmdi zmdi-cake"></i></span>
            <h4 class="color-info">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-info btn-raised">Action here</a>
        </div>
    </div>
	<div class="ms-feature col-lg-3 col-md-6 col-sm-6 card wow flipInX animation-delay-6">
        <div class="text-center card-block">
            <span class="ms-icon ms-icon-circle ms-icon-xxlg  color-danger"><i class="zmdi zmdi-coffee"></i></span>
            <h4 class="color-danger">A feature title</h4>
            <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Delectus dicta error.</p>
            <a href="javascript:void(0)" class="btn btn-danger btn-raised">Action here</a>
        </div>
    </div>
</div> <!-- container -->

<div class="wrap ms-hero-img-coffee ms-hero-bg-success ms-bg-fixed color-dark mt-6">
    <div class="container">
        <h1 class="color-white text-center mb-4">Some numerical data</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-royal card-block text-center wow zoomInUp animation-delay-2">
                    <h2 class="counter">450</h2>
                    <i class="fa fa-4x fa-coffee color-royal"></i>
                    <p class="mt-2 no-mb lead small-caps">cups of coffee</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-warning card-block text-center wow zoomInUp animation-delay-5">
                    <h2 class="counter">64</h2>
                    <i class="fa fa-4x fa-briefcase color-warning"></i>
                    <p class="mt-2 no-mb lead small-caps">projects done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-danger card-block text-center wow zoomInUp animation-delay-4">
                    <h2 class="counter">600</h2>
                    <i class="fa fa-4x fa-comments-o color-danger"></i>
                    <p class="mt-2 no-mb lead small-caps">comments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-info card-block text-center wow zoomInUp animation-delay-3">
                    <h2 class="counter">3500</h2>
                    <i class="fa fa-4x fa-group color-info"></i>
                    <p class="mt-2 no-mb lead small-caps">happy clients</p>
                </div>
            </div>
        </div>
        <div class="text-center color-white mw-800 center-block mt-4">
            <p class="lead lead-lg">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge. We are backed by 20 years of research.</p>
            <a href="javascript:void(0)" class="btn btn-lg btn-raised btn-white color-success wow flipInX animation-delay-8"><i class="fa fa-space-shuttle"></i> I have a project</a>
        </div>
    </div>
</div>

<section class="mt-6">
    <div class="container">
        <div class="text-center">
        	<h1 class="color-primary">Latest Works</h1>
			<p class="lead lead-lg color-medium">Get inspired with our best work</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrap wrap-mountain mt-6">
    <div class="container">
        <h2 class="text-center text-light mb-6 wow fadeInDown animation-delay-5">Material Design is a <strong>new way</strong> to create designs</h2>
        <div class="row">
            <div class="col-md-6 col-md-push-6 mb-4  center-block">
                <img src="<%= assets %>/img/demo/mock.png" alt="" class="img-responsive center-block wow zoomIn animation-delay-12 ">
            </div>
            <div class="col-md-6 col-md-pull-6 pr-6">
                <p class="wow fadeInLeft animation-delay-6">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam sint officiis odio tempora natus, sed voluptas facilis ullam suscipit. Ducimus quas, eius ut, dolores mollitia sapiente doloremque aliquid sequi eaque.</p>
                <p class="wow fadeInLeft animation-delay-7">Adipisicing elit. Sapiente porro voluptatem rerum modi quibusdam accusantium nihil facere cupiditate quam! Ipsa.</p>
                <p class="wow fadeInLeft animation-delay-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Eaque quasi voluptatem, similique corrupti necessitatibus nihil error, nemo delectus voluptates deserunt ducimus quaerat molestiae labore id repellat exercitationem asperiores neque quibusdam.</p>
                <div class="text-center">
                    <a href="javascript:void(0)" class="btn btn-warning btn-raised mr-1 wow flipInX animation-delay-14"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                    <a href="javascript:void(0)" class="btn btn-info btn-raised wow flipInX animation-delay-16"><i class="zmdi zmdi-case"></i> Button</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container mt-6">
    <h1 class="font-light">Technology that brings teams together</h1>
    <p class="lead color-primary">— Intelligent apps that help you do your best work.
    </p>
    <div class="panel panel-light panel-flat">
        <!-- Nav tabs -->
        <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-5" role="tablist">
            <li class="wow fadeInDown animation-delay-6" role="presentation"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-windows"></i> <span class="hidden-xs">Windows</span></a></li>
            <li class="wow fadeInDown animation-delay-4 active" role="presentation"><a href="#macos" aria-controls="macos" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-apple"></i> <span class="hidden-xs">MacOS</span></a></li>
            <li class="wow fadeInDown animation-delay-2" role="presentation"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab" class="withoutripple"><i class="fa fa-linux"></i> <span class="hidden-xs">Linux</span></a></li>
            <li class="wow fadeInDown animation-delay-4" role="presentation"><a href="#android" aria-controls="android" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-android"></i> <span class="hidden-xs">Android</span></a></li>
            <li class="wow fadeInDown animation-delay-6" role="presentation"><a href="#ios" aria-controls="ios" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-smartphone-iphone"></i> <span class="hidden-xs">IOS</span></a></li>
        </ul>
        <div class="panel-body">
            <!-- Tab panes -->
            <div class="tab-content mt-4">
                <div role="tabpanel" class="tab-pane fade" id="windows">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img src="<%= assets %>/img/demo/mock4.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane active in fade" id="macos">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="<%= assets %>/img/demo/mock2.png" alt="" class="img-responsive wow animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-normal wow animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md  wow animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md wow animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised wow animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 wow animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="linux">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img src="<%= assets %>/img/demo/mock5.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="android">
                    <div class="row">
                        <div class="col-md-6">
                            <img src="<%= assets %>/img/demo/mock6.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md  animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane fade" id="ios">
                    <div class="row">
                        <div class="col-md-6 col-md-push-6">
                            <img src="<%= assets %>/img/demo/mock3.png" alt="" class="img-responsive animated zoomIn animation-delay-8">
                        </div>
                        <div class="col-md-6 col-md-pull-6">
                            <h3 class="text-normal animated fadeInUp animation-delay-4">Bring ideas together faster</h3>
                            <p class="lead lead-md animated fadeInUp animation-delay-6">Create documents, spreadsheets and presentations from anywhere. Share them with teammates and work together on the same file, at the same time.</p>
                            <p class="lead lead-md animated fadeInUp animation-delay-7">sing your work is easy with one login for everything you do. Administrative controls offer two-step verification to enhance security for the whole company.</p>
                            <div class="">
                                <a href="javascript:void(0)" class="btn btn-info btn-raised animated zoomIn animation-delay-10"><i class="zmdi zmdi-info"></i> More info</a>
                                <a href="javascript:void(0)" class="btn btn-danger btn-raised mr-1 animated zoomIn animation-delay-12"><i class="zmdi zmdi-chart-donut"></i> Action here </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- panel -->
</div> <!-- container -->

<section class="mt-6">
    <div class="container">
        <h1 class="color-primary text-center" text-center>Our Team</h1>
        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-danger wow zoomInUp">
                <div class="ms-hero-bg-danger ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-danger">Victoria Smith</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-info wow zoomInUp">
                <div class="ms-hero-bg-info ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-info">Charlie Durant</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-warning wow zoomInUp">
                <div class="ms-hero-bg-warning ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-warning">Joan Fawert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>


<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts-revolution.html --><!-- /build -->

<script type="text/javascript">
				var tpj=jQuery;

	tpj(document).ready(function() {
		if(tpj("#rev_slider_1081_1").revolution == undefined){
			revslider_showDoubleJqueryError("#rev_slider_1081_1");
		}else{
			revapi1081 = tpj("#rev_slider_1081_1").show().revolution({
				sliderType:"standard",
				jsFileLocation: "<%= assets %>/plugins/revolution/revolution/js/",
				sliderLayout:"fullscreen",
				dottedOverlay:"none",
				delay:9000,
				navigation: {
					keyboardNavigation:"on",
					keyboard_direction: "vertical",
					mouseScrollNavigation:"carousel",
					mouseScrollReverse:"default",
					onHoverStop:"off",
					touch:{
						touchenabled:"on",
						swipe_threshold: 75,
						swipe_min_touches: 1,
						swipe_direction: "vertical",
						drag_block_vertical: false
					}
					,
					bullets: {
						enable:true,
						hide_onmobile:true,
						hide_under:778,
						style:"hermes",
						hide_onleave:false,
						direction:"vertical",
						h_align:"right",
						v_align:"center",
						h_offset:20,
						v_offset:0,
						space:5,
						tmp:''
					}
				},
				responsiveLevels:[1240,1024,778,480],
				visibilityLevels:[1240,1024,778,480],
				gridwidth:[1240,1024,778,480],
				gridheight:[768,768,960,720],
				lazyType:"smart",
				shadow:0,
				spinner:"spinner",
				stopLoop:"on",
				stopAfterLoops:0,
				stopAtSlide:1,
				shuffle:"off",
				autoHeight:"off",
				fullScreenAutoWidth:"off",
				fullScreenAlignForce:"off",
				fullScreenOffsetContainer: ".header",
				fullScreenOffset: "",
				disableProgressBar:"on",
				hideThumbsOnMobile:"off",
				hideSliderAtLimit:0,
				hideCaptionAtLimit:0,
				hideAllCaptionAtLilmit:0,
				debugMode:false,
				fallbacks: {
					simplifyAll:"off",
					nextSlideOnWindowFocus:"off",
					disableFocusListener:false,
				}
			});
		}
	});	/*ready*/
</script>

</body>
</html>
