<!-- build:include layout/header.html --><!-- /build -->

<header class="ms-hero ms-hero-black mb-6">
    <div id="carousel-header" class="carousel carousel-header slide" data-ride="carousel" data-interval="5000">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#carousel-header" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-header" data-slide-to="1"></li>
            <li data-target="#carousel-header" data-slide-to="2"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md7">
                            <div class="carousel-caption">
                                <h1 class="color-primary no-mt mb-4 animated zoomInDown animation-delay-7">At the Vanguard of Innovation</h1>
                                <ul class="list-unstyled list-hero">
                                    <li><i class="animated flipInX animation-delay-6 color-warning zmdi zmdi-cloud"></i> <span class="color-warning animated fadeInRightTiny animation-delay-7">High-speed servers and performance</span></li>
                                    <li><i class="animated flipInX animation-delay-8 color-info zmdi zmdi-globe"></i> <span class="color-info animated fadeInRightTiny animation-delay-9">Global web solutions &amp; cloud computing</span></li>
                                    <li><i class="animated flipInX animation-delay-10 color-success zmdi zmdi-download"></i> <span class="color-success animated fadeInRightTiny animation-delay-11">Lorem ipsum dolor sit amet consectetur</span></li>
                                </ul>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary btn-xlg btn-raised animated flipInX animation-delay-16"><i class="zmdi zmdi-settings"></i> Personalize</a>
                                    <a href="#" class="btn btn-warning btn-xlg btn-raised animated flipInX animation-delay-18"><i class="zmdi zmdi-download"></i> Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md5">
                            <img src="<%= assets %>/img/demo/mock.png" alt="..." class="img-responsive mt-6 center-block text-center animated zoomInDown animation-delay-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md7">
                            <div class="carousel-caption">
                                <h1 class="color-primary no-mt mb-4 animated zoomInDown animation-delay-7">At the Vanguard of Innovation</h1>
                                <ul class="list-unstyled list-hero">
                                    <li><i class="animated flipInX animation-delay-6 color-success zmdi zmdi-spinner"></i> <span class="color-success animated fadeInRightTiny animation-delay-7">High-speed servers and performance</span></li>
                                    <li><i class="animated flipInX animation-delay-8 color-danger zmdi zmdi-cocktail"></i> <span class="color-danger animated fadeInRightTiny animation-delay-9">Global web solutions &amp; cloud computing</span></li>
                                    <li><i class="animated flipInX animation-delay-10 color-info zmdi zmdi-case"></i> <span class="color-info animated fadeInRightTiny animation-delay-11">Lorem ipsum dolor sit amet consectetur</span></li>
                                </ul>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary btn-xlg btn-raised animated flipInX animation-delay-16"><i class="zmdi zmdi-settings"></i> Personalize</a>
                                    <a href="#" class="btn btn-warning btn-xlg btn-raised animated flipInX animation-delay-18"><i class="zmdi zmdi-download"></i> Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md5">
                            <img src="<%= assets %>/img/demo/mock-safari.png" alt="..." class="img-responsive mt-6 center-block text-center animated zoomInRight animation-delay-5">
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md7">
                            <div class="carousel-caption">
                                <h1 class="color-primary no-mt mb-4 animated zoomInDown animation-delay-7">At the Vanguard of Innovation</h1>
                                <ul class="list-unstyled list-hero">
                                    <li><i class="animated flipInX animation-delay-8 color-info zmdi zmdi-nature"></i> <span class="color-info animated fadeInRightTiny animation-delay-9">Global web solutions &amp; cloud computing</span></li>
                                    <li><i class="animated flipInX animation-delay-6 color-danger zmdi zmdi-city-alt"></i> <span class="color-danger animated fadeInRightTiny animation-delay-7">High-speed servers and performance</span></li>
                                    <li><i class="animated flipInX animation-delay-10 color-warning zmdi zmdi-graduation-cap"></i> <span class="color-warning animated fadeInRightTiny animation-delay-11">Lorem ipsum dolor sit amet consectetur</span></li>
                                </ul>
                                <div class="text-center">
                                    <a href="#" class="btn btn-primary btn-xlg btn-raised animated flipInX animation-delay-16"><i class="zmdi zmdi-settings"></i> Personalize</a>
                                    <a href="#" class="btn btn-warning btn-xlg btn-raised animated flipInX animation-delay-18"><i class="zmdi zmdi-download"></i> Download</a>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-6 col-md5">
                            <img src="<%= assets %>/img/demo/mock-imac.png" alt="..." class="img-responsive mt-6 center-block text-center animated zoomInDown animation-delay-5">
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- Controls -->
        <a href="#carousel-header" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
        <a href="#carousel-header" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
    </div>
</header>

<div class="container">
    <section class="mb-4">
        <h2 class="text-center no-mt mb-6 wow fadeInUp">Our Services</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="ms-icon-feature wow flipInX animation-delay-4">
                    <div class="ms-icon-feature-icon">
                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-cloud"></i></span>
                    </div>
                    <div class="ms-icon-feature-content">
                        <h4 class="color-primary">Cloud Computing</h4>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="ms-icon-feature wow flipInX animation-delay-4">
                    <div class="ms-icon-feature-icon">
                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-desktop"></i></span>
                    </div>
                    <div class="ms-icon-feature-content">
                        <h4 class="color-primary">Web Design and SEO</h4>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="ms-icon-feature wow flipInX animation-delay-4">
                    <div class="ms-icon-feature-icon">
                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-tablet"></i></span>
                    </div>
                    <div class="ms-icon-feature-content">
                        <h4 class="color-primary">Mobile and Tablet Apps</h4>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="ms-icon-feature wow flipInX animation-delay-4">
                    <div class="ms-icon-feature-icon">
                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-wordpress"></i></span>
                    </div>
                    <div class="ms-icon-feature-content">
                        <h4 class="color-primary">Wordpress Themes</h4>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="ms-icon-feature wow flipInX animation-delay-4">
                    <div class="ms-icon-feature-icon">
                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-graduation-cap"></i></span>
                    </div>
                    <div class="ms-icon-feature-content">
                        <h4 class="color-primary">Training and development</h4>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-2">
                <div class="ms-icon-feature wow flipInX animation-delay-4">
                    <div class="ms-icon-feature-icon">
                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-send"></i></span>
                    </div>
                    <div class="ms-icon-feature-content">
                        <h4 class="color-primary">Customer service</h4>
                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div> <!-- container -->

<div class="wrap bg-warning color-dark">
    <div class="container">
        <h1 class="color-white text-center mb-4">Some numerical data</h1>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-royal card-block text-center wow zoomInUp animation-delay-2">
                    <h2 class="counter">450</h2>
                    <i class="fa fa-4x fa-coffee color-royal"></i>
                    <p class="mt-2 no-mb lead small-caps">cups of coffee</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-success card-block text-center wow zoomInUp animation-delay-5">
                    <h2 class="counter">64</h2>
                    <i class="fa fa-4x fa-briefcase color-success"></i>
                    <p class="mt-2 no-mb lead small-caps">projects done</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-danger card-block text-center wow zoomInUp animation-delay-4">
                    <h2 class="counter">600</h2>
                    <i class="fa fa-4x fa-comments-o color-danger"></i>
                    <p class="mt-2 no-mb lead small-caps">comments</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-info card-block text-center wow zoomInUp animation-delay-3">
                    <h2 class="counter">3500</h2>
                    <i class="fa fa-4x fa-group color-info"></i>
                    <p class="mt-2 no-mb lead small-caps">happy clients</p>
                </div>
            </div>
        </div>
        <div class="text-center color-white mw-800 center-block mt-4">
            <p class="lead lead-lg">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge. We are backed by 20 years of research.</p>
            <a href="javascript:void(0)" class="btn btn-raised btn-white color-info wow flipInX animation-delay-8"><i class="fa fa-space-shuttle"></i> I have a project</a>
        </div>
    </div>
</div>

<section class="mt-6">
    <div class="container">
        <h1 class="right-line">Latest Works</h1>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail">
                        <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="wrap ms-hero-img-airplane ms-hero-bg-royal ms-bg-fixed">
    <div class="container">
        <div class="text-center mb-4">
            <h2 class="uppercase color-white">See our subscription plans</h2>
            <p class="lead uppercase color-light">Surprise with our unique features</p>
        </div>
        <div class="row">
            <div class="col-md-4 price-table price-table-success wow zoomInUp">
                <header class="price-table-header">
                    <span class="price-table-category">Personal</span>
                    <h3><sup>$</sup>19 <sub>/mo.</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                        <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                        <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis cumque.</li>
                        <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                        <li><i class="zmdi zmdi-star"></i> Atque molestiae, blanditiis ratione.</li>
                    </ul>
                    <div class="text-center">
                        <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 price-table price-table-info prominent wow zoomInDown">
                <header class="price-table-header">
                    <span class="price-table-category">Professional</span>
                    <h3><sup>$</sup>49 <sub>/mo.</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                        <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                        <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis cumque.</li>
                        <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                        <li><i class="zmdi zmdi-star"></i> Atque molestiae, blanditiis ratione.</li>
                    </ul>
                    <div class="text-center">
                        <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 price-table price-table-danger wow zoomInUp">
                <header class="price-table-header">
                    <span class="price-table-category">Business</span>
                    <h3><sup>$</sup>99 <sub>/mo.</sub></h3>
                </header>
                <div class="price-table-body">
                    <ul class="price-table-list">
                        <li><i class="zmdi zmdi-code"></i> Lorem ipsum dolor sit amet.</li>
                        <li><i class="zmdi zmdi-globe"></i> Voluptate ex quam autem. Dolor.</li>
                        <li><i class="zmdi zmdi-settings"></i> Dignissimos velit reiciendis cumque.</li>
                        <li><i class="zmdi zmdi-cloud"></i> Nihil corrupti soluta vitae non.</li>
                        <li><i class="zmdi zmdi-star"></i> Atque molestiae, blanditiis ratione.</li>
                    </ul>
                    <div class="text-center">
                        <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-cloud-download"></i> Get Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!--container -->
</div>

<section class="mt-6">
    <div class="container">
        <h1 class="color-primary text-center" text-center>Our Team</h1>
        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-danger wow zoomInUp">
                <div class="ms-hero-bg-danger ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-danger">Victoria Smith</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-info wow zoomInUp">
                <div class="ms-hero-bg-info ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-info">Charlie Durant</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-warning wow zoomInUp">
                <div class="ms-hero-bg-warning ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-warning">Joan Fawert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- build:include layout/footer.html --><!-- /build -->
