<!-- build:include layout/header/head.html --><!-- /build -->
<!-- build:include:demo layout/header/configurator.html --><!-- /build -->
<!-- build:include:dist,navbar,demo layout/preload.html --><!-- /build -->

<div class="sb-site-container">

<nav class="navbar ms-lead-navbar navbar-mode" id="navbar-lead">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand animated fadeInRight animation-delay-5" href="index.html">
                <!-- <img src="<%= assets %>/img/demo/logo-navbar.png" alt=""> -->
                <span class="ms-logo ms-logo-white ms-logo-sm">M</span>
                <span class="ms-title">Material <strong>Style</strong></span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="animated fadeIn animation-delay-4"><a data-scroll href="#home">Home</a></li>
                <li class="animated fadeIn animation-delay-5"><a data-scroll href="#timeline">Timeline</a></li>
                <li class="animated fadeIn animation-delay-6"><a data-scroll href="#education">Education</a></li>
                <li class="animated fadeIn animation-delay-7"><a data-scroll href="#skills">Skills</a></li>
                <li class="animated fadeIn animation-delay-8"><a data-scroll href="#portfolio">Portfolio</a></li>
                <li class="animated fadeIn animation-delay-9"><a data-scroll href="#testimonials">Testimonials</a></li>
                <li class="animated fadeIn animation-delay-10"><a data-scroll href="#information">Information</a></li>
            </ul>
        </div> <!-- navbar-collapse collapse -->
        <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu animated fadeIn animation-delay-12"><i class="zmdi zmdi-menu"></i></a>
    </div> <!-- container -->
</nav>


<div class="intro-full ms-hero-img-keyboard ms-hero-bg-primary color-white" id="home">
    <div class="intro-full-content index-1">
        <div class="container">
            <div class="text-center mb-4">
                <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="ms-avatar animated rollIn animation-delay-5">
                <h1 class="no-m color-white center-block fw-500 mt-2 animated zoomInRight animation-delay-7">Andrea Smith</h1>
                <h2 class="animated zoomInRight animation-delay-8">Full Stack Developer</h2>
                <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-8"><i class="zmdi zmdi-facebook"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-9"><i class="zmdi zmdi-twitter"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-10"><i class="zmdi zmdi-google"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-11"><i class="zmdi zmdi-instagram"></i></a>
                <a href="javascript:void(0)" class="btn-circle btn-circle-white animated zoomInUp animation-delay-12"><i class="zmdi zmdi-github"></i></a>
                <br>
                <a href="javascript:void(0)" class="btn btn-white btn-lg color-primary btn-raised animated fadeInUp animation-delay-16"><i class="zmdi zmdi-download"></i> Download CV</a>
            </div>
            <div class="text-center mb-2">
                <a data-scroll href="#timeline" class="btn-circle btn-circle-raised btn-circle-white animated fadeInUp animation-delay-20"><i class="zmdi zmdi-long-arrow-down"></i></a>
            </div>
        </div>
    </div>
</div>

<div class="container pt-6">
    <div class="card card-block card-block-big wow fadeInUp" id="timeline">
        <h3 class="text-center fw-500 mb-6">Work Experiences</h3>
        <ul class="ms-timeline-left">
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Google</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Senior Software Engineer</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">Mountain View</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
                <ul>
                    <li>Lorem ipsum dolor sit amet</li>
                    <li>Maecenas tempus tellus eget</li>
                    <li>Donec pede justo ante</li>
                </ul>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Microsoft</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Web Developer</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">San Fransisco</span>
                <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo.</p>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>Twitter</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Senior Software Engineer</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">Madrid</span>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error.</p>
                <p>Iure quae, voluptates laudantium. Eaque fugiat labore aliquam, explicabo, iste nam modi esse. Esse ea, perspiciatis alias non natus reprehenderit id omnis.</p>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>New York Times</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Software Engineer</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">New York</span>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error, pariatur minima sint earum qui ea neque. Perspiciatis soluta, maxime dignissimos inpo on repudiandae sed vero amet nisi ut, dolores, placeat illo. Sunt molestiae.</p>
                <ul>
                    <li>Delectus error quos expedita dignissimos quidem voluptatibus mollitia inventore aperiam laboriosam quisquam excepturi quasi quas, enim, similique voluptatum reprehenderit dicta quae dolores.</li>
                    <li>Praesentium ullam, ratione ut dolor alias minima. Eius, corporis a, doloribus esse praesentium saepe quo delectus, quos, nobis sint repudiandae ratione.</li>
                </ul>
            </li>
            <li class="ms-timeline-left-item wow fadeInUp">
                <h4>AGM Studio</h4>
                <div class="ms-timeline-left-left">
                    <h4 class="color-primary">Founder &amp; Lead Developer</h4>
                    <time class="ms-timeline-left-time">2015 - 2016</time>
                </div>
                <span class="ms-timeline-left-city">London</span>
                <p>Cumque pariatur eos culpa, tempore eaque necessitatibus earum ut, aperiam, adipisci, laudantium tempora ipsa harum quae sapiente rerum doloribus voluptatum. Obcaecati iusto quibusdam nesciunt unde, suscipit! Dolorem error, pariatur minima sint earum qui ea neque. Perspiciatis soluta, maxime dignissimos inpo on repudiandae sed vero amet nisi ut, dolores, placeat illo. Sunt molestiae.</p>
            </li>
        </ul>
    </div>

    <div class="card mt-4 wow fadeInUp" id="education">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-2">Education</h3>
            <div class="row">
                <div class="col-md-4">
                    <div class="pr-1 pl-1">
                        <h4 class="color-primary fw-500 md-1">High school</h4>
                        <div>Polytechnic University of Madrid</div>
                        <span class="small">2008 - 2011</span>
                        <p class="small mt-1">Ducimus excepturi hic ipsum enim sit aspernatur asperiores expedita, officiis ad ratione incidunt necessitatibus fuga mollitia repellendus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pl-1 pr-1">
                        <h4 class="color-primary fw-500 md-1">Software Engineering</h4>
                        <div>Massachusetts Institute of Technology</div>
                        <span class="small">2011 - 2014</span>
                        <p class="small mt-1">Ducimus excepturi hic ipsum enim sit aspernatur asperiores expedita, officiis ad ratione incidunt necessitatibus fuga mollitia repellendus.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="pl-1 pr-1">
                        <h4 class="color-primary fw-500 md-1">Systems Engineer</h4>
                        <div>Harvard University</div>
                        <span class="small">2014 - 2016</span>
                        <p class="small mt-1">Ducimus excepturi hic ipsum enim sit aspernatur asperiores expedita, officiis ad ratione incidunt necessitatibus fuga mollitia repellendus.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card card-primary-inverse mt-4 wow fadeInUp" id="skills">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-4">Professional Skills</h3>
            <h4 class="text-center">Top Skills</h4>
            <div class="row">
                <div class="col-md-4">
                    <div class="text-center mt-4">
                        <div class="circle" id="circles-1"></div>
                        <h4 class="text-center">Javascript</h4>
                        <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center mt-4">
                        <div class="circle" id="circles-2"></div>
                        <h4 class="text-center">Wordpress API</h4>
                        <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="text-center mt-4">
                        <div class="circle" id="circles-3"></div>
                        <h4 class="text-center">Frontend Development</h4>
                        <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                    </div>
                </div>
            </div>
            <h4 class="text-center mt-6 mb-2">Other Skills</h4>
            <div class="text-center center-block mw-500">
                <span class="ms-tag ms-tag-light color-primary">HTML 5</span>
                <span class="ms-tag ms-tag-light color-primary">Bootstrap</span>
                <span class="ms-tag ms-tag-light color-primary">SASS</span>
                <span class="ms-tag ms-tag-light color-primary">LESS</span>
                <span class="ms-tag ms-tag-light color-primary">Jquery</span>
                <span class="ms-tag ms-tag-light color-primary">Angular JS</span>
                <span class="ms-tag ms-tag-light color-primary">React</span>
                <span class="ms-tag ms-tag-light color-primary">CSS 3</span>
                <span class="ms-tag ms-tag-light color-primary">Git</span>
                <span class="ms-tag ms-tag-light color-primary">Linux</span>
                <span class="ms-tag ms-tag-light color-primary">Ruby</span>
                <span class="ms-tag ms-tag-light color-primary">C/C++</span>
                <span class="ms-tag ms-tag-light color-primary">Python</span>
                <span class="ms-tag ms-tag-light color-primary">MVC</span>
                <span class="ms-tag ms-tag-light color-primary">C#</span>
                <span class="ms-tag ms-tag-light color-primary">Spanish</span>
                <span class="ms-tag ms-tag-light color-primary">PHP</span>
                <span class="ms-tag ms-tag-light color-primary">Symphony</span>
            </div>
        </div>
    </div>

    <div class="card mt-4 wow fadeInUp" id="portfolio">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-4">Portfolio</h3>
            <div class="mw-800 center-block mb-4">
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                    <li role="presentation" class="active filter" data-filter="all"><a class="withoutripple" href="#home7" aria-controls="home7" role="tab" data-toggle="tab"><i class="zmdi zmdi-desktop-mac"></i> <span class="hidden-xs">All</span></a></li>
                    <li role="presentation" class="filter" data-filter=".category-1"><a class="withoutripple" href="#profile7" aria-controls="profile7" role="tab" data-toggle="tab"><i class="zmdi zmdi-language-html5"></i> <span class="hidden-xs">HTML</span></a></li>
                    <li role="presentation" class="filter" data-filter=".category-2"><a class="withoutripple" href="#messages7" aria-controls="messages7" role="tab" data-toggle="tab"><i class="fa fa-wordpress"></i> <span class="hidden-xs">Wordpress</span></a></li>
                    <li role="presentation" class="filter" data-filter=".category-3"><a class="withoutripple" href="#settings7" aria-controls="settings7" role="tab" data-toggle="tab"><i class="zmdi zmdi-language-javascript"></i> <span class="hidden-xs">Angular JS</span></a></li>
                </ul>
            </div>
            <div class="row" id="Container">
                <div class="col-md-4 col-sm-6 mix category-1 category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port3.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port5.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port8.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port10.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port12.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->
            </div>
        </div>
    </div>

    <div class="card mt-4 wow fadeInUp" id="testimonials">
        <div class="card-block card-block-big">
            <h3 class="text-center fw-500 mb-4">Testimonials</h3>
            <div class="mw-800 center-block">
                <div id="carousel-example-generic" class="carousel-cards carousel slide" data-ride="carousel">
                    <div class="carousel-inner" role="listbox">
                        <div class="item active">
                            <blockquote class="ms-blockquote">
                                <p class="lead">Voluptatibus fugit distinctio, corporis accusantium excepturi eos voluptates explicabo saepe. Nesciunt illo incidunt esse provident eos eligendi blanditiis voluptatum inventore quod id.</p>
                                <footer><strong>Alan Grants</strong>, <cite title="Source Title">Twitter Inc.</cite></footer>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote class="ms-blockquote">
                                <p class="lead">Voluptatibus fugit distinctio, corporis accusantium excepturi eos voluptates explicabo saepe. Nesciunt illo incidunt esse provident eos eligendi blanditiis voluptatum inventore quod id.</p>
                                <footer><strong>Alan Grants</strong>, <cite title="Source Title">Twitter Inc.</cite></footer>
                            </blockquote>
                        </div>
                        <div class="item">
                            <blockquote class="ms-blockquote">
                                <p class="lead">Voluptatibus fugit distinctio, corporis accusantium excepturi eos voluptates explicabo saepe. Nesciunt illo incidunt esse provident eos eligendi blanditiis voluptatum inventore quod id.</p>
                                <footer><strong>Alan Grants</strong>, <cite title="Source Title">Twitter Inc.</cite></footer>
                            </blockquote>
                        </div>
                    </div>

                    <ol class="carousel-indicators carousel-indicators-primary">
                        <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    <div class="card mt-4 wow fadeInUp" id="information">
        <div class="bg-primary">
            <h3 class="color-white index-1 fw-500 text-center no-m pt-4">Information</h3>
            <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
        </div>
        <div class="card-block card-block-big">
            <div class="row">
                <div class="col-md-6">
                    <h3 class="color-primary">About me</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae nemo ratione labore debitis, incidunt repellendus sapiente iste atque est. A architecto placeat nesciunt, ad quae saepe quas quisquam, iste, aliquid harum hic dolorum delectus fugiat, iure sint est esse at?</p>
                    <p>Nemo, unde. Iusto nihil amet laboriosam debitis magni cumque explicabo pariatur voluptate molestiae, cupiditate est, deleniti aperiam quisquam ratione quaerat harum eligendi earum, tempora non itaque. Fugiat ipsam perspiciatis voluptatibus quod ratione quas odio nobis aspernatur unde. Consequuntur, nisi, odit.</p>
                </div>
                <div class="col-md-5 col-md-offset-1">
                    <h3 class="color-primary">Contact</h3>
                    <address class="no-mb">
                        <p><i class="color-danger zmdi zmdi-pin mr-1"></i><strong>Adress:</strong> 795 Folsom Ave, Suite 600</p>
                        <p><i class="color-warning zmdi zmdi-map mr-1"></i><strong>City:</strong> San Francisco, CA 94107</p>
                        <p><i class="color-info zmdi zmdi-email mr-1"></i> <strong>Email:</strong> <a href="mailto:joe@example.com">example@domain.com</a></p>
                        <p><i class="color-royal zmdi zmdi-phone mr-1"></i><strong>Phone:</strong> +34 123 456 7890 </p>
                        <p><i class="color-success fa fa-fax mr-1"></i><strong>Fax:</strong> +34 123 456 7890 </p>
                    </address>
                    <div class="mt-4">
                        <a href="javascript:void(0)" class="btn-circle btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                        <a href="javascript:void(0)" class="btn-circle btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                        <a href="javascript:void(0)" class="btn-circle btn-google"><i class="zmdi zmdi-google"></i></a>
                        <a href="javascript:void(0)" class="btn-circle btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        <a href="javascript:void(0)" class="btn-circle btn-github"><i class="zmdi zmdi-github"></i></a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div> <!-- container -->

<div class="btn-back-top">
    <a href="#" data-scroll id="back-top" class="btn-circle btn-circle-primary btn-circle-sm btn-circle-raised "><i class="zmdi zmdi-long-arrow-up"></i></a>
</div>

<div class="bg-light index-1 intro-full-next pt-6">



    <!-- build:include layout/footer/foot.html --><!-- /build -->
</div>


</div> <!-- sb-site-container -->

    <!-- build:include layout/slidebar-portfolio.html --><!-- /build -->
    <!-- build:include layout/footer/scripts.html --><!-- /build -->
    <script src="<%= assets %>/js/lead-cv-full.js"></script>

</body>
</html>
