<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-hero-img-city ms-hero-bg-primary no-pb overflow-hidden ms-bg-fixed">
    <div class="container">
        <div class="text-center color-white">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Material<span>Style</span></h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Discover our projects and the <span class="color-warning">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.</p>
            <div class="img-browser-container mt-6">
                <img src="<%=assets%>/img/demo/safariBig1.png" alt="" class="img-responsive center-block index-1 img-browser animated slideInUp">
                <img src="<%=assets%>/img/demo/safariBig3.png" alt="" class="img-responsive center-block img-browser img-browser-left img-browser-left">
                <img src="<%=assets%>/img/demo/safariBig2.png" alt="" class="img-responsive center-block img-browser img-browser-right img-browser-right">
            </div>
        </div>
    </div>
</div>

<div class="wrap bg-info">
    <div class="container">
        <div class="text-center color-white mw-800 center-block mb-4">
            <h2 class=" mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
            <p class="lead wow fadeInDown animation-delay-5"> Lorem ipsum dolor sit amet, <span class="">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
        </div>
        <div class="row color-dark">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-warning wow fadeInLeft animation-delay-4">
                    <div class="text-center card-block">
                        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-warning"><i class="zmdi zmdi-cloud-outline"></i></span>
                        <h4 class="color-warning">A feature title</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="javascript:void(0)" class="btn btn-warning btn-raised">Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-royal wow fadeInLeft animation-delay-3">
                    <div class="text-center card-block">
                        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-royal"><i class="zmdi zmdi-cloud-outline"></i></span>
                        <h4 class="color-royal">A feature title</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="javascript:void(0)" class="btn btn-royal btn-raised">Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-success wow fadeInRight animation-delay-3">
                    <div class="text-center card-block">
                        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-success"><i class="zmdi zmdi-cloud-outline"></i></span>
                        <h4 class="color-success">A feature title</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="javascript:void(0)" class="btn btn-success btn-raised">Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="card card-danger wow fadeInRight animation-delay-4">
                    <div class="text-center card-block">
                        <span class="ms-icon ms-icon-circle ms-icon-xxlg color-danger"><i class="zmdi zmdi-cloud-outline"></i></span>
                        <h4 class="color-danger">A feature title</h4>
                        <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        <a href="javascript:void(0)" class="btn btn-danger btn-raised">Action here</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center wow fadeInUp animation-delay-7 mt-2">
            <p class="lead lead-lg color-white text-center center-block mt-6 mw-800 text-uppercase fw-300 mb-2">If you have questions or need a personalized plan, contact us and we will study your project and offer a customized solution.</p>
            <a href="javascript:void(0)" class="btn btn-white btn-xlg btn-raised color-info"><i class="zmdi zmdi-email"></i> Contact Us</a>
        </div>
    </div> <!-- container -->
</div>

<div class="container mt-6">
    <div class="text-center">
        <h2 class="color-primary">Knows the <span class="text-normal">Material Style</span> and surprise yourself</h2>
        <p class="lead">Put here a short description or brief highlights in your app.</p>
    </div>
    <div class="mw-800 center-block">
        <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-3" role="tablist">
            <li class="wow fadeInDown animation-delay-6" role="presentation"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-windows"></i> <span class="hidden-xs">Windows</span></a></li>
            <li class="wow fadeInDown animation-delay-4 active" role="presentation"><a href="#macos" aria-controls="macos" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-apple"></i> <span class="hidden-xs">MacOS</span></a></li>
            <li class="wow fadeInDown animation-delay-2" role="presentation"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab" class="withoutripple"><i class="fa fa-linux"></i> <span class="hidden-xs">Linux</span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <!-- Tab panes -->
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane fade" id="windows">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                        <ul class="list-unstyled hand-list">
                            <li class="animated fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>/img/demo/surface.png">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active in fade" id="macos">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <ul class="list-unstyled hand-list">
                            <li class="wow fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="wow fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="wow fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>/img/demo/new_mac.png">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="linux">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                        <ul class="list-unstyled hand-list">
                            <li class="animated fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>/img/demo/ubuntu_tablet.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<section class="wrap bg-primary mt-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-1"></div>
                    <h4 class="text-center">HTML 5</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-2"></div>
                    <h4 class="text-center">CSS 3</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-3"></div>
                    <h4 class="text-center">Jquery</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-4"></div>
                    <h4 class="text-center">Bootstrap 3</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
</section>


<section class="mt-6">
    <div class="container">
        <h2 class="color-primary right-line">Recent Works</h2>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-dark">
                        <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-dark">
                        <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-dark">
                        <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-dark">
                        <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-dark">
                        <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-diagonal ms-thumbnail-dark">
                        <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title color-primary">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-white btn-raised color-primary"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="wrap ms-hero-img-team ms-hero-bg-dark-light ms-bg-fixed">
    <div class="text-center color-whit index-1">
        <h1 class="no-m ms-site-title center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Our Clients</h1>
        <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quas, ad necessitatibus a tenetur laborum odio ab sunt suscipit.</p>
    </div>
    <div class="container mt-6">
        <div class="row index-1 color-dark">
            <div class="col-lg-4 col-sm-6">
                <div class="card card-warning wow zoomInUp animation-delay-5">
                    <div class="text-center bg-warning">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/nokia.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-warning">Nokia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-info wow zoomInUp animation-delay-5">
                    <div class="text-center bg-info">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/microsoft.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-info">Microsoft</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-success wow zoomInUp animation-delay-5">
                    <div class="text-center bg-success">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/intel.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-success">Intel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="text-center index-1 mt-2">
        <a href="javascript:void(0)" class="btn btn-danger btn-xlg btn-raised"><i class="zmdi zmdi-accounts"></i> All Clients</a>
    </div>
</section>

<div class="container mt-6">
    <h2 class="right-line">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h3 class="color-primary">Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus quibusdam odio eius eligendi tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
        </div>
        <div class="col-md-6">
            <h3 class="color-primary">Knowledge</h3>
            <div class="progress progress-lg animated fadeInUp animation-delay-6">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    HTML 5 &amp; CSS 3
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-8">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    Javascript &amp; Jquery
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-10">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    PHP 5 &amp; MYSQL 5
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-12">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                    C/C++
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-14">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    Python
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-16">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                    Node.js
                </div>
            </div>
        </div>
    </div>
</div>

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/home-generic-3.js"></script>

</body>
</html>
