<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page bg-info">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="animated fadeInDown animation-delay-4">Google Pixel</h1>
                <p class="lead lead-lg animated fadeInDown animation-delay-5">The future is in your hands</p>
                <p class="animated fadeInDown animation-delay-6">It has the highest rated smartphone camera. Ever. A battery that lasts all day. Unlimited storage for all your photos and videos. And it’s the first phone with the Google Assistant built in.</p>
                <ul class="list-unstyled">
                    <li class="animated fadeInLeft animation-delay-7">5.5 inches QHD AMOLED at 534ppi.</li>
                    <li class="animated fadeInLeft animation-delay-8">4GB LPDDR4 RAM.</li>
                    <li class="animated fadeInLeft animation-delay-9">32 or 128GB.</li>
                    <li class="animated fadeInLeft animation-delay-10">Qualcomm® Snapdragon™ 821.</li>
                    <li class="animated fadeInLeft animation-delay-11">12.3MP Large 1.55μm pixels.</li>
                </ul>
                <a href="javascript:void(0)" class="btn btn-raised btn-royal animated fadeInLeft animation-delay-14">More info</a>
                <a href="javascript:void(0)" class="btn btn-raised btn-white color-info animated fadeInRight animation-delay-14">Purchase</a>
            </div>
            <div class="col-md-6 text-center">
                <img src="<%= assets %>/img/demo/pixelPro.png" alt="" class="img-responsive animated bounceInRight animation-delay-14">
            </div>
        </div>
    </div>
</div>

<div class="wrap bg-warning">
    <div class="container">
        <h1 class="color-white text-center mb-4">Latest Offers</h1>
        <div class="row color-dark">
            <div class="col-lg-4 col-md-6 col-xs-12 mix laptop apple" data-price="1999.99" data-date="20160901">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/macbook.png" alt="" class="img-responsive center-block"></a>
                        <h4 class="text-normal text-center">Macbook Pro 2015</h4>
                        <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                        <div class="mt-2">
                            <span class="mr-2">
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span class="ms-tag ms-tag-success">$ 1999.99</span>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mix tablet apple" data-price="999.99" data-date="20160705">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/ipad.png" alt="" class="img-responsive center-block"></a>
                        <h4 class="text-normal text-center">iPad Pro</h4>
                        <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                        <div class="mt-2">
                            <span class="mr-2">
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                            </span>
                            <span class="ms-tag ms-tag-success">$ 999.99</span>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mix accessory samsung" data-price="459.89" data-date="20160815">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/gear.png" alt="" class="img-responsive center-block"></a>
                        <h4 class="text-normal text-center">Galaxy Gear S3</h4>
                        <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                        <div class="mt-2">
                            <span class="mr-2">
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span class="ms-tag ms-tag-success">$ 459.89</span>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mix accessory apple" data-price="769.99" data-date="20151014">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/appleWatch.png" alt="" class="img-responsive center-block"></a>
                        <h4 class="text-normal text-center">Apple Watch Serie 2</h4>
                        <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                        <div class="mt-2">
                            <span class="mr-2">
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star"></i>
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span class="ms-tag ms-tag-success">$ 769.99</span>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mix smartphone samsung" data-price="569.99" data-date="20151201">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/s7.png" alt="" class="img-responsive center-block"></a>
                        <h4 class="text-normal text-center">Samsung Galaxy S7</h4>
                        <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                        <div class="mt-2">
                            <span class="mr-2">
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span class="ms-tag ms-tag-success">$ 569.99</span>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-xs-12 mix laptop microsoft" data-price="2499.25" data-date="20161205">
                <div class="card wow zoomInUp">
                    <div class="card-block text-center">
                        <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/surfaceBook.png" alt="" class="img-responsive center-block"></a>
                        <h4 class="text-normal text-center">Microsoft Surface Book</h4>
                        <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                        <div class="mt-2">
                            <span class="mr-2">
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star color-warning"></i>
                                <i class="zmdi zmdi-star"></i>
                            </span>
                            <span class="ms-tag ms-tag-success">$ 2499.25</span>
                        </div>
                        <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div> <!-- container -->
</div>

<div class="container mt-6">
    <h1 class="text-center mb-4">Products</h1>
    <div class="row">
        <div class="col-md-12">
            <div class="card card-primary">
                <div class="card-header">
                    <h3 class="card-title">Filter List</h3>
                </div>
                <div class="card-block">
                    <div class="row">
                        <div class="col-md-8">
                            <form class="form-horizontal" id="Filters">
                                <div class="row">
                                    <div class="col-md-6">
                                        <fieldset>
                                            <h4 class="mb-1 no-mt">Devices</h4>
                                            <div class="form-group no-mt">
                                                <div class="checkbox ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".smartphone"> Smartphones
                                                    </label>
                                                </div>
                                                <div class="checkbox  ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".tablet"> Tablets
                                                    </label>
                                                </div>
                                                <div class="checkbox  ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".laptop"> Laptops
                                                    </label>
                                                </div>
                                                <div class="checkbox  ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".accessory"> Accesories
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                    <div class="col-md-6">
                                        <fieldset>
                                            <h4 class="mb-1">Brand</h4>
                                            <div class="form-group no-mt">
                                                <div class="checkbox  ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".apple"> Apple
                                                    </label>
                                                </div>
                                                <div class="checkbox  ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".microsoft"> Microsoft
                                                    </label>
                                                </div>
                                                <div class="checkbox  ml-2">
                                                    <label>
                                                        <input type="checkbox" value=".samsung"> Samsung
                                                    </label>
                                                </div>
                                            </div>
                                        </fieldset>
                                    </div>
                                </div>
                            </form>
                        </div>
                        <div class="col-md-4">
                            <form class="form-horizontal">
                                <h4>Sort by</h4>
                                <select id="SortSelect" class="form-control selectpicker">
                                    <option value="random">Popular</option>
                                    <option value="price:asc">Price ASC</option>
                                    <option value="price:desc">Price DESC</option>
                                    <option value="date:asc">Release ASC</option>
                                    <option value="date:desc">Release DESC</option>
                                </select>
                            </form>
                            <button class="btn btn-danger btn-block no-mb mt-2" id="Reset"><i class="zmdi zmdi-delete"></i> Clear Filters</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12">
            <div class="row" id="Container">
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix laptop apple" data-price="1999.99" data-date="20160901">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/macbook.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Macbook Pro 2015</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 1999.99</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix tablet apple" data-price="999.99" data-date="20160705">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/ipad.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">iPad Pro</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 999.99</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix accessory samsung" data-price="459.89" data-date="20160815">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/gear.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Galaxy Gear S3</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 459.89</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix accessory apple" data-price="769.99" data-date="20151014">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/appleWatch.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Apple Watch Serie 2</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 769.99</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix smartphone samsung" data-price="569.99" data-date="20151201">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/s7.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Samsung Galaxy S7</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 569.99</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix laptop microsoft" data-price="2499.25" data-date="20161205">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/surfaceBook.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Microsoft Surface Book</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 2499.25</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix smartphone apple" data-price="769.00" data-date="20160907">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/iphone7.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">iPhone 7 Plus</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 769.00</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix accessory samsung" data-price="819.00" data-date="20160725">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/vr.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Gear VR</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 2499.25</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix tablet microsoft" data-price="799.80" data-date="20151015">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/surface.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Surface Pro 4</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 799.80</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix accessory microsoft" data-price="79.95" data-date="20151015">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/xboxController.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Xbox One Controller</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 79.95</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix smartphone microsoft" data-price="298.99" data-date="20141015">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/lumia.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Lumia 950</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 298.99</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 mix tablet samsung" data-price="538.99" data-date="20151015">
                    <div class="card">
                        <div class="card-block text-center">
                            <a href="ecommerce-item.html"><img src="<%= assets %>/img/demo/products/galaxyTab.png" alt="" class="img-responsive center-block"></a>
                            <h4 class="text-normal text-center">Galaxy Tab S2</h4>
                            <p>Quibusdam aperiam tempora ut blanditiis cumque ab pariatur.</p>
                            <div class="mt-2">
                                <span class="mr-2">
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star color-warning"></i>
                                    <i class="zmdi zmdi-star"></i>
                                </span>
                                <span class="ms-tag ms-tag-success">$ 538.99</span>
                            </div>
                            <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block btn-raised mt-2 no-mb"><i class="zmdi zmdi-shopping-cart-plus"></i> Add to Cart</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/ecommerce.js"></script>

</body>
</html>
