<!-- build:include layout/header/head-revolution.html --><!-- /build -->

<!-- build:include:demo layout/header/configurator.html --><!-- /build -->
<!-- build:include:dist,navbar,demo layout/preload.html --><!-- /build -->

<div class="sb-site-container">
    <!-- build:include:dist,demo,dev layout/header/header.html --><!-- /build -->
    <!-- build:include layout/header/navbar.html --><!-- /build -->



	<div id="rev_slider_1058_1_wrapper" class="rev_slider_wrapper ms-hero-rev fullscreen-container" data-alias="agency" data-source="gallery" style="background-color:#222222;padding:0px;">
	<!-- START REVOLUTION SLIDER 5.3.0.2 fullscreen mode -->
	    <div id="rev_slider_1058_1" class="rev_slider fullscreenbanner" style="display:none;" data-version="5.3.0.2">
	<ul>    <!-- SLIDE  -->
	    <li data-index="rs-2971" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off"  data-easein="Power2.easeInOut" data-easeout="default" data-masterspeed="2000"  data-rotate="0"  data-saveperformance="off"  data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10="" data-description="">
	        <!-- MAIN IMAGE -->
	        <img src="<%= assets %>/plugins/revolution/assets/images/concept.jpg"  alt=""  data-bgposition="center center" data-kenburns="on" data-duration="30000" data-ease="Linear.easeNone" data-scalestart="140" data-scaleend="100" data-rotatestart="0" data-rotateend="0" data-offsetstart="0 0" data-offsetend="0 0" data-bgparallax="3" class="rev-slidebg" data-no-retina>
	        <!-- LAYERS -->

	        <!-- LAYER NR. 1 -->
	        <div class="tp-caption tp-shape tp-shapewrapper "
	             id="slide-2971-layer-1"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
	                        data-width="full"
	            data-height="full"
	            data-whitespace="nowrap"

	            data-type="shape"
	            data-basealign="slide"
	            data-responsive_offset="off"
	            data-responsive="off"
	            data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":0,"ease":"Power2.easeInOut"},{"delay":"wait","speed":500,"to":"opacity:0;","ease":"nothing"}]'
	            data-textAlign="['left','left','left','left']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 5;text-transform:left;background-color:rgba(51, 51, 51, 0.15);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

	        <!-- LAYER NR. 2 -->
	        <div class="tp-caption tp-shape tp-shapewrapper "
	             id="slide-2971-layer-19"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
	                        data-width="full"
	            data-height="full"
	            data-whitespace="nowrap"

	            data-type="shape"
	            data-basealign="slide"
	            data-responsive_offset="off"
	            data-responsive="off"
	            data-frames='[{"from":"opacity:0;","speed":2000,"to":"o:1;","delay":"bytrigger","ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":500,"to":"opacity:0;","ease":"nothing"}]'
	            data-textAlign="['left','left','left','left']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"
	            data-lasttriggerstate="reset"
	            style="z-index: 6;text-transform:left;background-color:rgba(0, 0, 0, 0.75);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

	        <!-- LAYER NR. 3 -->
	        <div class="tp-caption tp-shape tp-shapewrapper  tp-resizeme"
	             id="slide-2971-layer-6"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['-156','-156','-156','-156']"
	                        data-width="100"
	            data-height="2"
	            data-whitespace="nowrap"

	            data-type="shape"
	            data-responsive_offset="on"

	            data-frames='[{"from":"x:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
	            data-textAlign="['left','left','left','left']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 7;text-transform:left;background-color:rgba(255, 255, 255, 1.00);border-color:rgba(0, 0, 0, 0);border-width:0px;"> </div>

	        <!-- LAYER NR. 4 -->
	        <div class="tp-caption Agency-Title   tp-resizeme"
	             id="slide-2971-layer-2"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['-101','-101','-108','-107']"
	                        data-fontsize="['70','70','50','50']"
	            data-lineheight="['70','70','50','50']"
	            data-width="none"
	            data-height="none"
	            data-whitespace="nowrap"

	            data-type="text"
	            data-responsive_offset="on"

	            data-frames='[{"from":"y:[-100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;","mask":"x:0px;y:0px;","speed":2000,"to":"o:1;","delay":1250,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
	            data-textAlign="['left','left','left','left']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 8; white-space: nowrap;font-family:Lato;text-transform:left;">THE AGENCY </div>

	        <!-- LAYER NR. 5 -->
	        <div class="tp-caption Agency-SubTitle   tp-resizeme"
	             id="slide-2971-layer-4"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['-42','-41','-46','-45']"
	                        data-width="['none','none','480','360']"
	            data-height="none"
	            data-whitespace="['nowrap','nowrap','normal','normal']"

	            data-type="text"
	            data-responsive_offset="on"

	            data-frames='[{"from":"y:50px;opacity:0;","speed":2000,"to":"o:1;","delay":1500,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]'
	            data-textAlign="['center','center','center','center']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 9; white-space: nowrap;text-transform:left;font-style:italic;">We have been building picture perfect websites since 2010 </div>

	        <!-- LAYER NR. 6 -->
	        <div class="tp-caption Agency-PlayBtn rev-btn  tp-resizeme"
	             id="slide-2971-layer-17"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['51','53','38','39']"
	                        data-fontweight="['100','500','500','500']"
	            data-width="75"
	            data-height="none"
	            data-whitespace="nowrap"

	            data-type="button"
	            data-actions='[{"event":"mouseenter","action":"startlayer","layer":"slide-2971-layer-18","delay":""},{"event":"mouseleave","action":"stoplayer","layer":"slide-2971-layer-18","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"startlayer","layer":"slide-2971-layer-20","delay":"1000"},{"event":"click","action":"playvideo","layer":"slide-2971-layer-15","delay":"1000"}]'
	            data-responsive_offset="on"

	            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":2000,"to":"o:1;","delay":2000,"ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);bw:2px 2px 2px 2px;"}]'
	            data-textAlign="['center','center','center','center']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 10; min-width: 75px; max-width: 75px; white-space: nowrap; font-weight: 100;font-family:Lato;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="fa fa-play"></i> </div>

	        <!-- LAYER NR. 7 -->
	        <div class="tp-caption Agency-SmallText   tp-resizeme"
	             id="slide-2971-layer-18"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['114','116','102','102']"
	                        data-width="none"
	            data-height="none"
	            data-whitespace="nowrap"

	            data-type="text"
	            data-responsive_offset="on"

	            data-frames='[{"from":"y:[100%];z:0;rX:0deg;rY:0;rZ:0;sX:1;sY:1;skX:0;skY:0;opacity:0;","mask":"x:0px;y:0px;","speed":500,"to":"o:1;","delay":"bytrigger","split":"chars","splitdelay":0.05,"ease":"Power2.easeInOut"},{"delay":"bytrigger","speed":500,"to":"y:[-100%];","mask":"x:inherit;y:inherit;s:inherit;e:inherit;","ease":"nothing"}]'
	            data-textAlign="['left','left','left','left']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"
	            data-lasttriggerstate="reset"
	            style="z-index: 11; white-space: nowrap;font-family:Lato;text-transform:left;">PLAY VIDEO </div>

	        <!-- LAYER NR. 8 -->
	        <a class="tp-caption Agency-Social   tp-resizeme"
	 href="javascript:void(0)" target="_blank"             id="slide-2971-layer-10"
	             data-x="['center','center','center','center']" data-hoffset="['-30','-30','-30','-30']"
	             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']"
	                        data-width="50"
	            data-height="50"
	            data-whitespace="normal"

	            data-type="text"
	            data-actions=''
	            data-basealign="slide"
	            data-responsive_offset="on"

	            data-frames='[{"from":"y:50px;rZ:60deg;opacity:0;","speed":1500,"to":"o:1;","delay":3000,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"400","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:360;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bw:2px 2px 2px 2px;"}]'
	            data-textAlign="['center','center','center','center']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 12; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: normal;text-transform:left;cursor:pointer;"><i class="fa fa-facebook"></i> </a>

	        <!-- LAYER NR. 9 -->
	        <a class="tp-caption Agency-Social   tp-resizeme"
	 href="javascript:void(0)" target="_blank"           id="slide-2971-layer-11"
	             data-x="['center','center','center','center']" data-hoffset="['30','30','30','30']"
	             data-y="['bottom','bottom','bottom','bottom']" data-voffset="['30','30','30','30']"
	                        data-width="50"
	            data-height="50"
	            data-whitespace="normal"

	            data-type="text"
	            data-actions=''
	            data-basealign="slide"
	            data-responsive_offset="on"

	            data-frames='[{"from":"y:50px;rZ:60deg;opacity:0;","speed":1500,"to":"o:1;","delay":3250,"ease":"Power2.easeInOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"},{"frame":"hover","speed":"400","ease":"Power1.easeInOut","to":"o:1;rX:0;rY:0;rZ:360;z:0;","style":"c:rgba(255, 255, 255, 1.00);bg:rgba(51, 51, 51, 1.00);bw:2px 2px 2px 2px;"}]'
	            data-textAlign="['center','center','center','center']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"

	            style="z-index: 13; min-width: 50px; max-width: 50px; max-width: 50px; max-width: 50px; white-space: normal;text-transform:left;cursor:pointer;"><i class="fa fa-twitter"></i> </a>

	        <!-- LAYER NR. 10 -->
	        <div class="tp-caption   tp-resizeme tp-videolayer"
	             id="slide-2971-layer-15"
	             data-x="['center','center','center','center']" data-hoffset="['0','0','0','0']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['0','0','0','0']"
	                        data-whitespace="nowrap"

	            data-type="video"
	            data-responsive_offset="on"

	            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:0;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":300,"to":"auto:auto;","ease":"nothing"}]'
	 data-vimeoid="142874198" data-videoattributes="title=0&byline=0&portrait=0&api=1" data-videowidth="['960px','720px','480px','360px']" data-videoheight="['540px','405px','270px','203px']" data-videoloop="none"           data-textAlign="['left','left','left','left']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"
	            data-lasttriggerstate="reset"           data-autoplay="off"
	            data-volume="100"
	            style="z-index: 14;text-transform:left;border-width:0px;"> </div>

	        <!-- LAYER NR. 11 -->
	        <div class="tp-caption Agency-CloseBtn rev-btn "
	             id="slide-2971-layer-20"
	             data-x="['center','center','center','center']" data-hoffset="['510','389','270','199']"
	             data-y="['middle','middle','middle','middle']" data-voffset="['-298','-229','-163','-118']"
	                        data-width="50"
	            data-height="none"
	            data-whitespace="nowrap"

	            data-type="button"
	            data-actions='[{"event":"click","action":"stoplayer","layer":"slide-2971-layer-15","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-19","delay":""},{"event":"click","action":"stoplayer","layer":"slide-2971-layer-20","delay":""}]'
	            data-responsive_offset="on"
	            data-responsive="off"
	            data-frames='[{"from":"z:0;rX:0;rY:0;rZ:45deg;sX:0.9;sY:0.9;skX:0;skY:0;opacity:0;","speed":500,"to":"o:1;","delay":"bytrigger","ease":"Power3.easeInOut"},{"delay":"bytrigger","speed":500,"to":"auto:auto;","ease":"nothing"},{"frame":"hover","speed":"500","ease":"Power1.easeInOut","to":"o:1;sX:1.1;sY:1.1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(255, 255, 255, 1.00);"}]'
	            data-textAlign="['center','center','center','center']"
	            data-paddingtop="[0,0,0,0]"
	            data-paddingright="[0,0,0,0]"
	            data-paddingbottom="[0,0,0,0]"
	            data-paddingleft="[0,0,0,0]"
	            data-lasttriggerstate="reset"
	            style="z-index: 15; min-width: 50px; max-width: 50px; white-space: nowrap;text-transform:left;outline:none;box-shadow:none;box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;cursor:pointer;"><i class="pe-7s-close"></i> </div>
	    </li>
	</ul>
	<div class="tp-bannertimer tp-bottom" style="visibility: hidden !important;"></div> </div>
	</div><!-- END REVOLUTION SLIDER -->

	<div class="container">
	    <section class="mb-4">
	        <h2 class="text-center no-mt mb-6 wow fadeInUp">Our Services</h2>
	        <div class="row">
	            <div class="col-md-4 col-sm-6 mb-2">
	                <div class="ms-icon-feature wow flipInX animation-delay-4">
	                    <div class="ms-icon-feature-icon">
	                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-cloud"></i></span>
	                    </div>
	                    <div class="ms-icon-feature-content">
	                        <h4 class="color-primary">Cloud Computing</h4>
	                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-sm-6 mb-2">
	                <div class="ms-icon-feature wow flipInX animation-delay-4">
	                    <div class="ms-icon-feature-icon">
	                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-desktop"></i></span>
	                    </div>
	                    <div class="ms-icon-feature-content">
	                        <h4 class="color-primary">Web Design and SEO</h4>
	                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-sm-6 mb-2">
	                <div class="ms-icon-feature wow flipInX animation-delay-4">
	                    <div class="ms-icon-feature-icon">
	                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-tablet"></i></span>
	                    </div>
	                    <div class="ms-icon-feature-content">
	                        <h4 class="color-primary">Mobile and Tablet Apps</h4>
	                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-sm-6 mb-2">
	                <div class="ms-icon-feature wow flipInX animation-delay-4">
	                    <div class="ms-icon-feature-icon">
	                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-wordpress"></i></span>
	                    </div>
	                    <div class="ms-icon-feature-content">
	                        <h4 class="color-primary">Wordpress Themes</h4>
	                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-sm-6 mb-2">
	                <div class="ms-icon-feature wow flipInX animation-delay-4">
	                    <div class="ms-icon-feature-icon">
	                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-graduation-cap"></i></span>
	                    </div>
	                    <div class="ms-icon-feature-content">
	                        <h4 class="color-primary">Training and development</h4>
	                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
	                    </div>
	                </div>
	            </div>
	            <div class="col-md-4 col-sm-6 mb-2">
	                <div class="ms-icon-feature wow flipInX animation-delay-4">
	                    <div class="ms-icon-feature-icon">
	                        <span class="ms-icon ms-icon-lg ms-icon-inverse"><i class="fa fa-send"></i></span>
	                    </div>
	                    <div class="ms-icon-feature-content">
	                        <h4 class="color-primary">Customer service</h4>
	                        <p>Praesentium cumque voluptate harum quae doloribus, atque error debitis, amet velit in similique, necessitatibus odit vero sunt.</p>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </section>
	</div> <!-- container -->

	<div class="wrap ms-hero-bg-info ms-hero-img-team ms-bg-fixed">
	    <div class="container">
	        <h1 class="color-white text-center mb-4">Some numerical data</h1>
	        <div class="row">
	            <div class="col-lg-3 col-md-6 col-sm-6">
	                <div class="card card-royal-inverse card-block text-center wow zoomInUp animation-delay-2">
	                    <h2 class="counter">450</h2>
	                    <i class="fa fa-4x fa-coffee color-white"></i>
	                    <p class="mt-2 no-mb lead small-caps">cups of coffee</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-sm-6">
	                <div class="card card-success-inverse card-block text-center wow zoomInUp animation-delay-5">
	                    <h2 class="counter">64</h2>
	                    <i class="fa fa-4x fa-briefcase color-white"></i>
	                    <p class="mt-2 no-mb lead small-caps">projects done</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-sm-6">
	                <div class="card card-danger-inverse card-block text-center wow zoomInUp animation-delay-4">
	                    <h2 class="counter">600</h2>
	                    <i class="fa fa-4x fa-comments-o color-white"></i>
	                    <p class="mt-2 no-mb lead small-caps">comments</p>
	                </div>
	            </div>
	            <div class="col-lg-3 col-md-6 col-sm-6">
	                <div class="card card-warning-inverse card-block text-center wow zoomInUp animation-delay-3">
	                    <h2 class="counter">3500</h2>
	                    <i class="fa fa-4x fa-group color-white"></i>
	                    <p class="mt-2 no-mb lead small-caps">happy clients</p>
	                </div>
	            </div>
	        </div>
	        <div class="text-center color-white mw-800 center-block mt-4">
	            <p class="lead lead-lg">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and knowledge. We are backed by 20 years of research.</p>
	            <a href="javascript:void(0)" class="btn btn-raised btn-white color-primary wow flipInX animation-delay-8"><i class="fa fa-space-shuttle"></i> I have a project</a>
	        </div>
	    </div>
	</div>

	<div class="container mt-6">
	    <div class="text-center mb-4">
	        <h2>Knows the <span class="text-normal">Material Style</span> and surprise yourself</h2>
	    </div>
	    <div class="row">
	        <div class="col-md-6">
	            <h3 class="color-primary wow fadeInUp animation-delay-2">Description</h3>
	            <p class="wow fadeInUp animation-delay-3">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
	            <p class="wow fadeInUp animation-delay-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus <a href="#">quibusdam odio eius eligendi</a> tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
	        </div>
	        <div class="col-md-6">
	            <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
	                <div class="panel panel-primary wow fadeInUp animation-delay-2">
	                    <div class="panel-heading" role="tab" id="headingOne2">
	                        <h4 class="panel-title">
	                            <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
	                                <i class="fa fa-lightbulb-o"></i> Talent and creativity
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
	                        <div class="panel-body in">
	                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam.</p>
	                            <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-primary wow fadeInUp animation-delay-5">
	                    <div class="panel-heading" role="tab" id="headingTwo2">
	                        <h4 class="panel-title">
	                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
	                                <i class="fa fa-desktop"></i> Design and code
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
	                        <div class="panel-body">
	                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus.</p>
	                            <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam.</p>
	                        </div>
	                    </div>
	                </div>
	                <div class="panel panel-primary wow fadeInUp animation-delay-7">
	                    <div class="panel-heading" role="tab" id="headingThree3">
	                        <h4 class="panel-title">
	                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
	                                <i class="fa fa-user"></i> Quality and Support
	                            </a>
	                        </h4>
	                    </div>
	                    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
	                        <div class="panel-body">
	                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates.</p>
	                            <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto.</p>
	                        </div>
	                    </div>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> <!-- container -->

	<div class="container mt-6">
		<div class="card card-block card-block-big">
			<h2 class="text-center mb-4">Portfolio</h2>
            <div class="mw-800 center-block mb-4">
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                    <li role="presentation" class="active filter" data-filter="all"><a class="withoutripple" href="#home7" aria-controls="home7" role="tab" data-toggle="tab"><i class="zmdi zmdi-desktop-mac"></i> <span class="hidden-xs">All</span></a></li>
                    <li role="presentation" class="filter" data-filter=".category-1"><a class="withoutripple" href="#profile7" aria-controls="profile7" role="tab" data-toggle="tab"><i class="zmdi zmdi-language-html5"></i> <span class="hidden-xs">HTML</span></a></li>
                    <li role="presentation" class="filter" data-filter=".category-2"><a class="withoutripple" href="#messages7" aria-controls="messages7" role="tab" data-toggle="tab"><i class="fa fa-wordpress"></i> <span class="hidden-xs">Wordpress</span></a></li>
                    <li role="presentation" class="filter" data-filter=".category-3"><a class="withoutripple" href="#settings7" aria-controls="settings7" role="tab" data-toggle="tab"><i class="zmdi zmdi-language-javascript"></i> <span class="hidden-xs">Angular JS</span></a></li>
                </ul>
            </div>
            <div class="row" id="Container">
                <div class="col-md-4 col-sm-6 mix category-1 category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port3.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port5.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port8.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port10.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port12.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->
            </div>
		</div>
	</div>

	<div class="container mt-6">
	    <div class="text-center color-white mb-4 text-center">
	        <h1 class="color-primary">Our Team</h1>
	        <p class="lead lead-lg color-medium text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">These are <span class="text-normal">the professionals</span> who, every day, make progress <span class="text-normal">the projects of our clients</span>.</p>
	    </div>
	    <div class="row">
	        <div class="col-md-4 col-sm-6">
	            <div class="card card-royal wow zoomInUp animation-delay-7">
	                <div class="ms-hero-bg-royal ms-hero-img-city">
	                    <img src="<%= assets %>/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
	                </div>
	                <div class="card-block pt-6 text-center">
	                    <h3 class="color-royal">Sophie Marks</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
	                </div>
	            </div>
	        </div>

	        <div class="col-md-4 col-sm-6">
	            <div class="card card-success wow zoomInUp animation-delay-7">
	                <div class="ms-hero-bg-success ms-hero-img-city">
	                    <img src="<%= assets %>/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
	                </div>
	                <div class="card-block pt-6 text-center">
	                    <h3 class="color-success">Cris Polner</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
	                </div>
	            </div>
	        </div>

	        <div class="col-md-4 col-sm-6">
	            <div class="card card-primary wow zoomInUp animation-delay-7">
	                <div class="ms-hero-bg-primary ms-hero-img-city">
	                    <img src="<%= assets %>/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
	                </div>
	                <div class="card-block pt-6 text-center">
	                    <h3 class="color-primary">Julia Robert</h3>
	                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
	                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
	                </div>
	            </div>
	        </div>
	    </div>
	</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts-revolution.html --><!-- /build -->

	<script type="text/javascript">
		$(function(){
			$('#Container').mixItUp();
		});

		var tpj=jQuery;
		var revapi1058;
		tpj(document).ready(function() {
			if(tpj("#rev_slider_1058_1").revolution == undefined){
				revslider_showDoubleJqueryError("#rev_slider_1058_1");
			}else{
				revapi1058 = tpj("#rev_slider_1058_1").show().revolution({
					sliderType:"hero",
					jsFileLocation:"<%= assets %>/plugins/revolution/revolution/js/",
					sliderLayout:"fullscreen",
					dottedOverlay:"none",
					delay:9000,
					navigation: {
					},
					responsiveLevels:[1240,1024,778,480],
					visibilityLevels:[1240,1024,778,480],
					gridwidth:[1240,1024,778,480],
					gridheight:[868,768,960,720],
					lazyType:"none",
					parallax: {
						type:"scroll",
						origo:"slidercenter",
						speed:1000,
						levels:[5,10,15,20,25,30,35,40,45,46,47,48,49,50,51,55],
						type:"scroll",
					},
					shadow:0,
					spinner:"spinner2",
					autoHeight:"off",
					fullScreenAutoWidth:"off",
					fullScreenAlignForce:"off",
					fullScreenOffsetContainer: "",
					fullScreenOffset: "100",
					disableProgressBar:"on",
					hideThumbsOnMobile:"off",
					hideSliderAtLimit:0,
					hideCaptionAtLimit:0,
					hideAllCaptionAtLilmit:0,
					debugMode:false,
					fallbacks: {
						simplifyAll:"off",
						disableFocusListener:false,
					}
				});
			}
		}); /*ready*/
	</script>

</body>
</html>
