<!-- build:include layout/header.html --><!-- /build -->

<div class="container">
    <div class="row">
        <div class="col-md-8 mb-4">
            <div id="carousel-home-blog" class="carousel ms-carousel slide card" data-ride="carousel">
                <!-- Indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#carousel-home-blog" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel-home-blog" data-slide-to="1"></li>
                    <li data-target="#carousel-home-blog" data-slide-to="2"></li>
                </ol>

                <!-- Wrapper for slides -->
                <div class="carousel-inner" role="listbox">
                    <div class="item active">
                        <img src="<%= assets %>/img/demo/post1.jpg" class="img-responsive" alt="...">
                        <div class="carousel-caption-blog">
                            <h2 class="color-primary">Lorem ipsum dolor sit amet</h2>
                            <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perspiciatis, odit, ipsam ullam officia sint incidunt quam totam quisquam autem beatae alias cumque magnam animi nulla sequi obcaecati eius eligendi iure nostrum ab cum dolor tempora totam necessitatibus iusto.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="<%= assets %>/img/demo/post3.jpg" class="img-responsive" alt="...">
                        <div class="carousel-caption-blog">
                            <h2 class="color-primary">Nostrum ab cum dolor tempora totam</h2>
                            <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perspiciatis, odit, ipsam ullam officia sint incidunt quam totam quisquam autem beatae alias cumque magnam animi nulla sequi obcaecati eius eligendi iure nostrum ab cum dolor tempora totam necessitatibus iusto.</p>
                        </div>
                    </div>
                    <div class="item">
                        <img src="<%= assets %>/img/demo/post5.jpg" class="img-responsive" alt="...">
                        <div class="carousel-caption-blog">
                            <h2 class="color-primary">Cumque magnam animi nulla sequi obcaecati</h2>
                            <p class="hidden-xs">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Corporis perspiciatis, odit, ipsam ullam officia sint incidunt quam totam quisquam autem beatae alias cumque magnam animi nulla sequi obcaecati eius eligendi iure nostrum ab cum dolor tempora totam necessitatibus iusto.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card">
                        <img src="<%= assets %>/img/demo/office3.jpg" alt="" class="img-responsive">
                        <div class="card-block">
                            <h4 class="strong"><a href="#">Velit obcaecati harum consequuntur veritatis excepturi aliquid ullam</a></h4>
                            <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illum, odio repellat excepturi veritatis, quidem, labore quae sint delectus tenetur et mollitia officia pariatur at vitae harum consequuntur tempore iure.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="card">
                        <img src="<%= assets %>/img/demo/office2.jpg" alt="" class="img-responsive">
                        <div class="card-block">
                            <h4 class="strong"><a href="#">Voluptatum odio adipisicing elit quia minima ad fuga</a></h4>
                            <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non illum, odio repellat excepturi veritatis, quidem, labore quae sint delectus tenetur et mollitia officia pariatur at vitae harum consequuntur tempore iure.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="row">
                <div class="col-md-12 col-sm-4">
                    <div class="home-news-box">
                        <h4 class="no-m"><a href="#">Lorem ipsum dolor sit amet elit labore quae sint delectus tenetur</a></h4>
                        <small><a href="#">Jack Nylon</a> | January 20, 2014</small>
                        <div class="card">
                            <div data-type="youtube" data-video-id="9ZfN87gSjvI"></div>
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-4">
                    <div class="home-news-box">
                        <h4 class="no-m"><a href="#">Velit obcaecati veritatis excepturi aliquid repellat odio ullam</a></h4>
                        <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                        <div class="card">
                            <img src="assets/img/demo/office4.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
                <div class="col-md-12 col-sm-4">
                    <div class="home-news-box">
                        <h4 class="no-m"><a href="#">Quia nesciunt deleniti veniam in a blanditis odio repellat excepturi</a></h4>
                        <small><a href="#">Rick Watt</a> | March 12, 2014</small>
                        <div class="card">
                            <img src="assets/img/demo/office1.jpg" alt="" class="img-responsive">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-2">
        <div class="col-md-12">
            <h2 class="right-line no-margin-bottom">Browse by Topic</h2>
        </div>
        <div class="col-md-4">
            <h3>Category Name</h3>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Category Name</h3>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Category Name</h3>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
            <div class="media">
                <a class="pull-left" href="#">
                    <img class="media-object" src="holder.js/100x100?theme=social" alt="...">
                </a>
                <div class="media-body">
                    <h4 class="media-heading color-primary">Media heading</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Itaque, dolor vitae praesentiu.</p>
                </div>
            </div>
        </div>
    </div> <!-- row -->

    <div class="row mt-6">
        <div class="col-md-8">
            <h2 class="right-line">Latest Images</h2>
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card wow fadeInUp">
                        <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                            <img src="<%= assets %>/img/demo/port20.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card wow fadeInUp">
                        <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                            <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card wow fadeInUp">
                        <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                            <img src="<%= assets %>/img/demo/port13.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card wow fadeInUp">
                        <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                            <img src="<%= assets %>/img/demo/port16.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card wow fadeInUp">
                        <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                            <img src="<%= assets %>/img/demo/port8.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-2">
                    <div class="card wow fadeInUp">
                        <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                            <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h2 class="right-line">Write by</h2>
            <div class="card card-info wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-info ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-info">Charlie Durant</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
