<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-bg-fixed ms-hero-img-beach ms-hero-bg-warning mb-6">
    <div class="container">
        <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Blog</h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 fw-300 animated fadeInUp animation-delay-7">Follow our blog and discover the latest content and trends in the market. In addition you will discover the best <span class="colorStar">tricks</span> and <span class="colorStar">discounts</span>.</p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 col-md-push-4">
            <div class="row masonry-container">
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-info mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/post1.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-royal mb-4 wow materialUp animation-delay-5">
                        <div data-type="vimeo" data-video-id="187935649"></div>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-royal">Resources</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-success mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/p3.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-success">Multimedia</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card mb-4 wow materialUp animation-delay-5">
                        <div data-type="youtube" data-video-id="bTqVqk7FSmY"></div>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-danger mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/post5.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-danger">Productivity</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-info mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/post4.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-info mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/post2.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-info mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/p2.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-danger mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/post3.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-danger">Productivity</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-royal mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/p5.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-royal">Resources</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-success mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/p4.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-success">Multimedia</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
                <div class="col-sm-6 masonry-item wow fadeInUp animation-delay-2">
                    <article class="card card-info mb-4 wow materialUp animation-delay-5">
                        <figure class="ms-thumbnail ms-thumbnail-left">
                            <img src="<%= assets %>/img/demo/post1.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                    <div class="mt-2">
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                        <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-sm ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                    </div>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block">
                            <h2><a href=javascript:void(0)>Lorem ipsum Minim in nulla labore sint</a></h2>
                            <p>Sed ut perspiciatis unde omnis iste natus error nesciunt voluptas sit voluptatem accusantium doloremque laudantium eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo.</p>

                            <div class="row">
                                <div class="col-lg-6 col-md-4">
                                    <div class="mt-05">
                                        <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-8">
                                    <a href="javascript:void(0)" class="btn btn-primary btn-sm btn-block animate-icon">Read more <i class="ml-1 no-mr zmdi zmdi-long-arrow-right"></i></a>
                                </div>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-md-pull-8">
            <div class="card card-info animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-play-circle-outline"></i> Feature Video</h3>
                </div>
                <div data-type="vimeo" data-video-id="187935649"></div>
            </div>

            <div class="card animated fadeInUp animation-delay-7">
                <div class="ms-hero-bg-royal ms-hero-img-coffee">
                    <h3 class="color-white index-1 text-center no-m pt-4">Victoria Smith</h3>
                    <div class="color-medium index-1 text-center np-m">@vic_smith</div>
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h3 class="color-primary">About me</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
            <div class="card card-primary animated fadeInUp animation-delay-7">
                <div class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-apps"></i> Navigation</h3>
                </div>
                <div class="card-tabs">
                    <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                        <li role="presentation" class="active"><a href="#favorite" aria-controls="favorite" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-star"></i></a></li>
                        <li role="presentation"><a href="#categories" aria-controls="categories" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-folder"></i></a></li>
                        <li role="presentation"><a href="#archives" aria-controls="archives" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-time"></i></a></li>
                        <li role="presentation"><a href="#tags" aria-controls="tags" role="tab" data-toggle="tab" class="withoutripple"><i class="no-mr zmdi zmdi-tag-more"></i></a></li>
                    </ul>
                </div>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="favorite">
                        <div class="card-block">
                            <div class="ms-media-list">
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">Lorem ipsum dolor sit amet in consectetur adipisicing</a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-success mr-05"></i> <a href="javascript:void(0)">Design</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">Nemo enim ipsam voluptatem quia voluptas sit aspernatur</a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-danger mr-05"></i> <a href="javascript:void(0)">Productivity</a></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="media">
                                    <div class="media-left media-middle">
                                        <a href="#">
                                            <img class="media-object media-object-circle" src="<%= assets %>/img/demo/p75.jpg" alt="...">
                                        </a>
                                    </div>
                                    <div class="media-body">
                                        <a href="javascript:void(0)" class="media-heading">inventore veritatis et vitae quasi architecto beatae </a>
                                        <div class="media-footer text-small">
                                            <span class="mr-1"><i class="zmdi zmdi-time color-info mr-05"></i> August 18, 2016</span>
                                            <span><i class="zmdi zmdi-folder-outline color-royal-light mr-05"></i> <a href="javascript:void(0)">Resources</a></span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="categories">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-info zmdi zmdi-cocktail"></i>Design <span class="badge badge-info">25</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-warning zmdi zmdi-collection-image"></i> Graphics <span class="badge badge-warning">14</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-danger zmdi zmdi-case-check"></i> Productivity <span class="badge badge-danger">7</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-royal zmdi zmdi-folder-star-alt"></i>Resources <span class="badge badge-royal">67</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class=" color-success zmdi zmdi-play-circle-outline"></i>Multimedia <span class="badge badge-success">32</span></a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="archives">
                        <div class="list-group">
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> January 2016 <span class="badge">25</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> February 2016 <span class="badge">14</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> March 2016 <span class="badge">9</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> April 2016 <span class="badge">12</span></a>
                            <a href="javascript:void(0)" class="list-group-item withripple"><i class="zmdi zmdi-calendar"></i> June 2016 <span class="badge">65</span></a>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tags">
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Design</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Productivity</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Web</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Resources</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Multimedia</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">HTML5</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">CSS3</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Javascript</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Jquery</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Bootstrap</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Angular</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Gulp</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Atom</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Fonts</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Pictures</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Developers</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Code</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">SASS</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-primary">Less</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
