<!-- build:include layout/header.html --><!-- /build -->

<header class="ms-hero-page-override ms-hero-img-meeting ms-hero-bg-dark ms-bg-fixed">
    <div class="container">
        <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Material Style</span></h1>
            <p class="lead lead-lg color-white text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Discover our projects and the <span class="color-warning">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.</p>
        </div>
    </div>
</header>

<div class="wrap ms-hero-img-coffee ms-hero-bg-warning ms-bg-fixed">
    <div class="container">
        <div class="row card-hero no-shadow">
            <div class="col-md-3">
                <div class="card card-info animated zoomInUp animation-delay-5">
                    <div class="bg-info">
                        <img src="<%= assets %>/img/demo/m1.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-info">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-danger animated zoomInUp animation-delay-6">
                    <div class="bg-danger">
                        <img src="<%= assets %>/img/demo/m2.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-danger">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-warning animated zoomInUp animation-delay-7">
                    <div class="bg-warning">
                        <img src="<%= assets %>/img/demo/m3.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-warning">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-success animated zoomInUp animation-delay-8">
                    <div class="bg-success">
                        <img src="<%= assets %>/img/demo/m4.png" alt="..." class="img-avatar-circle">
                    </div>
                    <div class="card-block pt-4 text-center">
                        <h4 class="color-success">A Feature Title</h4>
                        <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                        <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Action here</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="wrap bg-info color-dark">
    <div class="container">
        <h2 class="text-center color-white mb-4">Our Latest Works</h2>
        <div class="owl-dots owl-dots-white"></div>
        <div class="owl-carousel owl-theme">
            <div class="card animation-delay-6">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port4.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="color-primary">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-primary btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card card-warning-inverse animation-delay-8">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port24.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-white color-warning btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card animation-delay-10">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port7.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="color-primary">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-primary btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card animation-delay-6">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port8.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="color-primary">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-primary btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card card-warning-inverse animation-delay-8">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port9.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-white color-warning btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card animation-delay-10">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port5.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="color-primary">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-primary btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card animation-delay-6">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port11.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="color-primary">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-primary btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card card-warning-inverse animation-delay-8">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port3.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-white color-warning btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
            <div class="card animation-delay-10">
                <div class="withripple zoom-img">
                    <a href="javascript:void()"><img src="<%= assets %>/img/demo/port14.jpg" alt="..." class="img-responsive"></a>
                </div>
                <div class="card-block">
                    <h3 class="color-primary">Thumbnail label</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Autem, repellat, vitae porro ex expedita cumque nulla.</p>
                    <p class="text-right">
                        <a href="javascript:void()" class="btn btn-primary btn-raised text-right" role="button"><i class="zmdi zmdi-collection-image-o"></i> View More</a>
                    </p>
                </div>
            </div>
        </div>
        <div class="text-center mt-4">
            <p class="lead lead-lg color-white text-center center-block mt-6 mw-800 text-uppercase fw-300 mb-2">If you have questions or need a personalized plan, contact us and we will study your project and offer a customized solution.</p>
            <a href="javascript:void(0)" class="btn btn-white btn-xlg btn-raised color-info"><i class="zmdi zmdi-desktop-windows"></i> View Portfolio</a>
        </div>
    </div> <!-- container -->
</div>

<div class="container mt-6">
    <h2 class="right-line">About Us</h2>
    <div class="row">
        <div class="col-md-6">
            <h3 class="color-primary">Description</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus quibusdam odio eius eligendi tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
        </div>
        <div class="col-md-6">
            <h3 class="color-primary">Knowledge</h3>
            <div class="progress progress-lg animated fadeInUp animation-delay-6">
                <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100" style="width: 100%;">
                    HTML 5 &amp; CSS 3
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-8">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    Javascript &amp; Jquery
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-10">
                <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%">
                    PHP 5 &amp; MYSQL 5
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-12">
                <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: 75%">
                    C/C++
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-14">
                <div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%">
                    Python
                </div>
            </div>
            <div class="progress progress-lg animated fadeInUp animation-delay-16">
                <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%">
                    Node.js
                </div>
            </div>
        </div>
    </div>
</div>

<section class="wrap bg-primary mt-6">
    <div class="container">
        <div class="row">
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-1"></div>
                    <h4 class="text-center">HTML 5</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-2"></div>
                    <h4 class="text-center">CSS 3</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-3"></div>
                    <h4 class="text-center">Jquery</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
            <div class="col-sm-6 col-md-3">
                <div class="text-center">
                    <div class="circle" id="circles-4"></div>
                    <h4 class="text-center">Bootstrap 3</h4>
                    <p class="small-font">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="container mt-6">
    <div class="text-center color-white mb-4 text-center">
        <h1 class="color-primary">Our Team</h1>
        <p class="lead lead-lg color-danger text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">These are <span class="text-normal">the professionals</span> who, every day, make progress <span class="text-normal">the projects of our clients</span>.</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card card-royal wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-royal ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-royal">Sophie Marks</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card card-success wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-success ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-success">Cris Polner</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card card-primary wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-primary ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-primary">Julia Robert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/home-generic-5.js"></script>

</body>
</html>
