<!-- build:include layout/header.html --><!-- /build -->

<header class="wrap wrap-mountain mt--40">
    <div class="container">
        <div class="row">
            <div class="col-md-7 pr-6">
                <h1 class="animated fadeInDown animation-delay-5 color-white">A single template, infinite possibilities</h1>
                <p class="lead animated fadeInDown animation-delay-5 color-white">We give you everything done, except the coffee.</p>
                <div class="card card-block card-warning card-dark-inverse animated fadeInLeft animation-delay-5">
                    <div class="media">
                        <div class="media-left hidden-xs media-middle pr-4">
                            <i class="zmdi zmdi-account zmdi-hc-5x color-warning"></i>
                        </div>
                        <div class="media-body no-mt">
                            <h3 class="color-warning no-mt">Lorem ipsum dolor sit.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptatibus atque minima provident obcaecati eaque.</p>
                        </div>
                    </div>
                </div>
                <div class="card card-block card-success card-dark-inverse animated fadeInLeft animation-delay-7">
                    <div class="media">
                        <div class="media-left hidden-xs media-middle pr-4">
                            <i class="zmdi zmdi-desktop-mac zmdi-hc-5x color-success"></i>
                        </div>
                        <div class="media-body no-mt">
                            <h3 class="color-success no-mt">Lorem ipsum dolor sit.</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis voluptatibus atque minima provident obcaecati eaque.</p>
                        </div>
                    </div>
                </div>
                <div class="text-center mt-4">
                    <a href="javascript:void(0);" class="btn btn-xlg btn-white color-warning btn-raised animated fadeInLeft animation-delay-14 mr-2"><i class="zmdi zmdi-settings"></i> Personalize</a>
                    <a href="javascript:void(0);" class="btn btn-xlg btn-white color-success btn-raised animated fadeInRight animation-delay-14"><i class="zmdi zmdi-download"></i> Download</a>
                </div>
            </div>
            <div class="col-md-5 text-center mt-6">
                <div class="img-phone-container">
                    <img class="img-responsive animated zoomInDown animation-delay-3 index-1" src="<%= assets %>/img/demo/pixel1.png">
                    <img class="img-responsive img-phone-left" src="<%= assets %>/img/demo/pixel3.png">
                    <img class="img-responsive img-phone-right" src="<%= assets %>/img/demo/pixel2.png">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mt-6">
    <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
    <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Lorem ipsum dolor sit amet, <span class="color-primary">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
    <div class="row">
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-warning-inverse wow fadeInLeft animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg "><i class="zmdi zmdi-desktop-mac"></i></span>
                    <h4 class="">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="javascript:void(0)" class="btn btn-white color-warning btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-royal-inverse wow fadeInLeft animation-delay-3">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg "><i class="zmdi zmdi-download"></i></span>
                    <h4 class="">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="javascript:void(0)" class="btn btn-white color-royal btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-success-inverse wow fadeInRight animation-delay-3">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg "><i class="zmdi zmdi-cloud-outline"></i></span>
                    <h4 class="">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="javascript:void(0)" class="btn btn-white color-success btn-raised">Action here</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-danger-inverse wow fadeInRight animation-delay-4">
                <div class="text-center card-block">
                    <span class="ms-icon ms-icon-circle ms-icon-white ms-icon-inverse ms-icon-xxlg "><i class="zmdi zmdi-flower"></i></span>
                    <h4 class="">A feature title</h4>
                    <p class="">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                    <a href="javascript:void(0)" class="btn btn-white color-danger btn-raised">Action here</a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<div class="container mt-6">
    <div class="text-center mb-4">
        <h2>Knows the <span class="text-normal">Material Style</span> and surprise yourself</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="color-primary wow fadeInUp animation-delay-2">Description</h3>
            <p class="wow fadeInUp animation-delay-3">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
            <p class="wow fadeInUp animation-delay-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus <a href="#">quibusdam odio eius eligendi</a> tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
        </div>
        <div class="col-md-6">
            <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary wow fadeInUp animation-delay-2">
                    <div class="panel-heading" role="tab" id="headingOne2">
                        <h4 class="panel-title">
                            <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                <i class="fa fa-lightbulb-o"></i> Talent and creativity
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body in">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam.</p>
                            <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary wow fadeInUp animation-delay-5">
                    <div class="panel-heading" role="tab" id="headingTwo2">
                        <h4 class="panel-title">
                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <i class="fa fa-desktop"></i> Design and code
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus.</p>
                            <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary wow fadeInUp animation-delay-7">
                    <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                <i class="fa fa-user"></i> Quality and Support
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates.</p>
                            <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<div class="wrap ms-hero-bg-dark ms-hero-img-keyboard ms-bg-fixed mt-6">
    <div class="container index-1">
        <div class="text-center color-white mb-4 mw-800 center-block">
            <h1>Latest Works</h1>
            <p class="lead color-medium">Discover our projects and the rigorous process of creation. Our principles are creativity, design, experience and <span class="color-white">knowledge</span>. We are backed by 20 years of research.</p>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                        <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                        <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                        <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                        <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                        <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="ms-thumbnail-container wow fadeInUp">
                    <figure class="ms-thumbnail ms-thumbnail-top ms-thumbnail-info">
                        <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                        <figcaption class="ms-thumbnail-caption text-center">
                            <div class="ms-thumbnail-caption-content">
                                <h3 class="ms-thumbnail-caption-title">Lorem ipsum dolor sit</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                <a href="javascript:void(0)" class="btn btn-raised btn-danger"><i class="zmdi zmdi-eye"></i> View more</a>
                            </div>
                        </figcaption>
                    </figure>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-6">
    <div class="text-center color-white mb-4 text-center">
        <h1 class="color-primary">Our Team</h1>
        <p class="lead lead-lg color-danger text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">These are <span class="text-normal">the professionals</span> who, every day, make progress <span class="text-normal">the projects of our clients</span>.</p>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card card-royal wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-royal ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-royal">Sophie Marks</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card card-success wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-success ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-success">Cris Polner</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card card-primary wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-primary ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-primary">Julia Robert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->


<!-- build:include layout/footer.html --><!-- /build -->
