<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container">
    <div class="card wow slideInUp">
        <div class="card-block-big">
            <h1 class="color-primary">About Us</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus sequi illo labore eaque eveniet porro in, molestias deleniti corporis ea repellendus <strong>laborum dolores veniam nam</strong> mollitia culpa accusamus non voluptates corrupti? A inventore et veniam dignissimos, animi suscipit magnam nihil sed repellendus placeat eveniet vitae est impedit alias aliquid eius?</p>
            <p>Perferendis, blanditiis unde fugiat voluptas molestias velit asperiores rerum ipsam animi eum temporibus at numquam, nobis voluptates minus maxime cum obcaecati! Tenetur sit corporis laudantium inventore officia officiis odio repellat dolore quos <a href="#">repudiandae voluptas ad facere</a>, amet placeat animi voluptatem distinctio beatae.</p>
        </div>
        <img src="<%=assets%>/img/demo/team.jpg" alt="" class="img-responsive">
        <div class="card-block-big">
            <h2 class="color-primary">Vision</h2>
            <p>Officia, sapiente consectetur id, similique enim aliquam eligendi. Fugiat quos libero quis adipisci assumenda molestias perspiciatis provident, non soluta numquam quasi iste asperiores quibusdam fuga quaerat excepturi amet porro nam, architecto consequatur qui sed ratione! Tempore asperiores omnis sit totam harum fugit provident magnam, eveniet quis optio? Doloremque, porro dolorum.</p>
            <p class="lead">Lorem ipsum dolor sit amet consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
            <p>Est deserunt expedita saepe minima voluptatum velit. Fugiat rerum dolor sed dolorum sunt possimus eaque magni reiciendis harum, accusantium maiores animi odit eligendi ipsam. Voluptatum architecto nisi repellat sint, nulla tenetur obcaecati excepturi provident at, autem, hic expedita ex totam porro sit soluta maiores fugit nam accusantium odit minima magni.</p>
        </div>
        <div class="bg-info">
            <div class="card-block-big">
                <h2 class="color-white text-center mb-4">Some Achievements</h2>
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-block text-center wow zoomInUp animation-delay-2">
                            <h2 class="counter color-info">450</h2>
                            <i class="fa fa-4x fa-coffee color-info"></i>
                            <p class="mt-2 no-mb lead small-caps color-info">cups of coffee</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-block text-center wow zoomInUp animation-delay-5">
                            <h2 class="counter color-info">64</h2>
                            <i class="fa fa-4x fa-briefcase color-info"></i>
                            <p class="mt-2 no-mb lead small-caps color-info">projects done</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-block text-center wow zoomInUp animation-delay-4">
                            <h2 class="counter color-info">600</h2>
                            <i class="fa fa-4x fa-comments-o color-info"></i>
                            <p class="mt-2 no-mb lead small-caps color-info">comments</p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="card card-block text-center wow zoomInUp animation-delay-3">
                            <h2 class="counter color-info">3500</h2>
                            <i class="fa fa-4x fa-group color-info"></i>
                            <p class="mt-2 no-mb lead small-caps color-info">happy clients</p>
                        </div>
                    </div>
                </div>
                <p class="lead lead-lg text-center mt-4">These numbers are only possible thanks to you. <br> Thank you for growing with us!</p>
            </div>
        </div>
        <div class="card-block-big">
            <p>Totam distinctio laboriosam sapiente, similique aspernatur, eveniet harum blanditiis non labore voluptatibus id perspiciatis impedit nam cum quaerat accusamus fugiat maiores explicabo sint libero esse, tempora autem. Neque non, a nobis impedit eveniet, minus tenetur atque quam itaque modi delectus doloremque sit quisquam consequuntur cumque fuga est exercitationem, repudiandae? Nostrum, excepturi est voluptatem possimus iusto itaque nulla eos. Mollitia impedit sequi quod dolorem eos, ducimus nisi adipisci pariatur a tenetur, neque! Dolorum deserunt harum alias?</p>
            <p>Vitae velit quia minus nostrum blanditiis explicabo, molestiae facere dolor neque unde laborum voluptatibus impedit natus, et ut eligendi perferendis maxime nobis maiores quasi in. Quasi, modi, tempore, incidunt vel nulla vitae cumque dolores asperiores officiis itaque eius laboriosam impedit temporibus. Nemo odio facilis consectetur, numquam aliquid aperiam non maiores iure accusantium deserunt repellat, at ab fugit culpa, voluptas aspernatur placeat praesentium commodi neque. Placeat magni aspernatur nesciunt cupiditate nam inventore sint quidem sit magnam.</p>
            <p>Ipsum earum tempore doloribus itaque illo voluptatum amet, blanditiis ex laborum iure dolorem nesciunt eos quod optio quisquam iste necessitatibus alias eum accusantium tempora ab aspernatur perspiciatis minus? Eaque nobis nostrum ex vitae. Sunt aliquid numquam voluptates rerum deserunt, officiis quasi, enim ab officia, quo, nobis eius repudiandae! Reiciendis ex atque, suscipit odit saepe molestias. Animi consectetur accusamus harum rem laborum magnam incidunt corrupti accusantium assumenda dolorum sequi, ipsum, atque dolores quos ea minima totam?</p>
        </div>
        <div data-type="vimeo" data-video-id="30555090"></div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
