<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-hero-img-coffee ms-bg-fixed ms-hero-bg-primary">
    <div class="container">
        <div class="text-center mt-2">
            <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="ms-avatar-hero animated zoomIn animation-delay-7">
            <h1 class="color-white mt-4 animated fadeInUp animation-delay-10">Ana Sanz</h1>
            <h3 class="color-medium no-mb animated fadeInUp animation-delay-10">@anasanz</h3>
        </div>
    </div>
</div>

<div class="container">
    <div class="card card-hero card-primary animated fadeInUp animation-delay-7">
        <div class="card-header-100 bg-primary-dark">
            <div class="row">
                <div class="col-sm-2 col-xs-4 col-sm-offset-3">
                    <div class="item">
                        <span>142</span>Posts
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <div class="item">
                        <span>75</span>Comments
                    </div>
                </div>
                <div class="col-sm-2 col-xs-4">
                    <div class="item">
                        <span>96</span>Tweets
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-4">
                <div class="card-block">
                    <h2 class="color-primary no-mb">Personal Information</h2>
                </div>
                <table class="table table-no-border table-striped">
                    <tr>
                        <th><i class="zmdi zmdi-account mr-1 color-royal"></i> User Name</th>
                        <td>anasanz</td>
                    </tr>
                    <tr>
                        <th><i class="zmdi zmdi-face mr-1 color-warning"></i> Fullname</th>
                        <td>Ana Sanz</td>
                    </tr>
                    <tr>
                        <th><i class="zmdi zmdi-male-female mr-1 color-success"></i> Gender</th>
                        <td>Female</td>
                    </tr>
                    <tr>
                        <th><i class="zmdi zmdi-email mr-1 color-primary"></i> Email</th>
                        <td><a href="#">ana.sanz@example.com</a></td>
                    </tr>
                    <tr>
                        <th><i class="zmdi zmdi-link mr-1 color-danger"></i> Website</th>
                        <td><a href="#">www.example.com</a></td>
                    </tr>
                    <tr>
                        <th><i class="zmdi zmdi-calendar mr-1 color-info"></i> Member Since</th>
                        <td>Mar 21, 2015</td>
                    </tr>
                </table>
            </div>
            <div class="col-md-4">
                <div class="card-block">
                    <h2 class="color-primary">Recent Posts</h2>
                    <div class="media mb-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="holder.js/64x64?theme=social">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="no-m"><a href="#">Lorem ipsum dolor sit</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="holder.js/64x64?theme=lava">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="no-m"><a href="#">Lorem ipsum dolor sit</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                    <div class="media mb-3">
                        <div class="media-left">
                            <a href="#">
                                <img class="media-object" src="holder.js/64x64?theme=sky">
                            </a>
                        </div>
                        <div class="media-body">
                            <h4 class="no-m"><a href="#">Lorem ipsum dolor sit</a></h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-block">
                    <h2 class="color-primary">Recent contacts</h2>
                    <div class="ms-media-list">
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="<%= assets %>/img/demo/avatar6.jpg">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading color-warning">Maria Sharaphova</h4>
                                <a href="mailto:joe@example.com?subject=feedback">maria.sha@example.com</a>
                                <div class="">
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="<%= assets %>/img/demo/avatar3.jpg">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading color-warning">Rafael Nadal</h4>
                                <a href="mailto:joe@example.com?subject=feedback">rafa.nad@example.com</a>
                                <div class="">
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                        <div class="media">
                            <div class="media-left media-middle">
                                <a href="#">
                                    <img class="media-object" src="<%= assets %>/img/demo/avatar5.jpg">
                                </a>
                            </div>
                            <div class="media-body">
                                <h4 class="media-heading color-warning">Roger Federer</h4>
                                <a href="mailto:joe@example.com?subject=feedback">roger.fef@example.com</a>
                                <div class="">
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-xs no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<div class="container">
    <h1 class="color-primary text-center mb-4">Recent Activity</h1>
    <div class="row">
        <div class="col-md-12">
            <ul class="ms-timeline">
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2016 <span>October</span></time>
                        <i class="ms-timeline-point"></i>
                    </div>
                    <div class="card card-primary">
                        <div class="card-header">
                            <h3 class="card-title">Simple text event in Timeline</h3>
                        </div>
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus officiis autem magni et, nisi eveniet nulla magnam tenetur voluptatem dolore, assumenda delectus error porro animi architecto dolorum quod veniam nesciunt.
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2016 <span>March</span></time>
                        <i class="ms-timeline-point bg-royal"></i>
                        <img src="<%= assets %>/img/demo/avatar6.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-royal">
                        <div class="card-header">
                            <h3 class="card-title">Card Title</h3>
                        </div>
                        <div class="card-block">
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="<%= assets %>/img/demo/office1.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-sm-8">
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, praesentium, quam! Quia fugiat aperiam.</p>
                                    <p>Perspiciatis soluta voluptate dolore officiis libero repellat cupiditate explicabo atque facere aliquam.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2015 <span>October</span></time>
                        <i class="ms-timeline-point bg-success"></i>
                    </div>
                    <div class="card card-success-inverse">
                        <div class="card-block">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Necessitatibus officiis autem magni et, nisi eveniet nulla magnam tenetur voluptatem dolore, assumenda delectus error porro animi architecto dolorum quod veniam nesciunt.
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2015 <span>February</span></time>
                        <i class="ms-timeline-point bg-warning"></i>
                        <img src="<%= assets %>/img/demo/avatar2.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Card Title</h3>
                        </div>
                        <div class="card-block">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nulla recusandae blanditiis architecto soluta culpa obcaecati quis earum atque consequuntur.</p>
                            <div class="row">
                                <div class="col-sm-4">
                                    <img src="<%= assets %>/img/demo/office2.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-sm-4">
                                    <img src="<%= assets %>/img/demo/office3.jpg" alt="" class="img-responsive">
                                </div>
                                <div class="col-sm-4">
                                    <img src="<%= assets %>/img/demo/office4.jpg" alt="" class="img-responsive">
                                </div>
                            </div>
                            <br>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ipsum voluptates eius placeat dolorum reprehenderit ducimus accusamus magni aspernatur at dolore assumenda quae suscipit enim veritatis obcaecati molestias laudantium maxime!</p>
                        </div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2014 <span>July</span></time>
                        <i class="ms-timeline-point"></i>
                    </div>
                    <div class="card">
                        <blockquote class="blockquote-color-bg-primary withripple color-white">
                            <p><strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, quam semper libero.</p>
                            <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                        </blockquote>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2014 <span>January</span></time>
                        <i class="ms-timeline-point bg-info"></i>
                        <img src="<%= assets %>/img/demo/avatar3.jpg" class="ms-timeline-point-img">
                    </div>
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">Card Title</h3>
                        </div>
                        <div data-type="youtube" data-video-id="9ZfN87gSjvI"></div>
                    </div>
                </li>
                <li class="ms-timeline-item wow materialUp">
                    <div class="ms-timeline-date">
                        <time class="timeline-time" datetime="">2013 <span>June</span></time>
                        <i class="ms-timeline-point"></i>
                    </div>
                    <div class="card">
                        <div class="ms-hero-bg-primary ms-hero-img-coffee">
                            <h3 class="color-white index-1 text-center no-m pt-4">Victoria Smith</h3>
                            <div class="color-medium index-1 text-center np-m">@vic_smith</div>
                            <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                        </div>
                        <div class="card-block pt-4 text-center">
                            <h3 class="color-primary">Bio</h3>
                            <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                            <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
