<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-hero-img-team ms-hero-bg-royal">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">What Our Customers Say</h1>
            <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">This is what our customers say about us and our products. Get to know the <span class="color-warning">Material Style</span> experience today.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card card-hero card-flat bg-transparent">
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-danger wow zoomInUp animation-delay-7">
                    <div class="ms-hero-bg-danger ms-hero-img-city">
                        <h3 class="color-white index-1 text-center no-m pt-4">Victoria Smith</h3>
                        <div class="color-medium index-1 text-center np-m">Apple Inc.</div>
                        <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                    </div>
                    <blockquote class="mt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
                    <div class="ms-hero-bg-warning ms-hero-img-meeting ">
                        <h3 class="color-white index-1 text-center no-m pt-4">Alexander Bolt</h3>
                        <div class="color-medium index-1 text-center np-m">Verzion</div>
                        <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                    </div>
                    <blockquote class="mt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-info wow zoomInUp animation-delay-7">
                    <div class="ms-hero-bg-info ms-hero-img-airplane">
                        <h3 class="color-white index-1 text-center no-m pt-4">Tomhas Anderson</h3>
                        <div class="color-medium index-1 text-center np-m">Ebay</div>
                        <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                    </div>
                    <blockquote class="mt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
                    <div class="ms-hero-bg-success ms-hero-img-mountain">
                        <h3 class="color-white index-1 text-center no-m pt-4">Richard Sporck</h3>
                        <div class="color-medium index-1 text-center np-m">Amazon</div>
                        <img src="<%= assets %>/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
                    </div>
                    <blockquote class="mt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-primary wow zoomInUp animation-delay-7">
                    <div class="ms-hero-bg-primary ms-hero-img-coffee">
                        <h3 class="color-white index-1 text-center no-m pt-4">Samantha Swift</h3>
                        <div class="color-medium index-1 text-center np-m">Microsoft</div>
                        <img src="<%= assets %>/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
                    </div>
                    <blockquote class="mt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="col-md-4 col-sm-6">
                <div class="card mt-4 card-royal wow zoomInUp animation-delay-7">
                    <div class="ms-hero-bg-royal ms-hero-img-city2">
                        <h3 class="color-white index-1 text-center no-m pt-4">Barbara Wotz</h3>
                        <div class="color-medium index-1 text-center np-m">Google Inc.</div>
                        <img src="<%= assets %>/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
                    </div>
                    <blockquote class="mt-4">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante ultricies nisi vel augue quam semper libero.</p>
                        <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
