<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page ms-hero-img-city ms-hero-bg-primary mb-4">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Project Milestones</h1>
            <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7 mb-4">Discover the most <span class="color-warning">important milestones</span> of our projects. Our commitment is always the maximum in every project for a timely and quality delivery.</p>
            <a href="javascript:void(0)" class="btn btn-raised btn-white color-primary"><i class="zmdi zmdi-desktop-mac"></i> View Projects</a>
        </div>
    </div>
</div>

<div class="container">
    <h1 class="text-center"><span class="label label-primary">2016</span></h1>
    <section class="row timeline-center">
        <div class="col-sm-6">
            <article class="card card-primary timeline-center-item left wow slideInLeftTiny">
                <header class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-flag"></i> Heading Event - 9 July</h3>
                </header>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus numquam, voluptatibus tempore sint nesciunt id accusantium corporis ea assumenda iure quos, temporibus accusamus cupiditate eveniet mollitia illum ipsum porro aut.</p>
                </div>
            </article>
            <article class="card card-danger timeline-center-item left wow slideInLeftTiny">
                <header class="card-header">
                    <h3 class="card-title">Card Title</h3>
                </header>
                <img src="<%= assets %>/img/demo/demo992.jpg" alt="" class="img-responsive">
                <div class="card-block">
                    <h3 class="color-danger">Lorem ipsum dolor sit</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Laborum, praesentium, quam! Quia fugiat aperiam.</p>
                    <p>Perspiciatis soluta voluptate dolore officiis libero repellat cupiditate explicabo atque facere aliquam.</p>
                </div>
            </article>
            <article class="card card-royal timeline-center-item left wow slideInLeftTiny">
                <header class="card-header">
                    <h3 class="card-title">Card Title</h3>
                </header>
                <div class="card-block">
                    <div class="card-block">
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nam, nulla recusandae blanditiis architecto soluta culpa obcaecati quis earum atque consequuntur.</p>
                        <div class="row">
                            <div class="col-lg-4 col-sm-12 col-xs-6">
                                <img src="<%= assets %>/img/demo/office2.jpg" alt="" class="img-responsive thumbnail">
                            </div>
                            <div class="col-lg-4 col-sm-12 col-xs-6">
                                <img src="<%= assets %>/img/demo/office3.jpg" alt="" class="img-responsive thumbnail">
                            </div>
                            <div class="col-lg-4 col-sm-12 col-xs-6">
                                <img src="<%= assets %>/img/demo/office4.jpg" alt="" class="img-responsive thumbnail">
                            </div>
                        </div>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis, ipsum voluptates eius placeat dolorum reprehenderit ducimus accusamus magni aspernatur at dolore assumenda quae suscipit enim veritatis obcaecati molestias laudantium maxime!</p>
                    </div>
                </div>
            </article>
            <article class="card timeline-center-item left wow slideInLeftTiny">
                <blockquote class="blockquote-color-bg-primary withripple color-white">
                    <p><strong>Blockquote in timeline!</strong> consectetur adipiscing elit. Integer sodales sagittis magna. consectetur adipiscing elit sed consequat, quam semper libero.</p>
                    <footer>Someone famous in <cite title="Source Title">Source Title</cite></footer>
                </blockquote>
            </article>
            <article class="card card-primary timeline-center-item left wow slideInLeftTiny">
                <header class="card-header">
                    <h3 class="card-title">Card Title</h3>
                </header>
                <div class="withripple zoom-img">
                    <a href="javascript:void(0);">
                        <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="card-block text-center">
                    <a href="javascript:void(0)" class="btn-circle btn-circle-primary btn-circle-raised btn-card-float wow zoomInDown"><i class="zmdi zmdi-star"></i></a>
                    <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                    <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-star"></i> Button</a>
                    <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                </div>
            </article>
        </div>
        <div class="col-sm-6">
            <article class="card card-info timeline-center-item right wow fadeInUp">
                <header class="card-header">
                    <h3 class="card-title"><i class="zmdi zmdi-play-circle-outline"></i> Video Card</h3>
                </header>
                <div data-type="youtube" data-video-id="9ZfN87gSjvI"></div>
            </article>
            <article class="card card-warning-inverse timeline-center-item right wow fadeInUp">
                <div class="card-block text-center">
                    <span class="ms-icon ms-icon-white ms-icon-round ms-icon-xlg"><i class="zmdi zmdi-cloud-outline color-warning"></i></span>
                    <h4 class="color-light">Lorem ipsum dolor</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Id quam odio voluptates porro harum ducimus non provident, dolor, modi accusantium rem quis neque labore facilis</p>
                    <a href="javascript:void(0)" class="btn btn-white"><i class="zmdi zmdi-airplane"></i> Button</a>
                </div>
            </article>
            <article class="card card-success timeline-center-item right wow fadeInUp">
                <header class="card-header">
                    <h3 class="card-title">Card Title</h3>
                </header>
                <div class="withripple zoom-img">
                    <a href="javascript:void(0);">
                        <img src="<%= assets %>/img/demo/m1.jpg" alt="" class="img-responsive">
                    </a>
                </div>
                <div class="card-block text-center">
                    <h4 class="color-success">Lorem ipsum dolor sit</h4>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit. Praesentium non velit at natus ut dolores iusto totam doloremque perspiciatis. Quidem.</p>
                    <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                    <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-flower"></i> Button</a>
                </div>
            </article>
            <article class="card card-info timeline-center-item right wow fadeInUp">
                <header class="card-header">
                    <h3 class="card-title">Card Title</h3>
                </header>
                <img src="<%= assets %>/img/demo/demo992.jpg" alt="" class="img-responsive">
            </article>
            <article class="card card-danger-inverse timeline-center-item right wow fadeInUp">
                <header class="card-header">
                    <h3 class="card-title">Card Title</h3>
                </header>
                <div class="card-block">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Possimus numquam, voluptatibus tempore sint nesciunt id accusantium corporis ea assumenda iure quos, temporibus accusamus cupiditate eveniet mollitia illum ipsum porro aut.</p>
                </div>
            </article>
        </div>
    </section>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
