<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-hero-img-meeting ms-hero-bg-dark-light">
    <div class="container">
        <div class="text-center">
            <h1 class="no-m ms-site-title center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Our Clients</h1>
            <p class="lead lead-lg color-light text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam quas, ad necessitatibus a tenetur laborum odio ab sunt suscipit.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="card card-hero card-flat bg-transparent">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="card card-warning wow zoomInUp animation-delay-5">
                    <div class="text-center bg-warning">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/nokia.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-warning">Nokia</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-royal wow zoomInUp animation-delay-5">
                    <div class="text-center bg-royal">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/microsoft.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-royal">Microsoft</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-success wow zoomInUp animation-delay-5">
                    <div class="text-center bg-success">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/intel.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-success">Intel</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-primary wow zoomInUp animation-delay-5">
                    <div class="text-center bg-primary">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/maxis.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-primary">Maxis</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-danger wow zoomInUp animation-delay-5">
                    <div class="text-center bg-danger">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/sony.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-danger">Sony</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="card card-info wow zoomInUp animation-delay-5">
                    <div class="text-center bg-info">
                        <a href="javascript:void()" class=""><img src="<%= assets %>/img/demo/samsung.png" alt="..." class=""></a>
                    </div>
                    <div class="card-block text-center">
                        <h3 class="color-info">Samsung</h3>
                        <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                        <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-link"></i> Website</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
