<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-hero-img-city2 ms-hero-bg-primary">
    <div class="container">
        <div class="text-center">
            <span class="ms-logo ms-logo-lg ms-logo-white center-block mb-2 mt-2 animated zoomInDown animation-delay-5">M</span>
            <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Material<span>Style</span> Team</h1>
            <p class="lead lead-lg color-medium text-center center-block mt-2 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">These are <span class="colorStar">the professionals</span> who, every day, make progress <span class="colorStar">the projects of our clients</span>.</p>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-danger wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-danger ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar1.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-danger">Victoria Smith</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-info wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-info ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar2.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-info">Charlie Durant</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-warning wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-warning ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar3.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-warning">Joan Fawert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-royal wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-royal ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar4.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-royal">Sophie Marks</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-success wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-success ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar5.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-success">Cris Polner</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>

        <div class="col-md-4 col-sm-6">
            <div class="card mt-4 card-primary wow zoomInUp animation-delay-7">
                <div class="ms-hero-bg-primary ms-hero-img-city">
                    <img src="<%= assets %>/img/demo/avatar6.jpg" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-6 text-center">
                    <h3 class="color-primary">Julia Robert</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur alter adipisicing elit. Facilis, natuse inse voluptates officia repudiandae beatae magni es magnam autem molestias.</p>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-facebook"><i class="zmdi zmdi-facebook"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-twitter"><i class="zmdi zmdi-twitter"></i></a>
                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mt-1 mr-1 no-mr-md btn-instagram"><i class="zmdi zmdi-instagram"></i></a>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
