<!-- build:include layout/header.html --><!-- /build -->

<header class="ms-hero-page-bottom bg-primary-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-7 hero-img-col">
                <div class="text-center color-white">
                    <h1 class="animated zoomInDown animation-delay-6">Google Pixel</h1>
                    <p class="lead lead-xl animated zoomInUp animation-delay-8">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Facilis omnis quod inventore officiis nulla nihil.</p>
                </div>

                <ol class="service-list service-list-white service-list-border list-unstyled">
                    <li class="animated fadeInDown animation-delay-9">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nihil suscipit cupiditate expedita hic earum vero sint, recusandae itaque, rem distinctio.</li>
                    <li class="animated fadeInDown animation-delay-11">Totam porro sit, obcaecati quos quae iure tenetur, soluta voluptatem sapiente rerum ipsam delectus corporis voluptates voluptate, nulla mollitia pariatur.</li>
                    <li class="animated fadeInDown animation-delay-13">Amet dolorum ullam, rerum ratione distinctio, quia iusto rem! Asperiores et quas, ratione in dolores dolorum doloribus magni suscipit labore obcaecati quos quae iure tenetur.</li>
                </ol>

                <div class="text-center mb-4">
                    <a href="javascript:void(0)" class="btn btn-raised btn-white color-warning animated zoomInUp animation-delay-15"><i class="zmdi zmdi-download"></i> Download</a>
                    <a href="javascript:void(0)" class="btn btn-raised btn-warning animated zoomInUp animation-delay-17"><i class="zmdi zmdi-shopping-basket"></i> Get Now</a>
                </div>
            </div>
            <div class="col-lg-6 col-md-5 text-center mt-6">
                <div class="img-phone-container">
                    <img class="img-responsive animated zoomInDown animation-delay-3 index-1" src="<%= assets %>/img/demo/pixel1.png">
                    <img class="img-responsive img-phone-left" src="<%= assets %>/img/demo/pixel3.png">
                    <img class="img-responsive img-phone-right" src="<%= assets %>/img/demo/pixel2.png">
                </div>
            </div>
        </div>
    </div>
</header>

<div class="container mt-6">
    <h2 class="text-center color-primary mb-2 wow fadeInDown animation-delay-4">Know our amazing features</h2>
    <p class="lead text-center aco wow fadeInDown animation-delay-5 mw-800 center-block mb-4"> Lorem ipsum dolor sit amet, <span class="color-primary">consectetur adipisicing</span> elit. Dolor alias provident excepturi eligendi, nam numquam iusto eum illum, ea quisquam.</p>
    <div class="row">
        <div class="col-md-3">
            <div class="card card-info wow zoomInUp animation-delay-5">
                <div class="bg-info">
                    <img src="<%= assets %>/img/demo/m1.png" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h4 class="color-info">A Feature Title</h4>
                    <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                    <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Action here</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-danger wow zoomInUp animation-delay-6">
                <div class="bg-danger">
                    <img src="<%= assets %>/img/demo/m2.png" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h4 class="color-danger">A Feature Title</h4>
                    <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                    <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Action here</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-warning wow zoomInUp animation-delay-7">
                <div class="bg-warning">
                    <img src="<%= assets %>/img/demo/m3.png" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h4 class="color-warning">A Feature Title</h4>
                    <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                    <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Action here</a>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="card card-success wow zoomInUp animation-delay-8">
                <div class="bg-success">
                    <img src="<%= assets %>/img/demo/m4.png" alt="..." class="img-avatar-circle">
                </div>
                <div class="card-block pt-4 text-center">
                    <h4 class="color-success">A Feature Title</h4>
                    <p>Eaque repellendus nemo deserunt qui sequi laborum officiis assumenda caecati.</p>
                    <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Action here</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container mt-6">
    <div class="text-center">
        <h2 class="color-primary wow fadeInUp">Knows the <span class="text-normal">Material Style</span> and surprise yourself</h2>
        <p class="lead wow fadeInUp">Put here a short description or brief highlights in your app.</p>
    </div>
    <div class="mw-800 center-block">
        <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-3" role="tablist">
            <li class="wow fadeInDown animation-delay-6" role="presentation"><a href="#windows" aria-controls="windows" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-windows"></i> <span class="hidden-xs">Windows</span></a></li>
            <li class="wow fadeInDown animation-delay-4 active" role="presentation"><a href="#macos" aria-controls="macos" role="tab" data-toggle="tab" class="withoutripple"><i class="zmdi zmdi-apple"></i> <span class="hidden-xs">MacOS</span></a></li>
            <li class="wow fadeInDown animation-delay-2" role="presentation"><a href="#linux" aria-controls="linux" role="tab" data-toggle="tab" class="withoutripple"><i class="fa fa-linux"></i> <span class="hidden-xs">Linux</span></a></li>
        </ul>
    </div>
    <div class="panel-body">
        <!-- Tab panes -->
        <div class="tab-content mt-4">
            <div role="tabpanel" class="tab-pane fade" id="windows">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                        <ul class="list-unstyled hand-list">
                            <li class="animated fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>/img/demo/surface.png">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane active in fade" id="macos">
                <div class="row">
                    <div class="col-md-6 col-lg-5">
                        <ul class="list-unstyled hand-list">
                            <li class="wow fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="wow fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="wow fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>/img/demo/new_mac.png">
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane fade" id="linux">
                <div class="row">
                    <div class="col-md-6 col-lg-5 col-md-push-6 col-lg-push-7">
                        <ul class="list-unstyled hand-list">
                            <li class="animated fadeInLeft animation-delay-2">
                                <h2 class="handwriting no-mt color-primary no-mb">Ideas for your product</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-4">
                                <h2 class="handwriting no-mt color-primary no-mb">Type here annotations</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum sapiente.</p>
                            </li>
                            <li class="animated fadeInLeft animation-delay-6">
                                <h2 class="handwriting no-mt color-primary no-mb">An informal approach to design</h2>
                                <p class="lead handwriting">Lorem ipsum dolor sit amet, consectetur adipisicing elit provident tempore porro deserunt nostrum.</p>
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-6 col-lg-7 col-md-pull-6 col-lg-pull-5">
                        <img class="img-responsive animated zoomInDown animation-delay-3" src="<%= assets %>/img/demo/ubuntu_tablet.png">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<div class="container mt-6">
    <div class="text-center mb-4">
        <h2>Knows the <span class="text-normal">Material Style</span> and surprise yourself</h2>
    </div>
    <div class="row">
        <div class="col-md-6">
            <h3 class="color-primary wow fadeInUp animation-delay-2">Description</h3>
            <p class="wow fadeInUp animation-delay-3">Lorem ipsum dolor sit amet, <strong>consectetur adipisicing elit</strong>. Repellat cum laudantium quos tempora magnam voluptas sint perspiciatis nulla ipsa itaque atque quod incidunt maiores iusto, laborum, magni aliquam. Aut eligendi nesciunt nobis eum dolorum maxime corporis dicta, repudiandae eveniet ab laboriosam minima voluptate quaerat sequi modi suscipit cumque unde rerum.</p>
            <p class="wow fadeInUp animation-delay-4">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis porro, magni obcaecati cupiditate nulla rem quae, eveniet corrupti reprehenderit maiores nobis doloribus expedita non quasi itaque. Incidunt, delectus quidem vitae laudantium, natus <a href="#">quibusdam odio eius eligendi</a> tenetur! Ea, repudiandae eveniet ab minima laboriosam minima voluptate quaerat sequi harum.</p>
        </div>
        <div class="col-md-6">
            <div class="panel-group ms-collapse" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-primary wow fadeInUp animation-delay-2">
                    <div class="panel-heading" role="tab" id="headingOne2">
                        <h4 class="panel-title">
                            <a class="withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseOne2" aria-expanded="true" aria-controls="collapseOne2">
                                <i class="fa fa-lightbulb-o"></i> Talent and creativity
                            </a>
                        </h4>
                    </div>
                    <div id="collapseOne2" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne2">
                        <div class="panel-body in">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Obcaecati molestiae id ipsum ipsa repudiandae. Voluptatum, molestias, quas magnam repellat quos facilis sequi. Ullam optio eius deleniti dolore quasi doloribus ipsam.</p>
                            <p>Dolores, corrupti, laborum, officia sit aliquam doloremque accusantium nemo sunt veniam est incidunt perferendis minima obcaecati ex aperiam voluptatibus blanditiis eum suscipit magnam dolorum in adipisci nihil.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary wow fadeInUp animation-delay-5">
                    <div class="panel-heading" role="tab" id="headingTwo2">
                        <h4 class="panel-title">
                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseTwo2" aria-expanded="false" aria-controls="collapseTwo2">
                                <i class="fa fa-desktop"></i> Design and code
                            </a>
                        </h4>
                    </div>
                    <div id="collapseTwo2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo2">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit dignissimos inventore cupiditate expedita saepe enim nobis nostrum? Laborum, laudantium, maiores, cupiditate, perspiciatis at ad accusamus.</p>
                            <p>Incidunt, harum itaque voluptatum asperiores recusandae explicabo maiores. Alias, quos, ex impedit at error id laborum fugit architecto qui beatae molestiae dolorum rem veritatis quia aliquam totam.</p>
                        </div>
                    </div>
                </div>
                <div class="panel panel-primary wow fadeInUp animation-delay-7">
                    <div class="panel-heading" role="tab" id="headingThree3">
                        <h4 class="panel-title">
                            <a class="collapsed withripple" role="button" data-toggle="collapse" data-parent="#accordion2" href="#collapseThree2" aria-expanded="false" aria-controls="collapseThree2">
                                <i class="fa fa-user"></i> Quality and Support
                            </a>
                        </h4>
                    </div>
                    <div id="collapseThree2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree2">
                        <div class="panel-body">
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia, rerum unde doloribus accusamus pariatur non expedita quibusdam velit totam obcaecati. Consequatur, deserunt, asperiores quam nisi earum voluptates.</p>
                            <p>Dolorum, aliquam, totam labore saepe error a eum culpa assumenda sint laudantium ipsa iure ullam et dicta nesciunt repellendus optio voluptatibus reprehenderit odit officia fugiat necessitatibus recusandae architecto.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
