<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page mb-6 ms-hero-bg-primary ms-hero-img-coffee">
    <h2 class="text-center no-m pt-4 pb-4 color-white index-1">Item Title</h2>
    <p class="lead color-white index-1 text-center">Put here the description of your work.</p>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="card">

                <div class="">
                    <div id="carousel-example-generic" class="ms-carousel carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <img src="<%= assets %>/img/demo/port20.jpg" alt="...">
                                <div class="carousel-caption">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="<%= assets %>/img/demo/port2.jpg" alt="...">
                                <div class="carousel-caption">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                            <div class="item">
                                <img src="<%= assets %>/img/demo/port3.jpg" alt="...">
                                <div class="carousel-caption">
                                    <h3>Lorem ipsum dolor</h3>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                                </div>
                            </div>
                        </div>

                        <!-- Controls -->
                        <a href="#carousel-example-generic" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary left carousel-control" role="button" data-slide="prev"><i class="zmdi zmdi-chevron-left"></i></a>
                        <a href="#carousel-example-generic" class="btn-circle btn-circle-xs btn-circle-raised btn-circle-primary right carousel-control" role="button" data-slide="next"><i class="zmdi zmdi-chevron-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="ms-hero-bg-primary ms-hero-img-mountain">
                    <h2 class="text-center no-m pt-4 pb-4 color-white index-1">Item Info</h2>
                </div>
                <div class="card-block">
                    <h3 class="color-primary no-mt">Data</h3>
                    <ul class="list-unstyled">
                        <li><strong>Title:</strong> the title item</li>
                        <li><strong>Categories:</strong> Nature, Landscape, animals.</li>
                        <li><strong>Author:</strong> Andrew Ryan</li>
                        <li><strong>Year:</strong> 2014</li>
                    </ul>
                    <h3 class="color-primary">Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur quas adipisicing elit. Voluptatem vitae similique illum quia ipsa a temporibus ratione libero aliquam debitis temporibus.</p>
                    <p>Lorem ipsum similique illum quia ipsa elit consectetur.</p>
                    <p class="text-center"><a href="#" class="btn btn-raised btn-primary"><i class="fa fa-desktop"></i> Live Preview</a></p>
                </div>
            </div>
        </div>
    </div>
    <h2 class="right-line mt-6">Related Works</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <a href="javascript:void(0)">
                    <img src="<%= assets %>/img/demo/port4.jpg" alt="..." class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="javascript:void(0)">
                    <img src="<%= assets %>/img/demo/port7.jpg" alt="..." class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="javascript:void(0)">
                    <img src="<%= assets %>/img/demo/port9.jpg" alt="..." class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
