<!-- build:include layout/header.html --><!-- /build -->

<div class="ms-hero-page-override ms-hero-bg-primary ms-hero-img-coffee">
    <h2 class="text-center no-m pt-4 pb-4 color-white index-1 animated fadeInUp animation-delay-7">Item Title</h2>
    <p class="lead color-white index-1 text-center animated fadeInUp animation-delay-9">Put here the description of your work.</p>
</div>

<div class="container">
    <div class="card card-hero animated fadeInUp animation-delay-7">
        <img src="<%= assets %>/img/demo/portG1.jpg" alt="..." class="img-responsive">
        <div class="row">
            <div class="col-md-6">
                <div class="card-block">
                    <h3 class="color-primary">Data</h3>
                    <ul class="list-unstyled">
                        <li><strong>Title:</strong> the title item</li>
                        <li><strong>Categories:</strong> Nature, Landscape, animals.</li>
                        <li><strong>Author:</strong> Andrew Ryan</li>
                        <li><strong>Year:</strong> 2014</li>
                        <li><strong>Tags:</strong>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-info">Design</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-danger">Productivity</a>
                            <a href="javascript:void(0)" class="ms-tag ms-tag-royal">Resources</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card-block">
                    <h3 class="color-primary">Description</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur quas adipisicing elit. Voluptatem vitae similique illum quia ipsa a temporibus ratione libero aliquam debitis temporibus.</p>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iusto illum ad, quidem totam inventore numquam in temporibus eligendi quisquam sequi.</p>
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-raised btn-primary btn-block"><i class="fa fa-desktop"></i> Live Preview</a>
    </div>
    <h2 class="right-line mt-6">Related Works</h2>
    <div class="row">
        <div class="col-md-4">
            <div class="card">
                <a href="javascript:void(0)">
                    <img src="<%= assets %>/img/demo/port4.jpg" alt="..." class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="javascript:void(0)">
                    <img src="<%= assets %>/img/demo/port7.jpg" alt="..." class="img-responsive">
                </a>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card">
                <a href="javascript:void(0)">
                    <img src="<%= assets %>/img/demo/port9.jpg" alt="..." class="img-responsive">
                </a>
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer.html --><!-- /build -->
