<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container">

    <div class="text-center mb-6">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Portfolio</h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Discover our projects and the <span class="colorStar">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.</p>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row text-center">
                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-warning btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port3.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-success">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port5.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-info">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 category-3">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 category-3">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-warning btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port8.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-success">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port10.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-info">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port12.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->
                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port13.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-success">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port14.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-info">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port15.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-warning btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port16.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-success">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port17.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-info">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port18.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port19.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-royal btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-royal">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-royal"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-royal btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port20.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-primary btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-primary">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-primary"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-primary btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port21.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-success btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-success">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-success"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-success btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port22.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-danger btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-danger">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-danger"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-danger btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-info btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-info">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-info"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-info btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail ms-thumbnail-horizontal">
                            <img src="<%= assets %>/img/demo/port24.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center">
                            <a href="javascript:void(0)" class="btn-circle btn-circle-warning btn-circle-raised btn-card-float right wow zoomInDown index-2"><i class="zmdi zmdi-star"></i></a>
                            <h4 class="color-warning">Lorem ipsum dolor sit</h4>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam sed labore autem nesciunt ea veniam recusandae necessitatibus reprehenderit.</p>
                            <a href="javascript:void(0)" class="btn btn-warning"><i class="zmdi zmdi-star"></i> Button</a>
                            <a href="javascript:void(0)" class="btn btn-warning btn-raised"><i class="zmdi zmdi-globe"></i> Button</a>
                        </div>
                    </div>
                </div> <!-- item -->
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/portfolio.js"></script>

</body>
</html>
