<!-- build:include layout/header.html --><!-- /build -->

<div class="material-background"></div>

<div class="container">

    <div class="text-center mb-6">
        <h1 class="no-m ms-site-title color-white center-block ms-site-title-lg mt-2 animated zoomInDown animation-delay-5">Portfolio</h1>
        <p class="lead lead-lg color-white text-center center-block mt-2 mb-4 mw-800 text-uppercase fw-300 animated fadeInUp animation-delay-7">Discover our projects and the <span class="colorStar">rigorous process</span> of creation. Our principles are creativity, design, experience and knowledge.</p>
    </div>

    <div class="card hidden-xs">
        <div class="card-header bg-primary">
            <h3 class="card-title text-center"><i class="zmdi zmdi-filter-list"></i>Filter List</h3>
        </div>
        <div class="row no-m">
            <div class="col-lg-8 col-sm-12 no-pr no-pl">
                <h4 class="text-center no-mb">Categories</h4>
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-7" role="tablist">
                    <li class="active"><a class="withoutripple no-pl no-pr filter" data-filter="all" href="#cat" aria-controls="cat" role="tab" data-toggle="tab">All</a></li>
                    <li><a class="withoutripple no-pl no-pr filter"  data-filter=".category-1" href="#cat1" aria-controls="cat1" role="tab" data-toggle="tab">Web Design</span></a></li>
                    <li><a class="withoutripple no-pl no-pr filter"  data-filter=".category-2" href="#cat2" aria-controls="cat2" role="tab" data-toggle="tab">Nature</a></li>
                    <li><a class="withoutripple no-pl no-pr filter"  data-filter=".category-3" href="#cat3" aria-controls="cat3" role="tab" data-toggle="tab">People</a></li>
                    <li><a class="withoutripple no-pl no-pr filter"  data-filter=".category-4" href="#cat4" aria-controls="cat4" role="tab" data-toggle="tab">Landscape</a></li>
                    <li><a class="withoutripple no-pl no-pr filter"  data-filter=".category-5" href="#cat5" aria-controls="cat5" role="tab" data-toggle="tab">Cities</a></li>
                    <li><a class="withoutripple no-pl no-pr filter"  data-filter=".category-6" href="#cat6" aria-controls="cat6" role="tab" data-toggle="tab">Fashion</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 no-pr no-pl">
                <h4 class="text-center no-mb">Columns</h4>
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-4" role="tablist">
                    <li><a id="Cols1" class="withoutripple" href="#home7" aria-controls="home7" role="tab" data-toggle="tab">1</a></li>
                    <li><a id="Cols2" class="withoutripple" href="#profile7" aria-controls="profile7" role="tab" data-toggle="tab">2</span></a></li>
                    <li class="active"><a id="Cols3" class="withoutripple" href="#messages7" aria-controls="messages7" role="tab" data-toggle="tab">3</a></li>
                    <li><a id="Cols4" class="withoutripple" href="#settings7" aria-controls="settings7" role="tab" data-toggle="tab">4</a></li>
                </ul>
            </div>
            <div class="col-lg-2 col-sm-6 no-pr no-pl">
                <h4 class="text-center no-mb">Description</h4>
                <ul class="nav nav-tabs nav-tabs-transparent indicator-primary nav-tabs-full nav-tabs-2" role="tablist">
                    <li ><a id="portShow" class="withoutripple" href="#show" aria-controls="show" role="tab" data-toggle="tab">Show</a></li>
                    <li class="active"><a id="portHide" class="withoutripple" href="#hide" aria-controls="hide" role="tab" data-toggle="tab">Hide</a></li>
                </ul>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row text-center" id="Container">
                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port1.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port2.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port3.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port4.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-4">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port5.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-6 category-3">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port6.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2 category-3">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port7.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port8.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-5">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port9.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port10.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-4">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port11.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port12.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->
                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port13.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port14.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-3">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port15.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port16.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-4">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port17.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port18.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port19.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-1">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port20.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-5">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port21.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-2">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port22.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-4">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port23.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->

                <div class="col-md-4 col-sm-6 mix category-6">
                    <div class="card width-auto">
                        <figure class="ms-thumbnail">
                            <img src="<%= assets %>/img/demo/port24.jpg" alt="" class="img-responsive">
                            <figcaption class="ms-thumbnail-caption text-center">
                                <div class="ms-thumbnail-caption-content">
                                    <h4 class="ms-thumbnail-caption-title mb-2">Lorem ipsum dolor</h4>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs mr-1 btn-circle-white color-danger"><i class="zmdi zmdi-favorite"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 mr-1 btn-circle-white color-warning"><i class="zmdi zmdi-star"></i></a>
                                    <a href="javascript:void(0)" class="btn-circle btn-circle-raised btn-circle-xs ml-1 btn-circle-white color-success"><i class="zmdi zmdi-share"></i></a>
                                </div>
                            </figcaption>
                        </figure>
                        <div class="card-block text-center portfolio-item-caption hidden">
                            <h3 class="color-primary no-mt">Lorem ipsum dolor</h3>
                            <p>Explicabo consequatur quidem praesentium quas qui  eius ina Cupiditate ratione sint.</p>
                        </div>
                    </div>
                </div> <!-- item -->
            </div>
        </div>
    </div>
</div> <!-- container -->

<!-- build:include layout/footer/footbar.html --><!-- /build -->
<!-- build:include layout/footer/foot.html --><!-- /build -->

</div> <!-- sb-site-container -->

<!-- build:include layout/slidebar.html --><!-- /build -->
<!-- build:include layout/footer/scripts.html --><!-- /build -->
<script src="<%= assets %>/js/portfolio.js"></script>

</body>
</html>
