<!-- build:js <%=assets%>/js/plugins.min.js -->
    <script src="<%= assets %>/js/jquery.min.js"></script>
    <script src="<%= assets %>/js/jquery.cookie.js"></script>
    <script src="<%= assets %>/js/bootstrap.min.js"></script>
    <script src="<%= assets %>/js/bootstrap-select.min.js"></script>
    <script src="<%= assets %>/js/holder.min.js"></script>
    <script src="<%= assets %>/js/Slidebars.min.js"></script>
    <script src="<%= assets %>/js/jquery.matchHeight-min.js"></script>
    <script src="<%= assets %>/js/prism.js"></script>
    <script src="<%= assets %>/js/prism-line-numbers.min.js"></script>
    <script src="<%= assets %>/js/wow.min.js"></script>
    <script src="<%= assets %>/js/plyr.js"></script>
    <script src="<%= assets %>/js/imagesloaded.pkgd.min.js"></script>
    <script src="<%= assets %>/js/masonry.pkgd.min.js"></script>
    <script src="<%= assets %>/js/jquery.waypoints.min.js"></script>
    <script src="<%= assets %>/js/jquery.counterup.min.js"></script>
    <script src="<%= assets %>/js/Chart.bundle.min.js"></script>
    <script src="<%= assets %>/js/chartjs-plugin-deferred.min.js"></script>
    <script src="<%= assets %>/js/circles.min.js"></script>
    <script src="<%= assets %>/js/owl.carousel.min.js"></script>
    <script src="<%= assets %>/js/jquery.countdown.min.js"></script>
    <script src="<%= assets %>/js/jquery.mixitup.min.js"></script>
    <script src="<%= assets %>/js/smooth-scroll.min.js"></script>
    <script src="<%= assets %>/js/typed.min.js"></script>
    <script src="<%= assets %>/js/snackbar.min.js"></script>
<!-- /build -->

<!-- build:js:dist,navbar,demo <%=assets%>/js/app.min.js -->
    <script src="<%= assets %>/js/ripples.js"></script>
    <script src="<%= assets %>/js/material.js"></script>
    <script src="<%= assets %>/js/DropdownHover.js"></script>
    <script src="<%= assets %>/js/tabs.js"></script>
    <script src="<%= assets %>/js/app.js"></script>
<!-- /build -->

<!-- build:js:demo <%=assets%>/js/configurator.min.js --><!-- /build -->
