<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">

    <meta name="theme-color" content="#333">

    <title>Material Style</title>
    <meta name="description" content="Material Style Theme">

    <link rel="shortcut icon" href="<%= assets %>/img/favicon.png?v=3">

    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

    <link rel="stylesheet" type="text/css" href="<%= assets %>/plugins/revolution/revolution/fonts/pe-icon-7-stroke/css/pe-icon-7-stroke.css">

    <!-- REVOLUTION STYLE SHEETS -->
    <link rel="stylesheet" type="text/css" href="<%= assets %>/plugins/revolution/revolution/css/settings.css">
    <!-- REVOLUTION LAYERS STYLES -->

    <link rel="stylesheet" type="text/css" href="<%= assets %>/plugins/revolution/revolution/css/layers.css">

    <!-- REVOLUTION NAVIGATION STYLES -->
    <link rel="stylesheet" type="text/css" href="<%= assets %>/plugins/revolution/revolution/css/navigation.css">

    <!-- build:css:dist,navbar,demo <%=assets%>/css/preload.min.css -->
        <link rel="stylesheet" href="<%= assets %>/css/preload.css">
    <!-- /build -->

    <!-- build:css <%=assets%>/css/plugins.min.css -->
        <link rel="stylesheet" href="<%= assets %>/css/animate.min.css">
        <link rel="stylesheet" href="<%= assets %>/css/bootstrap.min.css">
        <link rel="stylesheet" href="<%= assets %>/css/bootstrap-select.min.css">
        <link rel="stylesheet" href="<%= assets %>/css/font-awesome.min.css">
        <link rel="stylesheet" href="<%= assets %>/css/material-design-iconic-font.min.css">
        <link rel="stylesheet" href="<%= assets %>/css/Slidebars.min.css">
        <link rel="stylesheet" href="<%= assets %>/css/prism-onedark.css">
    <!-- /build -->

    <!-- TYPEWRITER ADDON -->
    <script type="text/javascript" src="<%= assets %>/plugins/revolution/revolution-addons/typewriter/js/revolution.addon.typewriter.min.js"></script>
    <link rel="stylesheet" type="text/css" href="<%= assets %>/plugins/revolution/revolution-addons/typewriter/css/typewriter.css">

    <!-- build:css:dist,navbar,demo <%=assets%>/css/style.<%=primaryColor%>.min.css -->
        <link rel="stylesheet" href="<%= assets %>/css/style.themed.css">
    <!-- /build -->


    <!-- build:remove:dist,navbar,dev -->
        <link rel="stylesheet" href="<%= assets %>/css/width-boxed.min.css" id="ms-boxed" disabled="">
    <!-- /build -->

    <!--[if lt IE 9]>
        <script src="<%= assets %>/js/html5shiv.min.js"></script>
        <script src="<%= assets %>/js/respond.min.js"></script>
    <![endif]-->



</head>

<body>
