<nav class="navbar navbar-static-top yamm ms-navbar <%= navbarClass %>">
    <div class="container container-full">
        <div class="navbar-header">
            <a class="navbar-brand" href="index.html">
                <!-- <img src="<%= assets %>/img/demo/logo-navbar.png" alt=""> -->
                <span class="ms-logo ms-logo-sm">M</span>
                <span class="ms-title">Material <strong>Style</strong></span>
            </a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown active">
                    <a href="javascript:void(0)" class="dropdown-toggle animated fadeIn animation-delay-4" data-toggle="dropdown" data-hover="dropdown" data-name="home">Home <i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li>
                            <div class="ms-menu-double">
                                <ul class="ms-menu-double-main-menu">
                                    <li class="active"><a href="#tab-1" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-home"></i> General Purpose</a></li>
                                    <li><a href="#tab-2" data-hover="tab"><i class="zmdi zmdi-desktop-windows"></i> Landing pages</a></li>
                                    <li><a href="#tab-9" data-hover="tab"><i class="zmdi zmdi-panorama-horizontal"></i> Slider Revolution</a></li>
                                    <li><a href="#tab-3" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-store"></i> Shop</a></li>
                                    <li><a href="#tab-8" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-account"></i> Professional Profile</a></li>
                                    <li><a href="#tab-4" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-edit"></i> Blog Template</a></li>
                                    <li><a href="#tab-5" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-flip"></i> Magazine Template</a></li>
                                    <li><a href="#tab-6" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-smartphone-iphone"></i> App Pages</a></li>
                                    <li><a href="#tab-7" data-hover="tab" data-toggle="tab"><i class="zmdi zmdi-search"></i> Classified Ads</a></li>
                                </ul>

                                <div class="tab-content ms-menu-double-submenu-container">
                                    <div class="tab-pane active" id="tab-1">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="index.html">Default Home</a></li>
                                            <li><a href="home-generic-2.html">Home Black Slider</a></li>
                                            <li><a href="home-generic-3.html">Home Browsers Intro</a></li>
                                            <li><a href="home-generic-4.html">Home Mobile Intro</a></li>
                                            <li><a href="home-generic-5.html">Home Material Icons</a></li>
                                            <li><a href="home-generic-6.html">Home Typed Hero</a></li>
                                            <li><a href="home-generic-7.html">Home Typed Hero 2</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-2">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-landing.html">Home Landing Intro</a></li>
                                            <li><a href="home-landing2.html">Home Landing Intro 2</a></li>
                                            <li><a href="home-landing4.html">Home Landing Intro 3</a></li>
                                            <li><a href="home-landing3.html">Home Landing Video</a></li>
                                            <li><a href="home-cv3.html">Home Profile Landing 1</a></li>
                                            <li><a href="home-cv4.html">Home Profile Landing 2</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Landing Video 2 (Next Update)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-9">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-revolution.html">Home Revolution Devices <span class="label label-success pull-right">1.3</span></a></li>
                                            <li><a href="home-revolution2.html">Home Revolution App <span class="label label-success pull-right">1.3</span></a></li>
                                            <li><a href="home-revolution3.html">Home Revolution Video <span class="label label-success pull-right">1.3</span></a></li>
                                            <li><a href="home-revolution4.html">Home Revolution Idea <span class="label label-success pull-right">1.3</span></a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-3">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-shop.html">Home Shop 1</a></li>
                                            <li><a href="home-shop2.html">Home Shop 2</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Home Shop 3 (Next Update)</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Home Shop 4 (Next Update)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-8">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-cv.html">Home Profile 1</a></li>
                                            <li><a href="home-cv2.html">Home Profile 2</a></li>
                                            <li><a href="home-cv3.html">Home Profile Landing 1</a></li>
                                            <li><a href="home-cv4.html">Home Profile Landing 2</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-4">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-blog.html">Home Blog 1</a></li>
                                            <li><a href="home-blog2.html">Home Blog 2</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Home Blog 3 (Next Update)</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Home Blog 4 (Next Update)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-5">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-magazine.html">Home Magazine 1</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Magazine 2 (Next Update)</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Magazine 3 (Next Update)</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Magazine 4 (Next Update)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-6">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-app.html">Home App 1</a></li>
                                            <li><a href="home-app2.html">Home App 2</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Home App 3 (Next Update)</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Home App 4 (Next Update)</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-pane" id="tab-7">
                                        <ul class="ms-menu-double-submenu">
                                            <li><a href="home-class.html">Home Classifieds 1</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Classifieds 2 (Next Update)</a></li>
                                            <li class="disable"><a href="javascript:void(0)">Classifieds 3 (Next Update)</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropdown-toggle animated fadeIn animation-delay-5" data-toggle="dropdown" data-hover="dropdown" data-name="page">Pages <i class="zmdi zmdi-chevron-down"></i></a>
                     <ul class="dropdown-menu dropdown-menu-left animated-2x animated fadeIn">
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">About us &amp; Team</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-about.html">About us Option 1</a></li>
                                <li><a href="page-about2.html">About us Option 2</a></li>
                                <li><a href="page-about3.html">About us Option 3</a></li>
                                <li><a href="page-about4.html">About us Option 4</a></li>
                                <li class="divider"></li>
                                <li><a href="page-team.html">Our Team Option 1</a></li>
                                <li><a href="page-team2.html">Our Team Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Form</a>
                            <ul class="dropdown-menu">
                                <li><a href="page-contact.html">Contact Option 1</a></li>
                                <li><a href="page-contact2.html">Contact Option 2</a></li>
                                <li class="divider"></li>
                                <li><a href="page-login_register.html">Login &amp; Register</a></li>
                                <li><a href="page-login.html">Login Full</a></li>
                                <li><a href="page-login2.html">Login Integrated</a></li>
                                <li class="divider"></li>
                                <li><a href="page-login_register2.html">Register Option 1</a></li>
                                <li><a href="page-register2.html">Register Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Profiles</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-profile.html">User Profile Option 1</a></li>
                                <li><a href="page-profile2.html">User Profile Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Error</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-404.html">Error 404 Full Page</a></li>
                                <li><a href="page-404_2.html">Error 404 Integrated</a></li>
                                <li><a href="page-500.html">Error 500 Full Page</a></li>
                                <li><a href="page-500_2.html">Error 500 Integrated</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Bussiness &amp; Products</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-testimonial.html">Testimonials</a></li>
                                <li><a href="page-clients.html">Our Clients</a></li>
                                <li><a href="page-product.html">Products</a></li>
                                <li><a href="page-services.html">Services</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Pricing</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-pricing.html">Pricing Box</a></li>
                                <li><a href="page-pricing2.html">Pricing Box 2</a></li>
                                <li><a href="page-princing_table.html">Pricing Mega Table</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">FAQ &amp; Support</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-support.html">Support Center</a></li>
                                <li><a href="page-faq.html">FAQ Option 1</a></li>
                                <li><a href="page-faq2.html">FAQ Option 2</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Coming Soon</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-coming.html">Coming Soon Option 1</a></li>
                                <li><a href="page-coming2.html">Coming Soon Option 2</a></li>
                                <li><a href="page-coming3.html">Coming Soon Option 3</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Timeline</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-timeline_left.html">Timeline Left</a></li>
                                <li><a href="page-timeline_left2.html">Timeline Left 2</a></li>
                                <li><a href="page-timeline.html">Timeline Center</a></li>
                            </ul>
                        </li>
                        <li class="dropdown-submenu">
                            <a href="javascript:void(0)" class="has_children">Email Templates</a>
                            <ul class="dropdown-menu dropdown-menu-left">
                                <li><a href="page-email.html" class="with-label">Email Template 1 <span class="label label-success text-right">1.2</span></a></a></li>
                                <li><a href="page-email2.html" class="with-label">Email Template 2 <span class="label label-success text-right">1.2</span></a></a></li>
                            </ul>
                        </li>
                        <li><a href="page-all.html" class="dropdown-link">All Pages</a></li>
                    </ul>
                </li>
                <li class="dropdown yamm-fw">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-6" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="component">UI Elements <i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu dropdown-megamenu animated fadeIn animated-2x">
                        <li>
                            <div class="row">
                                <div class="col-sm-3 megamenu-col">
                                    <div class="megamenu-block animated fadeInLeft animated-2x">
                                        <h3 class="megamenu-block-title"><i class="fa fa-bold"></i> Bootstrap CSS</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-typography.html"><i class="fa fa-font"></i> Typography</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-headers.html"><i class="fa fa-header"></i> Headers</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-dividers.html"><i class="fa fa-arrows-h"></i> Dividers</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-blockquotes.html"><i class="fa fa-quote-right"></i> Blockquotes</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-forms.html"><i class="fa fa-check-square-o"></i> Forms</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-tables.html"><i class="fa fa-table"></i> Tables</a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="megamenu-block animated fadeInLeft animated-2x">
                                        <h3 class="megamenu-block-title"><i class="fa fa-hand-o-up"></i> Buttons</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-basic-buttons.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Basic Buttons</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-buttons-components.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Buttons Components</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-social-buttons.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Social Buttons <span class="label label-info pull-right"><i class="zmdi zmdi-long-arrow-up no-mr"></i> 1.3</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="col-sm-3 megamenu-col">
                                    <div class="megamenu-block animated fadeInLeft animated-2x">
                                        <h3 class="megamenu-block-title"><i class="fa fa-list-alt"></i> Basic Components</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-panels.html">
                                                    <i class="zmdi zmdi-view-agenda"></i> Panels</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-alerts.html">
                                                    <i class="zmdi zmdi-info"></i> Alerts &amp; Wells</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-labels.html">
                                                    <i class="zmdi zmdi-tag"></i> Labels &amp; Badges</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-lists.html">
                                                    <i class="zmdi zmdi-view-list"></i> Lists</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-thumbnails.html">
                                                    <i class="zmdi zmdi-image-o"></i> Thumbnails</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-carousels.html">
                                                    <i class="zmdi zmdi-view-carousel"></i> Carousels</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-modals.html">
                                                    <i class="zmdi zmdi-window-maximize"></i> Modals</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-tooltip.html">
                                                    <i class="zmdi zmdi-pin-help"></i> Tooltip &amp; Popover</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-progress-bars.html">
                                                    <i class="zmdi zmdi-view-headline"></i> Progress Bars</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-pagination.html">
                                                    <i class="zmdi zmdi-n-2-square"></i> Pagination</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-dropdowns.html">
                                                    <i class="fa fa-info"></i> Dropdowns</a>
                                            </li>
                                        </ul>
                                    </div>

                                </div>
                                <div class="col-sm-3 megamenu-col">
                                    <div class="megamenu-block animated fadeInRight animated-2x">
                                        <h3 class="megamenu-block-title"><i class="zmdi zmdi-folder-star-alt"></i> Extra Components</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-cards.html">
                                                    <i class="zmdi zmdi-card-membership"></i> Cards</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-composite-cards.html">
                                                    <i class="zmdi zmdi-card-giftcard"></i>  Composite Cards</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-counters.html">
                                                    <i class="zmdi zmdi-n-6-square"></i> Counters</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-audio-video.html">
                                                    <i class="zmdi zmdi-play-circle"></i> Audio &amp; Video</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-masonry.html">
                                                    <i class="zmdi zmdi-view-dashboard"></i> Masonry Layer</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-snackbar.html">
                                                    <i class="zmdi zmdi-notifications-active"></i> SnackBar <span class="label label-success pull-right">1.2</span></a>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="megamenu-block animated fadeInRight animated-2x">
                                        <h3 class="megamenu-block-title"><i class="zmdi zmdi-tab"></i> Collapses &amp; Tabs</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-collapses.html">
                                                    <i class="zmdi zmdi-view-day"></i> Collapses</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-horizontal-tabs.html">
                                                    <i class="zmdi zmdi-tab"></i> Horitzontal Tabs</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-vertical-tabs.html">
                                                    <i class="zmdi zmdi-menu"></i> Vertical Tabs</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>

                                <div class="col-sm-3 megamenu-col">
                                    <div class="megamenu-block animated fadeInRight animated-2x">
                                        <h3 class="megamenu-block-title"><i class="fa fa-briefcase"></i> Icons</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-icons-basic.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Basic Icons</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-icons-fontawesome.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Font Awesome</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-icons-iconic.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Material Design Iconic</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-icons-glyphicons.html">
                                                    <i class="fa fa-arrow-circle-right"></i> Glyphicons</a>
                                            </li>
                                        </ul>
                                    </div>

                                    <div class="megamenu-block animated fadeInRight animated-2x">
                                        <h3 class="megamenu-block-title"><i class="fa fa-area-chart"></i> Charts</h3>
                                        <ul class="megamenu-block-list">
                                            <li>
                                                <a class="withripple" href="component-charts-circle.html">
                                                    <i class="zmdi zmdi-chart-donut"></i> Circle Charts</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-charts-bar.html">
                                                    <i class="fa fa-bar-chart"></i> Bars Charts</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-charts-line.html">
                                                    <i class="fa fa-line-chart"></i> Line Charts</a>
                                            </li>
                                            <li>
                                                <a class="withripple" href="component-charts-more.html">
                                                    <i class="fa fa-pie-chart"></i> More Charts</a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-7" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="blog">Blog <i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="blog-sidebar.html"><i class="zmdi zmdi-view-compact"></i> Blog Sidebar 1</a></li>
                        <li><a href="blog-sidebar2.html"><i class="zmdi zmdi-view-compact"></i> Blog Sidebar 2</a></li>
                        <li><a href="blog-masonry.html"><i class="zmdi zmdi-view-dashboard"></i> Blog Masonry 1</a></li>
                        <li><a href="blog-masonry2.html"><i class="zmdi zmdi-view-dashboard"></i> Blog Masonry 2</a></li>
                        <li><a href="blog-full.html"><i class="zmdi zmdi zmdi-view-stream"></i> Blog Full Page 1</a></li>
                        <li><a href="blog-full2.html"><i class="zmdi zmdi zmdi-view-stream"></i> Blog Full Page 2</a></li>
                        <li class="divider"></li>
                        <li><a href="blog-post.html"><i class="zmdi zmdi-file-text"></i> Blog Post 1</a></li>
                        <li><a href="blog-post2.html"><i class="zmdi zmdi-file-text"></i> Blog Post 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-8" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="portfolio">Portfolio <i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="portfolio-filters_sidebar.html"><i class="zmdi zmdi-view-compact"></i> Portfolio Sidebar Filters</a></li>
                        <li><a href="portfolio-filters_topbar.html"><i class="zmdi zmdi-view-agenda"></i> Portfolio Topbar Filters</a></li>
                        <li><a href="portfolio-filters_sidebar_fluid.html"><i class="zmdi zmdi-view-compact"></i> Portfolio Sidebar Fluid</a></li>
                        <li><a href="portfolio-filters_topbar_fluid.html"><i class="zmdi zmdi-view-agenda"></i> Portfolio Topbar Fluid</a></li>
                        <li><a href="portfolio-cards.html"><i class="zmdi zmdi-card-membership"></i> Porfolio Cards</a></li>
                        <li><a href="portfolio-masonry.html"><i class="zmdi zmdi-view-dashboard"></i> Porfolio Masonry</a></li>
                        <li class="divider"></li>
                        <li><a href="portfolio-item.html"><i class="zmdi zmdi-collection-item-1"></i> Portfolio Item 1</a></li>
                        <li><a href="portfolio-item2.html"><i class="zmdi zmdi-collection-item-2"></i> Portfolio Item 2</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle animated fadeIn animation-delay-9" data-toggle="dropdown" data-hover="dropdown" role="button" aria-haspopup="true" aria-expanded="false" data-name="ecommerce">E-Commerce <i class="zmdi zmdi-chevron-down"></i></a>
                    <ul class="dropdown-menu">
                        <li><a href="ecommerce-filters.html">E-Commerce Sidebar</a></li>
                        <li><a href="ecommerce-filters-full.html">E-Commerce Sidebar Full</a></li>
                        <li><a href="ecommerce-filters-full2.html">E-Commerce Topbar Full</a></li>
                        <li class="divider"></li>
                        <li><a href="ecommerce-item.html">E-Commerce Item</a></li>
                        <li><a href="ecommerce-cart.html">E-Commerce Cart</a></li>
                    </ul>
                </li>
                <!-- <li class="btn-navbar-menu"><a href="javascript:void(0)" class="sb-toggle-left"><i class="zmdi zmdi-menu"></i></a></li> -->
            </ul>
        </div> <!-- navbar-collapse collapse -->
        <a href="javascript:void(0)" class="sb-toggle-left btn-navbar-menu"><i class="zmdi zmdi-menu"></i></a>
    </div> <!-- container -->
</nav>
